<div class="modal-content" style="background-color: #484b4e;border-color: black;">
    <div class="modal-header sckola-modal-header">
        <h4 class="modal-title sckola-modal-title color-white">Ingresar a Sckola</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-12">
                <form role="form" name="form" id="form" class="form-group" novalidate>
                    <div class="form-horizontal" style="display: inline-flex;">
                            <div class="col-sm-6" style="width: auto;">
                                <div id="fb-root" class="fb_reset"></div>
                                <a id='fb-login' ng-click="vm.clickFacebook()" class="btn btn-facebook btn-lg">
                                <i class="fa fa-facebook fa-2x"></i>&nbsp;&nbsp;&nbsp;Ingresar con Facebook</a>
                                </a>
                            </div>
                            <div class="col-sm-6" style="width: auto;">
                                <div id="fb-root" class="fb_reset"></div>
                                <a id='fb-login' ng-click="vm.goToDashboard()" class="btn btn-facebook btn-lg" style="height: 73px; line-height: 2; color: #f9f26c;">
                                    Continuar sin Facebook</a>
                                </a>
                            </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>