<div class="modal-content" style="background-color: #484b4e;border-color: black;">
    <div class="modal-header sckola-modal-header">
        <button type="button" class="close" ng-click="vm.closeRecover()" aria-hidden="true"
                style="color: white;">&nbsp;x&nbsp;</button>
        <h4 class="modal-title sckola-modal-title color-white">Activar cuenta</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-12">
                <form role="form" name="form" id="form" class="form-group" novalidate>
                    <div  class="form-horizontal" style="margin-left: 10%">
                        <label for="inputPassword" class="col-sm-3 color-white">
                            Contraseña: </label>
                        <div class="col-sm-7">
                            <input type="password" style="margin-top: 10px" id="inputPassword" placeholder="Contraseña"
                                   class="form-control input-sm"
                                   ng-model="vm.newPassword.password">
                        </div>
                    </div>
                    <div  class="form-horizontal" style="margin-left: 10%">
                        <label for="passwordRepeat" class="col-sm-3 color-white">
                            Repetir Contraseña: </label>
                        <div class="col-sm-7">
                            <input type="password" style="margin-top: 10px" id="passwordRepeat" placeholder="Contraseña"
                                   class="form-control input-sm"
                                   ng-change="vm.validatePassword(vm.newPasswordRepeat)"
                                   ng-model="vm.newPasswordRepeat">
                            <div ng-messages="vm.error">
                                <!--<div ng-message="required" class="color-white">Este campo es requerido</div>-->
                                <div ng-message="password" style="font-size: 16px; color: red;" ng-show="vm.error">La contraseña no es la misma</div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <div class="row">
            <div class="col-sm-12" style="display: inline-block; text-align: center">
                <button type="button" class="btn btn-default sckola-btn modal-list-btn animate-show-hide"
                        ng-click="vm.validationCuenta()"
                        ng-disabled="form.$invalid || vm.error"
                        style="margin-top:0%;">Activar</button>
            </div>
        </div>
    </div>
</div>