<div class="modal-content" style="background-color: #484b4e;border-color: black;">
    <div class="modal-header sckola-modal-header">
                <button type="button" class="close" ng-click="vm.close()" aria-hidden="true"
                        style="color: white;">&nbsp;x&nbsp;</button>
                <h4 class="modal-title sckola-modal-title color-white">Solicitud de invitación</h4>
    </div>
    <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <form role="form" name="form" id="form" class="form-horizontal" novalidate>
                            <div class="form-group" style="margin-left: 10%; padding-right: 2%">
                                <label for="fullName" class="col-sm-3 color-white">
                                     Nombre completo *</label>
                                <div class="col-sm-7">
                                    <input style="margin-left: 2%" ng-model="vm.invitation.name" type="text" class="form-control" id="fullName"
                                           name="fullName" required placeholder="Nombre y apellido">
                                    <!--<div ng-message="required" class="color-white">Este campo es requerido</div>-->
                                </div>
                            </div>
                            <div class="form-group" style="margin-left: 10%; padding-right: 2%">
                                <label for="email" class="col-sm-3 color-white">
                                    Correo electrónico *</label>
                                <div class="col-sm-7">
                                    <input style="margin-left: 2%" type="email" class="form-control" id="email" name="email"
                                           required
                                           placeholder="ejemplo@mail.com"
                                           maxlength="255"
                                           minlength="6"
                                           ng-model="vm.invitation.mail"
                                           ng-change="vm.emailValidation(form.email)"
                                           ng-pattern="/^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$/"/>
                                    <div ng-messages="form.email.$error">
                                        <!--<div ng-message="required" class="color-white">Este campo es requerido</div>-->
                                        <div ng-message="email" style="font-size: 16px; color: red;" ng-show="vm.error">No es un correo
                                            válido</div>
                                        <div ng-message="minlength" style="font-size: 16px; color: #faaf40;" ng-show="vm.warning">
                                             El correo es demasiado corto</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" style="margin-left: 10%; padding-right: 2%">
                                <label for="phoneNumber" class="col-sm-3 color-white">
                                    Teléfono *</label>
                                <div class="col-sm-7">
                                    <input style="margin-left: 2%"  id="phoneNumber" name="phoneNumber" type="tel" required
                                           class="form-control"
                                           maxlength="10"
                                           minlength="10"
                                           placeholder="212 123 4567"
                                           ng-maxlength="10"
                                           ng-minlength="10"
                                           ng-change="vm.phoneNumberValidation(form.phoneNumber)"
                                           ng-model="vm.invitation.phone"/>
                                    <div ng-messages="form.phoneNumber.$error">
                                        <!--<div ng-message="required" class="color-white">Este campo es requerido</div>-->
                                        <div ng-message="maxlength" style="font-size: 16px; color: #faaf40;"
                                             ng-show="vm.warningPhoneNumber">Longitud máxima 10 caracteres</div>
                                        <div ng-message="minlength" style="font-size: 16px; color: #faaf40;" ng-show="vm.errorPhoneNumber">
                                             Longitud mínima 10 caracteres</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" style="margin-left: 10%; padding-right: 2%; padding-top: 2%;">
                                <label for="job" class="col-sm-3 color-white">
                                    Ocupación *</label>
                                <div class="col-sm-7">
                                    <input style="margin-left: 2%" ng-model="vm.invitation.ocupation" type="text" class="form-control" id="job" name="job"
                                           required placeholder="Ej. Psicólogo escolar">
                                    <!--<div ng-message="required" class="color-white">Este campo es requerido</div>-->
                                </div>
                            </div>
                            <div class="form-group" style="margin-left: 10%;">
                                <label class="col-sm-4 color-white">Participar como *</label>
                                <div class="col-sm-5" style="margin-top: 2%">
                                    <div style="display: inline-flex;">
                                        <input type="checkbox" ng-model="vm.institution" id="checkbox1" name="checkbox1">
                                        <label class="col-sm-3 color-white">Institución</label>
                                    </div>
                                    <div style="display: inline-flex;">
                                        <input type="checkbox" ng-model="vm.profesor" id="checkbox2" name="checkbox2">
                                        <label class="col-sm-3 color-white">Profesor</label>
                                    </div>
                                    <div style="display: inline-flex;">
                                        <input type="checkbox" ng-model="vm.representante" id="checkbox3" name="checkbox3">
                                        <label class="col-sm-3 color-white">Representante</label>
                                    </div>
                                    <div style="display: inline-flex;">
                                        <input type="checkbox" ng-model="vm.estudiante" id="checkbox4" name="checkbox4">
                                        <label class="col-sm-3 color-white">Estudiante</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" style="margin-left: 10%; padding-right: 2%">
                                <label for="institutionName" class="col-sm-3 color-white">
                                    Nombre de la institución *</label>
                                <div class="col-sm-7">
                                    <input style="margin-left: 2%" ng-model="vm.invitation.institution" type="text" class="form-control" id="institutionName"
                                           name="institutionName" required placeholder="Ej. U.E. Colegio San Luis">
                                    <!--<div ng-message="required" class="color-white">Este campo es requerido</div>-->
                                </div>
                            </div>
                            <div class="form-group" style="margin-left: 10%; padding-right: 2%">
                                <label for="activityInSckola" class="col-sm-3 color-white">
                                    ¿Qué desea hacer en Sckola? *</label>
                                <div class="col-sm-7">
                                    <textarea style="margin-left: 2%" ng-model="vm.invitation.other" class="form-control" id="activityInSckola"
                                              name="activityInSckola" required
                                              placeholder="Ej. Gestionar materias">
                                    </textarea>
                                    <!--<div ng-message="required" class="color-white">Este campo es requerido</div>-->
                                </div>
                            </div>

                            <div class="form-group" style="margin-left: 10%;">
                               <div  class="col-sm-12"  style="margin-top: 2%">
                                    <div style="display: inline-flex;">
                                        <input type="checkbox" id="checkbox1" name="checkbox1" ng-model="vm.terms" required>
                                        <p class= "col-sm-12 color-white">
                                            <span>Acepto los </span>
                                            <a href="http://sckola.com/#/termsOfUse"
                                            target="_blank">términos y condiciones</a>
                                            <span> *</span>
                                        </p>
                                    </div>
                               </div>
                            </div>

                            <div class="col-sm-12 color-white" style="margin-left: 10%; 
                            font-weight: bold; letter-spacing: 1px;">
                            Los campos marcados con asterisco (*) son obligatorios</div>
                        </form>
                    </div>
                </div>
    </div>

    <div class="modal-footer">
        <div class="row">
            <div class="col-sm-12" style="display: inline-block; text-align: center">
                <button type="button" class="btn btn-default sckola-btn modal-list-btn animate-show-hide"
                        ng-click="vm.sendInvitation()"
                        ng-disabled="form.$invalid || ( !vm.estudiante && !vm.representante && !vm.profesor && !vm.institution && !vm.terms)"
                        style="margin-top:0%;">Enviar<span class="glyphicon glyphicon-ok"></span></button>
            </div>
        </div>
    </div>
</div>
