<div>
    <div>
        <p>{{vm.roleName}}</p>
    </div>
    <div class="profile-image-container">
        <img src="{{vm.usuario.foto}}" class="profile-image"/> 
    </div>
    <div>
        <p ng-click="vm.goToProfile()"> {{vm.usuario.firstName}}
            <br>
            {{vm.usuario.lastName}}
        </p>
    </div>
    <div class="side-menu-options">
        <ul>
            <li ng-hide="vm.role === 'REPRESENTATIVE' || vm.role === 'STUDENT'" ng-click="vm.goToUploadNotes()">
                <a class="side-menu-item"><span class="glyphicon glyphicon-folder-open pull-left"></span>Notas</a>
            </li>
            <li ng-hide="vm.role === 'TEACHER'" ng-click="vm.goToNotesStudents()">
                <a class="side-menu-item"><span class="glyphicon glyphicon-folder-open pull-left"></span>Notas</a>
            </li>
            <li ng-hide="vm.role === 'REPRESENTATIVE' || vm.role === 'STUDENT'" ng-click="vm.goToAssistances()">
                <a class="side-menu-item"><span class="glyphicon glyphicon-ok pull-left"></span>Asistencia</a>
            </li>
            <li ng-hide="vm.role === 'TEACHER'" ng-click="vm.goToCoursesStudents()">
                <a class="side-menu-item"><span class="glyphicon glyphicon-book pull-left"></span>Clases</a>
            </li>
            <li ng-hide="vm.role === 'REPRESENTATIVE' || vm.role === 'STUDENT'">
                <a class="side-menu-item" ng-href="{{vm.urlToReports}}" target="_blank" ng-click="vm.community == undefined && vm.showMessage()">
                    <span class="glyphicon glyphicon-stats pull-left"></span>Reportes 
                </a>
            </li>
            <li>
                <a class="side-menu-item" ng-href="{{vm.urlToApk}}" target="_blank"><span class="glyphicon glyphicon-phone pull-left"></span>
                    Versión móvil</a>
            </li>
            <li>
                <a class="side-menu-item" ng-href="{{vm.urlToHelp}}" target="_blank">
                    <span class="glyphicon glyphicon-question-sign pull-left">
                    </span>Ayuda
                </a>
            </li>
        </ul>
    </div>
</div>