<form role="form" name="taskForm" novalidate>
    <div class="modal-content color-white" style="background-color: #484b4e;border-color: black;">
        <div class="row modal-body" style="padding-top: 0; padding-bottom: 0;">
        <div>
            <ul class="list-group list-group-section" style="width: 100%; margin-top: -20px;">
                <li class="list-group-item list-group-section-item ember-view col-sm-12">
                    <div ng-show="vm.taskSelect == false">
                    <div class="col-sm-12 alignMiddler div-container" style="margin-bottom:2%">
                        <div class="form-horizontal-login div-list-content" style="width: 100%;">
                            <div class="col-sm-6 alignText color-white" style="width: 50%; padding: 0;">
                                <input class="form-control fillColor" name="titulo" type="text" ng-model="vm.task.name" style="background-color: rgb(59, 61, 62); color: #ffffff;"
                                       placeholder="Titulo" required >
                            </div>
                            <div class="col-sm-6 alignText color-white div-list" style="padding-right: 0;">
                                <select ng-model="vm.matterCommunitySection" name="clase" required ng-disabled="vm.taskEdit"
                                        ng-options="class.matterCommunity.name +' '+ class.section.name for class in vm.communityMatters"
                                        class="form-control center-block" ng-change="vm.selectClassTask(vm.matterCommunitySection)"
                                        style="padding: 0px 18px; background-color: rgb(59, 61, 62); color: #ffffff;">
                                    <option value="">-- Seleccionar Clase --</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 alignMiddler div-container" style="margin-bottom:2%">
                        <div class="form-horizontal-login div-list-content" style="width: 100%;">
                            <textarea ng-model="vm.task.description" class="text-white" style="width: 100%; height: 50px; background-color: rgb(59, 61, 62);" placeholder="Descripción"></textarea>
                        </div>
                    </div>
                    <div class="col-sm-12 alignMiddler div-container">
                        <div class="form-horizontal-login div-list-content" style="width: 100%;">
                            <div class="col-sm-1 alignText color-white" style="width: 30%; padding: 0;">
                                <input type="text" ng-model="vm.task.adjunt" class="form-control" style="background-color: rgb(59, 61, 62); color: #ffffff;" placeholder="adjuntos" >
                            </div>
                            <div class="col-sm-4 alignText color-white div-list">
                                <input type="date" id="birthday" ng-model="vm.completionDate" class="form-control" ng-change="vm.validarCampo()" style="background-color: rgb(59, 61, 62); color: #ffffff;" ng-blur="vm.validarFechaDeNacimiento()"/>
                            </div>
                            <div class="col-sm-5 alignText color-white div-list">
                                <select ng-model="vm.task.evaluacion" name="evaluacion" ng-disabled="vm.evaluationTrue"
                                        ng-options="template.objective for template in vm.evaluations"
                                        class="form-control center-block"
                                        style="padding: 0px 18px; background-color: rgb(59, 61, 62); color: #ffffff;">
                                    <option value="">-- Evaluación --</option>
                                </select>
                            </div>
                            <div class="col-sm-2 alignText color-white div-list">
                                <button type="button"
                                        ng-show="!vm.taskEdit"
                                        ng-disabled="!taskForm.$valid"
                                        ng-click="vm.createTaskFinish();"
                                        class = "btn btn-default sckola-btn"
                                        style="width: auto; margin-bottom: 4%;margin-top: 4%;margin-right: 10%;box-shadow: 6px 5px 16px 0px #252121;">
                                    Crear<span class="glyphicon glyphicon-ok"></span>
                                </button>
                                <button type="button"
                                        ng-show="vm.taskEdit"
                                        ng-disabled="!taskForm.$valid"
                                        ng-click="vm.editTaskFinish()"
                                        class = "btn btn-default sckola-btn"
                                        style="width: auto; margin-bottom: 4%;margin-top: 4%;margin-right: 10%;box-shadow: 6px 5px 16px 0px #252121;">
                                    Guardar<span class="glyphicon glyphicon-ok"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div ng-show="vm.taskSelect" class="first-title">
                        <div class="col-sm-12 alignMiddler div-container" style="margin-bottom:2%">
                            <div class="form-horizontal-login div-list-content" style="width: 100%;">
                                <div class="col-sm-3 alignText text-left color-white" style="padding: 0; font-size: initial;">
                                    {{vm.task.name}}
                                </div>
                                <div class="col-sm-4 alignText text-center color-white div-list" style="padding-right: 0; font-size: large;">
                                    {{vm.task.matterCommunitySectionList[0].matterCommunity.name}} {{vm.task.matterCommunitySectionList[0].section.name}}
                                    <!--<div style="font-size: initial; text-align: end; margin-top: -20px;">
                                        Fecha de entrega: {{vm.task.completionDate}}
                                    </div>-->
                                </div>
                                <div class="col-sm-5 alignText text-right color-white" style="font-size: initial;">
                                    Fecha de entrega: {{vm.task.completionDate}}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 alignMiddler div-container">
                            <div class="form-horizontal-login div-list-content text-white" style="width: 100%;height: 100px; word-break: break-word;">
                                {{vm.task.description}}
                            </div>
                        </div>
                        <div class="col-sm-12 alignMiddler div-container">
                            <div class="form-horizontal-login div-list-content" style="width: 100%; word-break: break-word;">
                                <div class="col-sm-5 alignText color-white" style="padding: 0;">
                                    {{vm.task.adjunt}}
                                </div>
                                <div class="col-sm-3 alignText color-white div-list">
                                    {{vm.task.evaluacion.objective}}
                                </div>
                                <div class="col-sm-4 alignText color-white div-list modal-view-element-content" style="display: flex;">
                                    <button type="button"
                                            ng-click="vm.editTaskRapid()"
                                            class = "btn btn-default sckola-btn"
                                            style="width: auto; margin-bottom: 4%;margin-top: 4%;margin-right: 10%;box-shadow: 6px 5px 16px 0px #252121;">
                                        Editar<span class="glyphicon glyphicon-ok"></span>
                                    </button>
                                    <button type="button"
                                            ng-click="vm.deleteTask()"
                                            class = "btn btn-default sckola-btn"
                                            style="width: auto; margin-bottom: 4%;margin-top: 4%;margin-right: 10%;box-shadow: 6px 5px 16px 0px #252121;">
                                        Eliminar<span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-sm-6" style="padding: 0; height: auto;">
            <div class="list-group-item list-group-section-item ember-view col-sm-12" style="height: 327px; padding: 10px 0px 0px 0px;  overflow-y: auto;">
            <ul class="list-group list-group-section" style="width: 100%;">
                <div class="text-white col-sm-12" style="font-size: medium; padding-bottom: 10px;">
                    Tareas entregadas
                </div>
                <li ng-repeat="task in vm.deliveryTask" class="list-group-item list-group-section-item ember-view col-sm-12" style="word-break: break-word;">
                    <div class="text-white col-sm-5" style="padding: 0%">
                        {{task.user.firstName}} {{task.user.lastName}}
                    </div>
                    <div class="text-white col-sm-4" style="padding: 0%">
                        {{task.adjunt}}
                    </div>
                    <div class="text-white col-sm-3">
                        {{task.completionDate}}
                    </div>
                </li>
            </ul>
            </div>
        </div>
        <div class="col-sm-6" style="padding: 0;">
            <ul class="list-group list-group-section" style="width: 99.7%; margin-bottom: 0;">
                <div style="height: 250px; max-height: 250px; overflow-y: auto;">
                <li ng-repeat="comment in vm.comentario" class="list-group-item list-group-section-item ember-view col-sm-12">
                    <div class="col-sm-2" style="padding-left: 0;">
                        <img src="static/images/{{comment.user.foto}}" border="4"  class="photoEditProfile maxSize" style="width: 55px; height: 55px; max-height:55px;" />
                    </div>
                    <div class="text-white" style="margin-left: 86%;margin-top: 5%;position: absolute;">
                        <span class="glyphicon glyphicon-option-vertical" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="font-size: x-large; z-index: 1000;"></span>
                        <ul ng-class="{'comment-fin': $index >= 3}" id="style-4" class="dropdown-menu list-group backgroundList shadow-feed-element text-center" style="left: -530%; width: 40%; top: 95%; padding: 0;">
                            <li ng-disabled="comment.user.id != vm.user.id" class="list-group-item colorHyperLink list-background child comment" ng-click="vm.deleteComment(comment)" style="cursor: pointer;">Eliminar<span class="glyphicon glyphicon-trash pull-right" style="margin-top: 4px;"></span></li>
                        </ul>
                    </div>
                    <div class="col-sm-10 text-white" style="background-color: rgb(59, 61, 62); word-break: break-word; padding-bottom: 10px;">
                        {{comment.user.firstName}} {{comment.user.lastName}}
                        <div style="float: right;">
                            {{comment.date| date:'dd/MM/yyyy HH:mm'}}
                        </div>
                        <br>
                        {{comment.comment}}
                    </div>
                </li>
                </div>
            </ul>
            <ul class="list-group list-group-section" style="width: 100%;">
                <li class="list-group-item list-group-section-item ember-view col-sm-12">
                    <div>
                        <textarea ng-disabled="!vm.taskSelect" class="text-white" ng-model="vm.comment.comment" style="height: 48px; max-height: 48px; width: 80%; max-width:80%; float: inherit; background-color: rgb(59, 61, 62);"></textarea>
                        <input class="send-button" type="button" ng-disabled="!vm.taskSelect" style="height: 48px; width: 18%; float: right;" ng-click="vm.createComment()" value="Enviar">
                    </div>
                </li>
            </ul>
        </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default sckola-btn btn-matter-modal" style="float: left" ng-click="vm.cancel()">Cerrar <span class="glyphicon glyphicon-remove"></span></button>
        </div>
    </div>
</form>
