<form role="form" name="taskForm" novalidate>
    <div class="modal-content color-white" style="background-color: #484b4e;border-color: black;">
        <div class="row modal-body" style="padding-top: 0; padding-bottom: 0;">
        <div>
            <ul class="list-group list-group-section" style="width: 100%; margin-top: -20px;">
                <li class="list-group-item list-group-section-item ember-view col-sm-12">
                    <div class="col-sm-12 alignMiddler div-container" style="margin-bottom:2%">
                        <div class="form-horizontal-login div-list-content" style="width: 100%;">
                            <div class="col-sm-3 alignText color-white" style="padding: 0; font-size: medium;">
                                {{vm.task.name}}
                            </div>
                            <div class="col-sm-4 alignText text-center color-white div-list" style="padding-right: 0; font-size: large;">
                                {{vm.task.matterCommunitySectionList[0].matterCommunity.name}} {{vm.task.matterCommunitySectionList[0].section.name}}
                                <!--<div style="font-size: initial; text-align: end; margin-top: -20px;">
                                    Fecha de entrega: {{vm.task.completionDate}}
                                </div>-->
                            </div>
                            <div class="col-sm-5 alignText text-right color-white" style="font-size: initial;">
                                Fecha de entrega: {{vm.task.completionDate}}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 alignMiddler div-container" style="margin-bottom:2%">
                        <div class="form-horizontal-login div-list-content text-white" style="width: 100%;height: 100px; word-break: break-word;">
                            {{vm.task.description}}
                        </div>
                    </div>
                    <div class="col-sm-12 alignMiddler div-container" style="margin-bottom:2%">
                        <div class="form-horizontal-login div-list-content" style="width: 100%; word-break: break-word;">
                            <div class="col-sm-6 alignText color-white" style="padding: 0;">
                                {{vm.task.adjunt}}
                            </div>
                            <div class="col-sm-6 alignText color-white div-list">
                                {{vm.task.evaluacion.objective}}
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-sm-6" style="padding: 0; height: auto;">
            <div class="list-group-item list-group-section-item ember-view col-sm-12" style="height: 327px; padding: 0px;  overflow-y: auto;">
            <ul class="list-group list-group-section" style="width: 100%;">
                <li class="list-group-item list-group-section-item ember-view col-sm-12" style="word-break: break-word; height: 415px;">
                    <div class="text-white col-sm-12" style="font-size: medium; text-align: left; padding-bottom: 10px;">
                        Entregar tarea
                    </div>
                    <div style="margin-top: 100px;">
                    <div class="text-white col-sm-2" style="padding: 0%">
                         Adjuntos:
                    </div>
                    <div class="text-white col-sm-10" style="padding: 0%">
                        <input type="text" class="form-control text-white" ng-model="vm.deliverTask.adjunt" placeholder="Adjuntos" style="background-color: rgb(59, 61, 62); color: #ffffff;">
                    </div>
                    </div>
                    <div class="text-white col-sm-12" style="padding: 0%">
                        <button type="button"
                                ng-click="vm.sendTask()"
                                class = "btn btn-default sckola-btn center-block"
                                style="width: auto; margin-bottom: 4%;margin-top: 4%;box-shadow: 6px 5px 16px 0px #252121;">
                            Enviar<span class="glyphicon glyphicon-ok"></span>
                        </button>
                    </div>
                    <div class="col-sm-12 text-white" ng-show="vm.deliveryTaskSend" style="color: lawngreen; text-align: center; font-size: x-large; margin-top: 50px;">
                        <label>¡Entregado!</label>
                        <br>
                        {{vm.deliverTask.completionDate}}
                    </div>
                    <div class="col-sm-12 text-white" ng-hide="vm.deliveryTaskSend" style="color: red; text-align: center; font-size: x-large; margin-top: 50px;">
                        <label>Por entregar</label>
                    </div><div class="col-sm-12 text-white" ng-show="vm.deliveryTaskSend && vm.task.evaluacion != null" style="text-align: center; font-size: x-large; margin-top: 50px;">
                        Nota: {{vm.deliverTask.value}}
                </div>

                </li>
            </ul>
            </div>
        </div>
        <div class="col-sm-6" style="padding: 0;">
            <ul class="list-group list-group-section" style="width: 99.7%; margin-bottom: 0;">
                <div style="height: 250px; max-height: 250px; overflow-y: auto;">
                <li ng-repeat="comentario in vm.comentario" class="list-group-item list-group-section-item ember-view col-sm-12">
                    <div class="col-sm-2" style="padding-left: 0;">
                        <img src="static/images/{{comentario.user.foto}}" border="4"  class="photoEditProfile maxSize" style="width: 55px; height: 55px; max-height:55px;" />
                    </div>
                    <div class="col-sm-10 text-white" style="background-color: rgb(59, 61, 62); word-break: break-word;">
                        {{comentario.user.firstName}} {{comentario.user.lastName}}
                        <div style="float: right;">
                            {{comentario.date| date:'dd/MM/yyyy HH:mm'}}
                        </div>
                        <br>
                        {{comentario.comment}}
                    </div>
                </li>
                </div>
            </ul>
            <ul class="list-group list-group-section" style="width: 100%;">
                <li class="list-group-item list-group-section-item ember-view col-sm-12">
                    <div>
                        <textarea class="text-white" ng-model="vm.comment.comment" style="height: 48px; max-height: 48px; width: 80%; max-width:80%;float: inherit; background-color: rgb(59, 61, 62);"></textarea>
                        <input class="send-button" type="button" style="height: 48px; width: 18%; float: right;" ng-click="vm.createComment()" value="Enviar">
                    </div>
                </li>
            </ul>
        </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default sckola-btn btn-matter-modal" style="float: left" ng-click="vm.cancel()">Cerrar <span class="glyphicon glyphicon-remove"></span></button>
        </div>
    </div>
</form>
