<div class="modal-content" style="background-color: #484b4e;border-color: black;">
    <div class="modal-header sckola-modal-header">
        <label class="color-white sckola-modal-title">Detalle del estudiante</label>
    </div>
    <div class="row modal-body sckola-moda-body">
        <br>
        <div class="col-sm-12">
            <h4 class="color-white font-large">Estudiante: {{ vm.estudiante.firstName }} {{vm.estudiante.lastName}}</h4>
        </div>
        <br>
        <div class="col-sm-12">
            <h4 class="color-white font-large">Materia: {{vm.claseUnic.name}}</h4>
        </div>
        <br>
        <div style="height: 75px;margin-top: 40px;">
            <!--<div ng-show="vm.showSuccessMessageModal || vm.showErrorMessageModal">
                <div class="alert alert-success sckola-alert-success alert-notify success animate-show-hide" ng-show="vm.showSuccessMessageModal" role="alert">{{vm.successMessageModal}}</div>
                <div class="alert alert-danger alert-notify error animate-show-hide" ng-show="vm.showErrorMessageModal" role="alert">{{vm.errorMessageModal}}</div>
            </div>-->
        </div>
        <div class="col-sm-12">
            <div>
                <label class="color-white font-large">Plan de evaluación</label>
            </div>
            <div id="ember2244" class="feed-s-top-bar Sans-13px-black-70% ember-view form-horizontal-login">
                <p class="block-with-text color-white font-large" style="width: 80%;">Evaluación</p> <p class="block-with-text color-white font-large" style="width: 20%;">Nota</p>
            </div>
            <ul class="list-group">
                <li ng-repeat="evaluacion in vm.calificationStudent"
                    class="list-group-item modal-list-item col-sm-12" style="width: 100%">
                    <div class="col-sm-12 alignMiddler form-horizontal-login" >
                        <div class="col-sm-9" style="width:50%;"><p class="color-white font-large">{{ evaluacion.nameEvaluation }}</p></div>
                        <div class="col-sm-9" style="width:40%;"><p class="color-white font-large">{{ evaluacion.dateEvaluation }}</p></div>
                        <div class="col-sm-3 form-horizontal-login" style="width: 20%;">
                            <p class="block-with-text col-sm-7 color-white font-large" ng-show="(evaluacion.cambiar == false || evaluacion.cambiar == null) && evaluacion.qualification.value != null">{{ evaluacion.qualification.value }}</p>
                            <p class="block-with-text col-sm-7 color-white font-large" ng-show="(evaluacion.cambiar == false || evaluacion.cambiar == null) && evaluacion.qualification.value == null">0</p>
                            <select ng-model="evaluacion.qualification" name="scale" required ng-hide="evaluacion.cambiar == false || evaluacion.cambiar == null"
                                    ng-options="scale.value for scale in vm.escala track by scale.value"
                                    style="width: 50%; padding: 5%; margin: 0" ng-change="vm.editarNota(evaluacion)">
                            </select>
                            <span style="padding: 5%" ng-click="vm.modificar(evaluacion)" class="glyphicon glyphicon-pencil color-white font-large"></span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="modal-footer">
        <button class = "btn btn-default sckola-btn pull-right shadow-feed-element" ng-show="vm.botonOk" type="button" ng-click="vm.cerrarl()">
            <span class="glyphicon glyphicon-ok glyphicon-ok-small"></span>
        </button>
    </div>
</div>
