<div>
    <p class="element-title"><span class="glyphicon glyphicon-user"></span>Estudiantes</p>
    <br>
</div>
<div class="container-fluid" set-screen-height>
    <div class="row">
        <div class="col-sm-12">
            <div role="alert" class="alert alert-success sckola-alert-success success animate-show-hide" 
            ng-show="vm.showSuccessMessage">{{vm.successMessage}}
            </div>
            <div role="button" class="alert alert-info sckola-alert-info animate-show-hide" ng-show="vm.showHelp"
            ng-click="vm.helpUser()">
                <p>{{vm.helpMessage}}</p>
            </div>
            <div role="alert" class="alert alert-danger sckola-alert-error error animate-show-hide" 
            ng-show="vm.showError">{{vm.errorMessage}}
            </div>
        </div>
    </div>
    <div class="row">
        <div ng-show="vm.terminate">
            <ul class="list-group">
                <li class="col-sm-12 list-group-item list-group-section-item" 
                ng-repeat="class in vm.communityMatters| orderBy:'matterCommunity.name'" 
                ng-hide="vm.showMessageInitial">
                    <div ng-click="vm.selectClass(class)">
                        <div class="col-sm-2 text-center">
                            <a>
                                <img src="static/images/book.png" class="list-group-section-image">
                            </a>
                        </div>
                        <div class="subject-section-students">
                            <div class="col-sm-10 color-white">
                                <p class="list-group-section-text" role="button">
                                    {{class.matterCommunity.name}}
                                    <span class="list-group-section-text" role="button">
                                        {{class.section.name}}
                                    </span>
                                </p>
                            </div>
                            <div class="col-sm-2">
                                <span class="blue-circle list-group-section-text shadow-feed-element" 
                                title="cantidad de estudiantes" role="button">{{class.section.countStudent}}</span>
                            </div>
                        </div>
                    </div>
                    <div ng-show="class.matterCommunity.selected">
                        <ul list-group>
                            <li class="col-sm-12 border-child list-group-item list-group-section-item" 
                            ng-repeat="student in class.students| orderBy:'firstName'">
                                <div>
                                    <div class="col-sm-2 text-center">
                                        <a>
                                            <img src="static/images/ghostPerson.png" class="list-group-section-image" >
                                        </a>
                                    </div>
                                    <div class="col-sm-8 student-name-email">
                                        <p class="color-white font-large" >{{student.firstName}} {{student.secondName}}
                                        {{student.lastName}} {{student.secondLastName}} 
                                            <strong ng-show="vm.user.id == student.id"> (YO)</strong>
                                        </p>
                                        <p class="color-white font-large student-mail-list" style="word-break: break-word;">
                                            {{student.mail}}
                                        </p>
                                    </div>
                                    <div class="row text-right">
                                        <div class="col-sm-12" ng-hide="vm.role == 'STUDENT'">
                                            <button class="btn btn-default sckola-btn" 
                                            ng-click="vm.studentMatterDesasociar(student)">
                                                <span aria-hidden="true">Desasociar</span>
                                            </button>
                                        </div>
                                    </div>
                                </div> 
                            </li>
                        </ul>
                        <div class="row text-right">
                            <div class="col-sm-12" ng-hide="vm.role == 'STUDENT'">
                                <button class="btn btn-default sckola-btn" ng-click="vm.studentMatterInvitation(class)">
                                    <span aria-hidden="true">Añadir</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6 form-group list-group" ng-show="vm.terminate">
            <button class="btn btn-default sckola-btn" ng-hide="vm.showMessageInitial || vm.role == 'STUDENT'"
            ng-click="$state.go('studentsNew')">
                Invitar estudiante
            </button>
        </div>
    </div>
    <div class="animate-show-hide loader-container" ng-show="!vm.terminate">
        <div class="text-center">
            <p class="text-color">
                <img src="static/images/cargando.gif">
                Cargando
            </p>
        </div>
    </div>
</div>

<!--br/><br/>
<div class="container-fluid" set-screen-height>
    <label class="element-title text-color"><span class="glyphicon glyphicon-user" style="padding-right:10px; margin-bottom: 20%;"></span>Estudiantes</label>
    <br>
    <div class="col-sm-12" style="height: 90px;">
        <div class="alert alert-success sckola-alert-success alert-notify success animate-show-hide" ng-show="vm.showSuccessMessage" style="margin-left: 24%;" role="alert">{{vm.successMessage}}</div>
        <div class="alert alert-info sckola-alert-info
                    alert-notify animate-show-hide"
             ng-show="vm.showHelp"
             ng-click="vm.helpUser()"
             role="alert" style="cursor: pointer;">
            <label style="cursor: pointer;">{{vm.helpMessage}}</label>
        </div>
        <div class="alert alert-danger sckola-alert-error alert-notify error animate-show-hide"
             ng-show="vm.showError" role="alert">
             {{vm.errorMessage}}
        </div>
    </div>
    <div class="row">
        <div class="animate-show-hide" ng-show="vm.terminate">
        <form role="form" name="formStudents" class="form-horizontal">

            <div class="col-sm-offset-1" style="width:95%">

            <ul class="list-group list-group-section">
                <li class="list-group-item initial-message ember-view col-sm-12" ng-show="vm.showMessageInitial">
                </li>
                <li ng-repeat="class in vm.communityMatters| orderBy:'matterCommunity.name'" ng-hide="vm.showMessageInitial" class="list-group-item list-group-section-item ember-view col-sm-12">
                    <div class="col-sm-12 alignMiddler div-container" role="button" style="margin-bottom:2%" ng-click="vm.selectClass(class)">
                        <div  class="col-sm-2" style="width: 20%">
                            <a class=" EntityPhoto-circle-3">
                                <img src="static/images/book.png" class="list-group-section-image">
                            </a>
                        </div>
                        <div class="form-horizontal-login div-list-content" style="width: 80%;">
                            <div class="col-sm-6 alignText color-white" style="width: 50%">
                                <label class="feed-s-pymk-list-item__profile-link ember-view list-group-section-text list-context" role="button">
                                    {{class.matterCommunity.name}}
                                </label>
                            </div>
                            <div class="col-sm-3 alignText color-white div-list">
                                <label class="feed-s-pymk-list-item__profile-link ember-view list-group-section-text list-context" role="button">
                                    {{class.section.name}}
                                </label>
                            </div>
                            <div class="col-sm-2 alignText div-list">
                                <span class="circle-blue list-group-section-circle shadow-feed-element" title="cantidad de estudiantes">{{class.section.countStudent}}</span>
                            </div>
                        </div>
                    </div>
                    <div ng-show="class.matterCommunity.selected">
                        <ul class="list-group" style="margin-top:5%;">
                            <li ng-repeat="student in class.students| orderBy:'firstName'" class="list-group-item list-group-section-item ember-view col-sm-12" style="width: 100%; display: flex;">
                                <div  class="col-sm-2" style="width: 20%; padding-left: 0;">
                                    <a class="feed-s-pymk-list-item__profile-link ember-view">
                                        <img src="static/images/ghostPerson.png" class="list-group-section-image" >
                                    </a>
                                </div>
                                <div class="alignMiddler" style="display: flex; width: 80%">
                                    <div class="col-sm-6 alignText div-student-name">
                                        <label class="feed-s-pymk-list-item__profile-link ember-view">
                                            <h4 class="color-white font-large" >{{student.firstName}} {{student.secondName}} {{student.lastName}} {{student.secondLastName}} <strong ng-show="vm.user.id == student.id"> (YO)</strong></h4>
                                        </label>
                                        <p class="color-white font-large student-mail-list" style="word-break: break-word;">
                                            {{student.mail}}
                                        </p>
                                    </div>
                                    <div class="col-sm-4 div-student-buttom" ng-hide="vm.role == 'STUDENT'">
                                        <button class="btn btn-default sckola-btn button-des" style="width: 100%;margin-top: 18%;box-shadow: 2px 3px 2px 2px #403a3a; padding: 9px 10px;" ng-click="vm.studentMatterDesasociar(student)">
                                            <span aria-hidden="true">Desasociar</span>
                                        </button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="alert alert-info sckola-alert-info alert-notify animate-show-hide" ng-show="class.students.length === 0" role="alert" style="display:flex;">
                          <label >No existen estudiantes en esta sección. ¡Invita estudiantes!</label>
                        </div>
                        <div class="col-sm-12" ng-hide="vm.role == 'STUDENT'">
                            <button class="btn btn-default sckola-btn pull-right shadow-feed-element" style="margin-top: 2%;"  ng-click="vm.studentMatterInvitation(class)">
                                <span aria-hidden="true">Añadir</span>
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
                <br>
                <br>
            <button ng-hide="vm.showMessageInitial || vm.role == 'STUDENT'" class="btn btn-default sckola-btn pull-right shadow-feed-element" style="width: auto;margin-right: 20%;margin-top: 5%;margin-bottom: 2%;" ng-click="$state.go('studentsNew')">
                <span aria-hidden="true">Invitar estudiante</span>
            </button>
            </div>
        </form>
        </div>
        <div class="animate-show-hide" ng-show="!vm.terminate">
            <div style="margin-top: 20%; margin-left: 40%;">
                <label class="text-color" style="font-size: 20px;"><img src="static/images/cargando.gif" style="width: 25px"> Cargando</label>
            </div>
        </div>
    </div>
</div-->
