<br><br>
<div class="container" style="padding: 0px;">
    <ul class="sckola-breadcrumb" style="padding: 0px;">
        <!--<li><a href="#" style="color: #74abdd; text-decoration: none; font-size: 16px; font-family: Roboto, Helvetica, sans-serif!important;" ng-click="vm.home()">Home</a></li>
        <li class="active" style="font-size: 16px;"> Términos y condiciones de uso del Sitio</li>-->
    </ul>
</div>
<div class="container container-element">
  <div style="margin-right: 20px; margin-left: 20px;">
    <p style="font-size: 28px; text-align: center; margin-top: 40px; margin-bottom: 40px;"><strong>Términos y condiciones de uso del Sitio</strong></p>
    <p style="font-size: 22px; margin-top: 30px; margin-bottom: 30px;">Derechos de Propiedad</p>
    <p style="font-size: 16px; margin-top: 20px;"> Los siguientes términos y condiciones (los "Términos y Condiciones") rigen el uso que usted le dé a este sitio web y a cualquiera de los contenidos disponibles por o a través de este sitio web, incluyendo cualquier contenido derivado del mismo (el "Sitio Web") , debe leerse completa y atentamente este documento. Las presentes Condiciones Generales constituyen las normas y reglas dispuestas por POSMA GROUP, relativas a todos los servicios existentes actualmente o que resulten incluidos en el futuro dentro del sitio SCKOLA.COM (en adelante el “Sitio”). Dichos servicios si bien pueden ser gratuitos, no son de libre utilización, sino que están sujetos a un conjunto de pautas que regulan su uso. El aprovechamiento que un individuo haga de los servicios incluidos en el Sitio, sólo se considerará lícito y autorizado cuando lo sea en cumplimiento de las obligaciones impuestas, con los límites y alcances aquí delineados, así como los que surjan de disposiciones complementarias o accesorias, y/o de las diferentes normativas legales de orden nacional e internacional cuya aplicación corresponda. SCKOLA.COM podrá en cualquier momento y sin necesidad de previo aviso modificar estas Condiciones Generales. Tales modificaciones serán operativas a partir de su fijación en el sitio SCKOLA.COM.Los usuarios deberán mantenerse actualizados en cuanto a los términos aquí incluidos ingresando en forma periódica al apartado de legales de POSMA GROUP.</p>
    <p style="font-size: 22px; margin-top: 30px; margin-bottom: 30px;">1. Aprobación por parte de los Usuarios</p>
    <p style="font-size: 16px; margin-top: 20px;">POSMA GROUP se reserva el derecho a exigir que cada usuario, acepte y cumpla los términos aquí expresados como condición previa y necesaria para el acceso, y utilización de los servicios y/o contenidos brindados por el Sitio. Cuando un usuario accediere al Sitio y utilizare cualquiera de los servicios y/o contenidos existentes, hará presumir el conocimiento del presente texto y que ha manifestado su plena aceptación con respecto a todas y cada una de las disposiciones que lo integran. El usuario que no acepte, se halle en desacuerdo, o incurrieren incumplimiento de las disposiciones fijadas por POSMA GROUP en estas Condiciones Generales, no contará con autorización para el uso de los servicios y contenidos que existen o puedan existir en el Sitio, debiendo retirarse del Sitio en forma inmediata, y abstenerse de ingresar nuevamente al mismo.</p>
    <p style="font-size: 22px; margin-top: 30px; margin-bottom: 30px;">2. Facultad legal de los usuarios</p>
    <p style="font-size: 16px; margin-top: 20px;">Solo podrán acceder y utilizar los servicios y/o contenidos de POSMA GROUP, quienes a tenor de la legislación vigente en su lugar de residencia puedan válidamente emitir su consentimiento para la celebración de contratos. Quienes a tenor de la legislación vigente no posean tal capacidad para acceder u obligarse válidamente a los términos y condiciones aquí establecidos, deberá obtener inexcusablemente autorización previa de sus representantes legales, quienes serán considerados responsables de todos los actos realizados por los incapaces a su cargo. Cuando se trate de falta de capacidad por minoría de edad, la responsabilidad en la determinación de los servicios y contenidos a los que acceden los menores de edad corresponde a los mayores a cuyo cargo se encuentren.</p>
    <p style="font-size: 22px; margin-top: 30px; margin-bottom: 30px;">3. Registro de los Usuarios</p>
    <p style="font-size: 16px; margin-top: 20px;">Para valerse de los servicios prestados en SCKOLA.COM, basta la sola aceptación de estas Condiciones Generales. Sin embargo para la utilización de algunos servicios o el acceso a ciertos contenidos, podrá establecerse como requisito, el previo registro del usuario. Dicho registro tendrá por finalidad establecer la identidad e información de contacto del usuario. Toda vez que para la registración de un usuario le sea requerida información, la misma deberá ser fidedigna, y poseerá el carácter de declaración jurada. Cuando la información suministrada no atienda a las circunstancias reales de quien la brinda, se considerará tal usuario incurso en incumplimiento de estas Condiciones Generales, siendo responsable por todos los perjuicios que derivaren para POSMA GROUP o terceros como consecuencia de tal falta de veracidad o exactitud. </p>
    <p style="font-size: 16px; margin-top: 10px;">El usuario dispondrá, una vez registrado, de un número de usuario y una contraseña que le permitirá el acceso personalizado, confidencial y seguro a su cuenta personal dentro del Sitio. Los servicios sujetos a registración han sido concebidos para el uso personal del usuario requirente, por tanto el nombre de usuario y la contraseña de acceso concedidos por SCKOLA solo podrán ser usados por este, estando prohibida su utilización por otra persona distinta al mismo. El usuario registrado asumirá la obligación de guarda y custodia de su nombre de usuario y contraseña de acceso, debiendo informar inmediatamente a POSMA GROUP cuando los mismos hubieren perdido su estado de confidencialidad, y/o cuando sean objeto de uso por un tercero. Será también responsabilidad de cada usuario mantener actualizada su información personal asentada en el registro conforme resulte necesario, debiendo comunicar a POSMA GROUP toda vez que se produzcan cambios en relación a la misma. SCKOLA.COM podrá rechazar cualquier solicitud de registración o, cancelar una registración previamente aceptada, sin que tal decisión deba ser justificada, y sin que ello genere derecho alguno en beneficio del Usuario. SCKOLA utilizará la información suministrada por el usuario exclusivamente con el objeto expuesto, y en todo momento velará por el razonable resguardo a la intimidad y confidencialidad de las comunicaciones del usuario, pero atento que SCKOLA hace uso de sistemas tecnológicos que bajo ciertas condiciones pueden resultar falibles, se pone en conocimiento de los usuarios que SCKOLA no garantiza la inviolabilidad de sus sistemas, motivo por el cual los usuarios deberán tomar en consideración esta circunstancia al momento de decidir su registración. En todos los casos, y de acuerdo con la Política de Privacidad sostenida por POSMA GROUP, la información de carácter personal suministrada por los Usuarios será objeto de adecuado tratamiento y preservación, en resguardo de la privacidad de la misma. Sin embargo, los servicios de SCKOLA fueron diseñados entre otros fines para permitir que los usuarios accedan a ciertos datos (no sensibles) de otros usuarios permitiendo la interacción entre los mismos dentro de un esquema de red social. Por consiguiente, haciendo entrega de cualquier información personal distinta de su nombre, el usuario renuncia a cualquier expectativa de privacidad que posea con respecto al uso de esa información personal proporcionada dentro del sitio.</p>
    <p style="font-size: 16px; margin-top: 20px;">Los usuarios que no deseen que su fotografía o imagen, página web, mensajero, ciudad de residencia, nacionalidad, o descripción personal ingresadas en el Sitio puedan ser brindadas a su comunidad educativa no deberán registrarse en SCKOLA.</p>
    <p style="font-size: 22px; margin-top: 30px; margin-bottom: 30px;">4. Notificaciones y comunicaciones</p>
    <p style="font-size: 16px; margin-top: 20px;">Con la finalidad de que los usuarios puedan tomar contacto con SCKOLA, se considerarán válidas las comunicaciones dirigidas a: info@sckola.com. Las notificaciones y comunicaciones cursadas por SKOLA a la casilla de correo electrónico que surja como dirección de correo del usuario o remitente, se considerarán eficaces y plenamente válidas. Asimismo se considerarán eficaces las comunicaciones que consistan en avisos y mensajes insertos en el Sitio, o que se envíen durante la prestación de un servicio, que tengan por finalidad informar a los usuarios sobre determinada circunstancia.</p>
    <p style="font-size: 22px; margin-top: 30px; margin-bottom: 30px;">5. Acceso a los Servicios</p>
    <p style="font-size: 16px; margin-top: 20px;">Más allá de la obligación de cumplimiento de todas y cada una de estas Condiciones Generales, todos los servicios y contenidos ofrecidos en el Sitio son accesibles por parte de los usuarios que pertenezcan a una institución que ha adquirido los servicios de SCKOLA. El acceso no comprende las facilidades de conexión a Internet. En ningún caso POSMA GROUP, proveerá a los usuarios la conectividad necesaria para que estos accedan a Internet. Será por exclusiva cuenta, cargo y responsabilidad de cada usuario la disposición de los medios técnicos necesarios para acceder a Internet.</p>
    <p style="font-size: 22px; margin-top: 30px; margin-bottom: 30px;">6. Responsabilidades, dirección y control sobre los servicios</p>
    <ul>
      <li><p style="font-size: 22px; margin-top: 30px; margin-bottom: 30px;">Disposiciones reservadas</p>
      <p style="font-size: 16px; margin-top: 20px;">POSMA GROUP se reserva todas las facultades de control y dirección del Sitio, en particular de los servicios, contenidos y comunicaciones habidos dentro del mismo. Podrá en consecuencia SCKOLA, introducir todos los cambios y modificaciones que estime convenientes a su solo criterio, podrá agregar, alterar, sustituir o suprimir cualquiera de los servicios o contenidos en todo momento. En especial, SCKOLA se reserva la facultad de controlar, editar, suprimir parcial o totalmente, cualquier post o comentario fijado por un usuario. Dicha facultad reposa en las facultades de dirección que posee POSMA GROUP en cuanto titular del Sitio, y su ejercicio no estará supeditado a justificación o causa alguna, quedando en todos los casos dicho ejercicio reservado a la discreción y voluntad de POSMA GROUP.</p>
      </li>
      <li><p style="font-size: 22px; margin-top: 30px; margin-bottom: 30px;">Responsabilidades en relación a los servicios prestados</p>
      <p style="font-size: 16px; margin-top: 20px;">Cada usuario será exclusivo responsable por las manifestaciones que vierta o las acciones que lleve adelante dentro del marco del sitio. Sin embargo cuando SCKOLA reciba a través de su mecanismo de recepción de denuncias, la manifestación de una persona, que hubiere sufrido en forma injustificada un menoscabo en cualquiera de sus derechos, tomará en forma inmediata las medidas necesarias para evitar la continuación de la situación perjudicial, y pondrá en conocimiento de las autoridades competentes los acontecimientos del caso. Sin perjuicio de estas facultades reservadas,  POSMA GROUP en respeto de la privacidad y confidencialidad de las comunicaciones de los usuarios, no ejercerá un control de legalidad directo sobre las manifestaciones y/o acciones llevadas adelante por los usuarios. Consecuentemente no será responsable por el uso contrario a derecho que de los contenidos y servicios, hagan los usuarios, ni garantiza que los datos proporcionados por estos, relativos a su identidad sean veraces y fidedignos. SCKOLA es una plataforma colaborativa de apoyo a la comunidad docente, estudiantil, padre, o colegio para la comunicación y difusión de información, la utilización del Sitio realizada por un usuario, que impliquen un desmedro o la lisa y llana violación de derechos de terceros, en especial los relativos a la propiedad intelectual, hará plenamente responsable a ese usuario por los daños que tal conducta irrogare para los terceros y/o POSMA GROUP o sus integrantes, no serán responsables en modo alguno por el contenido de las manifestaciones, opiniones, comentarios, e información volcada en un post o comentario.</p>
      </li>
    </ul>
    <p style="font-size: 22px; margin-top: 30px; margin-bottom: 30px;">7. Utilización de los servicios y contenidos brindados por POSMA GROUP</p>
    <p style="font-size: 16px; margin-top: 20px;">Los usuarios deberán utilizar los servicios, y acceder a los contenidos del sitio SCKOLA.COM de conformidad con las disposiciones establecidas en estas Condiciones Generales; con el ordenamiento jurídico al que se encuentren sometidos en razón del lugar, de las personas, o de la materia de la cual se trate, considerado en su conjunto; y según las pautas de conducta impuestas por la moral, las buenas costumbres y el debido respeto a los derechos de terceros.</p>
    <ul>
      <li><p style="font-size: 22px; margin-top: 30px; margin-bottom: 30px;">USO PROHIBIDO</p>
      <p style="font-size: 16px; margin-top: 20px;">Cualquier uso de los servicios que tenga por objeto, lesionar los derechos de terceros, contravenir el orden jurídico o constituya una práctica ofensiva al pudor público, se reputará como USO PROHIBIDO de los servicios o contenidos, en tanto transgrede los fines para los que fue puesto a disposición de los usuarios. Se considerará como USO PROHIBIDO, entre otros, la fijación de post, mensajes o comentarios, propagación, así como la indicación de vínculos a páginas web, que:</p>
      </li>
        <ul style="list-style-type:circle;">
          <li>
            <p style="font-size: 16px; margin-top: 20px;">Resulten ofensivos para los derechos personalísimos de los individuos, con especial referencia al derecho al honor, a la dignidad, a la intimidad, a no ser objeto de tratos discriminatorios, a la salud, a la imagen, y a la libre expresión de las ideas; con absoluta independencia del cuerpo legal donde tales derechos adquieran reconocimiento.</p>
          </li>
          <li>
            <p style="font-size: 16px; margin-top: 20px;">Infrinjan los derechos de propiedad intelectual de terceros.</p>
          </li>
          <li>
            <p style="font-size: 16px; margin-top: 20px;">Posea contenido inapropiado.</p>
          </li>
          <li>
            <p style="font-size: 16px; margin-top: 20px;">Tenga por objeto vulnerar la seguridad, y/o normal funcionamiento de los sistemas informáticos de POSMA GROUP o de terceros.</p>
          </li>
          <li>
            <p style="font-size: 16px; margin-top: 20px;">Induzca, instigue o promueva acciones delictivas, ilícitas, disfuncionales o moralmente reprochables, o constituya una violación de derechos de propiedad intelectual de terceras personas.</p>
          </li>
          <li>
            <p style="font-size: 16px; margin-top: 20px;">Incorporen alguna forma de publicidad o fin comercial no permitidos por POSMA GROUP.</p>
          </li>
          <li>
            <p style="font-size: 16px; margin-top: 20px;">Tenga por objeto recolectar información de terceros con el objeto de remitirles publicidad o propaganda de cualquier tipo o especie, sin que esta fuera expresamente solicitada.</p>
          </li>  
        </ul>
      <li><p style="font-size: 22px; margin-top: 30px; margin-bottom: 30px;">Disposiciones de control</p>
      <p style="font-size: 16px; margin-top: 20px;">Sin perjuicio de las acciones legales nacidas por POSMA GROUP o terceros, cuando el uso de los servicios, llevado adelante por parte de un usuario pueda ser reputado por SCKOLA como USO PROHIBIDO, POSMA GROUP tomará las medidas que considere convenientes según su exclusivo criterio, pudiendo suspender o impedir el acceso a los servicios o contenidos a aquellos usuarios incursos en el uso prohibido de los mismos, y sin que para ello deba mediar comunicación previa alguna.</p>
      </li>    
    </ul>
    <p style="font-size: 22px; margin-top: 30px; margin-bottom: 30px;">8.  Propiedad Intelectual</p>
    <ul>
      <li><p style="font-size: 22px; margin-top: 30px; margin-bottom: 30px;">Contenido de terceros</p>
      <p style="font-size: 16px; margin-top: 20px;">En uso de los servicios ofrecidos en el Sitio, el usuario puede tener acceso a contenidos provistos por otros usuarios o terceros. POSMA GROUP realiza sus mejores esfuerzos para controlar el material que le es suministrado, sin embargo, el usuario acepta que eventualmente podrá ser expuesto a contenido de terceros que sea falso, ofensivo, indecente o de otra manera inaceptable. Bajo ninguna circunstancia podrá responsabilizar a POSMA GROUP por tal circunstancia.</p>
      </li>  
      <li><p style="font-size: 22px; margin-top: 30px; margin-bottom: 30px;">Titularidad de POSMA GROUP</p>
      <p style="font-size: 16px; margin-top: 20px;">Todo el material existente en el sitio, que no corresponda a un usuario u otro tercero, constituye propiedad exclusiva de POSMA GROUP. A título meramente enunciativo, se entenderán incluidos las imágenes, fotografías, diseños, gráficos, sonidos, compilaciones de datos, marcas, nombres, títulos, designaciones, signos distintivos, y todo otro material accesible a través del sitio. La titularidad del conjunto o selección de links incorporados por los usuarios al Sitio, corresponderá a POSMA GROUP en calidad de propiedad intelectual, en tanto obra de clasificación y compilación.</p>
      <p style="font-size: 16px; margin-top: 10px;">Dicha propiedad está constituida no por los vínculos o links considerados en forma individual, sino por la selección del conjunto de links. En ese orden los usuarios ceden y transfieren irrevocablemente a POSMA GROUP todos los derechos que pudieran corresponderles sobre la selección de links que cada uno de ellos individualmente hubiere realizado. POSMA GROUP se reserva todos los derechos sobre el mencionado material, no cede ni transfiere a favor del usuario ningún derecho sobre su propiedad intelectual o la de terceros. En consecuencia, su reproducción, distribución, y/o modificación deberá ser expresamente autorizada por parte de POSMA GROUP, si pena de considerarse una actividad ilícita violatoria de los derechos de propiedad intelectual de POSMA GROUP. Los usuarios del sitio sólo contarán con autorización para la utilización del material propiedad de POSMA GROUP, cuando las finalidades de tal utilización sean aquellas específicamente previstas por POSMA GROUP. A título informativo, se pone en conocimiento de los usuarios y visitantes del sitio, que los derechos relativos a la propiedad intelectual de POSMA GROUP, quedan resguardados internacionalmente sobre derechos de autor, y demás disposiciones coincidentes; que en su conjunto aseguran la plena vigencia internacional de los derechos de POSMA GROUP.</p>
      </li>
    </ul>
    <p style="font-size: 22px; margin-top: 30px; margin-bottom: 30px;">9. Funcionamiento de POSMA GROUP</p>
    <p style="font-size: 16px; margin-top: 20px;">POSMA GROUP no garantiza la plena operatividad del sitio y el acceso a los servicios y contenidos del mismo. En ningún caso POSMA GROUP responderá por la operatividad, eficacia y seguridad de los servicios y contenidos puestos a disposición de los usuarios. SCKOLA no garantiza la conservación, integridad ni indemnidad de los post, mensajes o comentarios fijados por los usuarios.</p>
    <p style="font-size: 22px; margin-top: 30px; margin-bottom: 30px;">10. Links hacia info@sckola.com</p>
    <p style="font-size: 16px; margin-top: 20px;">El establecimiento de cualquier link, hipervínculo o enlace, entre una página web ajena al sitio “info@sckola.com” y cualquier página de este último solo podrá realizarse con expresa autorización por parte de POSMA GROUP. En ningún caso POSMA GROUP será responsable por los contenidos o manifestaciones existentes en las páginas web desde donde se establezcan los hipervínculos hacia el sitio de info@sckola.com. El hecho que exista un link entre una página web y el sitio de info@sckola.com no implica que POSMA GROUP tenga conocimiento de ello, o que info@sckola.com mantenga relación alguna con los titulares de la página web desde donde se establece el enlace. POSMA GROUP, se reserva el derecho a solicitar la remoción o eliminación de cualquier enlace desde una página web ajena al Sitio, en cualquier momento, sin expresión de causa, y sin que sea necesario preaviso alguno. El responsable de la página web desde la cual se efectuare el enlace tendrá un plazo de 48hs contados a partir del pedido de info@sckola.com para proceder a la remoción o eliminación del mismo.</p>
    <p style="font-size: 22px; margin-top: 30px; margin-bottom: 30px;">11. Links desde info@sckola.com</p>
    <ul>
      <li>
        <p style="font-size: 22px; margin-top: 30px; margin-bottom: 30px;">Links provistos por info@sckola.com</p>
        <p style="font-size: 16px; margin-top: 20px;">Los hipervínculos o enlaces a páginas web de terceros provistos por info@sckola.com, tienen por finalidad mejorar la experiencia de navegación del usuario por el sitio info@sckola.com, poniendo a su disposición canales de acceso a otros sitios.</p>
      </li>
      <li>
        <p style="font-size: 22px; margin-top: 30px; margin-bottom: 30px;">Responsabilidad derivada de los links</p>
        <p style="font-size: 16px; margin-top: 20px;">En ninguno de los casos precedentemente enunciados POSMA GROUP controla, respalda o garantiza la seguridad, calidad, licitud, veracidad e idoneidad de los servicios y contenidos a los cuales se acceda a través de un hipervínculo. La inclusión del link no significa que POSMA GROUP se encuentre en forma alguna relacionada con el sitio al que dirige el link, ni que apoye, esté de acuerdo, facilite o colabore en las actividades que en ese sitio se desarrollen. La responsabilidad por los servicios o contenidos en los sitios enlazados corresponderá exclusivamente a los titulares de dichos sitios. Bajo ningún supuesto POSMA GROUP será responsable por las irregularidades, ilicitudes o infracciones que en dichos sitios se registren, no respondiendo en tal sentido por los daños que pudieren experimentar los usuarios o terceros a partir de los contenidos allí publicados. El acceso y utilización de páginas web enlazadas desde el sitio de SCKOLA.COM será exclusiva responsabilidad del usuario, quien deberá tomar todas las medidas de precaución necesarias de acuerdo al tipo de servicio, o contenido al que acceda. El usuario que considere inadecuada una página vinculada desde el Sitio, podrá elevar su queja o recomendación a través del mecanismo de denuncias puesto a disposición de los usuarios por parte de POSMA GROUP.</p>
      </li>
    </ul>
    <p style="font-size: 22px; margin-top: 30px; margin-bottom: 30px;">12. Finalización del Servicio</p>
    <p style="font-size: 16px; margin-top: 20px;">POSMA GROUP podrá a su sola discreción suspender temporalmente o desactivar definitivamente la cuenta de un usuario, sin que medie previa notificación al mismo, y sin que sea necesaria la invocación de causa alguna, procediéndose en tal caso a la eliminación de toda la información relacionada con la cuenta.</p>
    <p style="font-size: 22px; margin-top: 30px; margin-bottom: 30px;">13. Leyes aplicable y jurisdicción</p>
    <p style="font-size: 16px; margin-top: 20px; margin-bottom: 20px;">A todos los efectos legales en relación a los servicios y contenidos brindados o que puedan brindarse en el Sitio, será aplicable la legislación vigente en la República Bolivariana de Venezuela, y será competente la justicia ordinaria con jurisdicción en la Ciudad de Caracas.</p>
  </div>
</div>
<div class="mbr-contacts mbr-contacts--wysiwyg row" style="text-align: center">
  <a class="mbr-contacts mbr-contacts--wysiwyg colorHyperLinkPG" style="text-decoration-line: none;" href="http://www.posmagroup.com" target="_blank"><span class="mbr-contacts__text"><strong>By Posma Group</strong></span></a>
</div>
