.demo-card-event.mdl-card {
  width: all;
  height: 205px;
  background: #3E4EB8;
  margin: 5px;
}
.demo-card-event > .mdl-card__actions {
  border-color: rgba(255, 255, 255, 0.2);
}
.demo-card-event > .mdl-card__title {
  align-items: flex-start;
  opacity: 0.9;
}
.demo-card-event > .mdl-card__title > h4 {
  margin-top: 0;
}
.demo-card-event > .mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}
.demo-card-event > .mdl-card__actions > .material-icons {
  padding-right: 10px;
}
.demo-card-event > .mdl-card__title,
.demo-card-event > .mdl-card__actions,
.demo-card-event > .mdl-card__actions > .mdl-button {
  color: #fff;
}

.relative{
    position:relative;
    top: 100px;
}

.absolute{
    position:absolute;
    top: 0px;
    z-index: +10;
}
#arrow_left{
  transform:rotate(90deg)scale(2.0,2.0);
  opacity: 0.8;

}
#arrow_right{
  transform:rotate(-90deg)scale(2.0,2.0);
  margin-left: 650px;
  opacity: 0.8;
}