<div>
  <p class="element-title"><span class="glyphicon glyphicon-globe"></span>Comunidades</p>
  <br><br>
</div>
<div class="container-fluid" set-screen-height>
  <div class="row">
    <form name="comunities-form">
      <div class="row">
          <div class="col-md-12 form-group">
            <label for="comunities">Comunidad</label>
              <select class="form-control" name="community" ng-model="vm.community" 
              ng-options="community.name for community in vm.communities" ng-change="vm.validarCampos()" required>
                  <option value="" disabled selected> -- Seleccione la comunidad -- </option>
              </select>
          </div>
          <div class="col-md-6 form-group">
            <button class="btn btn-default sckola-btn" ng-click="vm.associateCommunity()"
            ng-disabled="vm.community == null || vm.community == undefined">Guardar</button>
          </div>
      </div>
    </form>
  </div>
</div>

<!--br/><br/>
<div class="container-fluid" set-screen-height>
  <div class="row">
    <div class="col-xs-12">
      <label class="element-title text-color"><span class="glyphicon glyphicon-globe"></span>Comunidades</label>
    </div>
  </div>
  <div class="partial-view-messages"></div>
  <div class="row start-xs">
    <div class="col-md-3 partial-view">
      <label class="community-label">Comunidad:</label>
    </div>
    <div class="col-md-6" ng-class="{mostrar: true == vm.validarCommunity}">
        <span class="circulo mostrar" ng-class="{mostrar: true == vm.validarCommunity}" style="position: absolute; z-index: 10;top: -25px;left: 0px;">!</span>
        <span class="tooltipstext" ng-class="{mostrar: true == vm.validarCommunity}" >Seleccione la comunidad</span>
      <div class="tooltip-communities" ng-class="{mostrar: true == vm.validarCommunity}" ></div>
      <select class="form-control" style="padding: 0px 18px" ng-model="vm.community" name="community" required
      ng-options="community.name for community in vm.communities" ng-change="vm.validarCampos()">
        <option value="">-- Seleccionar comunidad --</option>
      </select>
    </div>
    <div class="col-md-3">
      <button class="btn btn-default sckola-btn shadow-feed-element" 
      ng-disabled="vm.community == null || vm.community == undefined" ng-click="vm.associateCommunity()">Guardar</button>
    </div>
  </div>
</div-->
