<div>
    <p class="element-title"><span class="glyphicon glyphicon-user"></span>Perfil</p>
    <br>
</div>
<div class="container-fluid" set-screen-height>
    <form name="profileform">
        <div class="text-center">
            <img src="static/images/{{vm.usuario.foto}}" class="profile-image"/>
            <div class="upload-btn-wrapper">
            <button class="upload-file-button btn btn-default sckola-btn">Seleccionar archivo</button>
            <input type="file" name="profile-image" accept="image/*"
                onchange="angular.element(this).scope().foto(this.files)">
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-md-6 form-group">
                <label for="fname">Primer nombre</label>
                <input type="text" class="form-control" id="fname" placeholder="Introduzca su primer nombre"
                ng-model="vm.usuario.firstName" required />
            </div>
            <div class="col-md-6 form-group">
                <label for="sname">Segundo nombre</label>
                <input type="text" class="form-control" id="sname" placeholder="Introduzca su segundo nombre"
                ng-model="vm.usuario.secondName">
            </div>
            <div class="col-md-6 form-group">
                <label for="surname">Primer apellido</label>
                <input type="text" class="form-control" id="surname" placeholder="Introduzca su primer apellido"
                ng-model="vm.usuario.lastName" required />
            </div>
            <div class="col-md-6 form-group">
                <label for="ssurname">Segundo apellido</label>
                <input type="text" class="form-control" id="ssurname" placeholder="Introduzca su segundo apellido"
                ng-model="vm.usuario.secondLastName">
            </div>
            <div class="col-md-6 form-group">
                <label for="birthdate">Fecha de nacimiento</label>
                <input type="date" class="form-control" id="birthdate" placeholder="dd/mm/aaaa" 
                ng-model="vm.usuario.birthdateOld" required />
            </div>
            <div class="col-md-6 form-group">
                <label for="gender">Sexo</label>
                <select ng-model="vm.usuario.gender" class="form-control" ng-change="vm.validarCampo()" required>
                    <option value="" disabled> -- Seleccionar -- </option>
                    <option value="FEMALE"> FEMENINO </option>
                    <option value="MALE"> MASCULINO </option>
                </select>
            </div>
            <div class="col-md-6 form-group">
                <button type="submit" class="btn btn-default sckola-btn" ng-click="vm.update()" 
                ng-disabled="!profileform.$valid">Guardar</button>
            </div>
        </div>
        <p class="element-title"><span class="glyphicon glyphicon-education"></span>Último nivel académico alcanzado</p>
        <br>
        <div class="row" ng-repeat="curriculum in vm.usuario.curriculum">
            <div class="col-md-2 form-group">
                <label for="graduation-year">Año</label>
                <input type="number" class="form-control" id="graduation-year" placeholder="dd/mm/aaaa"
                ng-model="curriculum.anio" ng-blur="vm.validationCargaAcademica(curriculum); vm.validarCurriculum();">
            </div>
            <div class="col-md-5 form-group">
                <label for="academic-title">Título</label>
                <input type="text" class="form-control" id="academic-title" placeholder="Introduzca su título"
                ng-model="curriculum.title" ng-blur="vm.updateExperience(curriculum); vm.validarCurriculum();">
            </div>
            <div class="col-md-5 form-group">
                <label for="institute-name">Instituto</label>
                <input type="text" class="form-control" id="institute-name" placeholder="Introduzca el nombre del instituto"
                ng-model="curriculum.institute" ng-blur="vm.updateExperience(curriculum); vm.validarCurriculum();">
            </div>
        </div>
    </form>
</div>


<!--br/><br/>
<div class="container-fluid" set-screen-height>

    <label class="element-title text-color"><span class="glyphicon glyphicon-user" style="padding-right:10px;"></span>Perfil</label>
    <br/>

    <div class="col-sm-12" style="">
        <div class="col-sm-4"></div>
                <form name="imagenes">
                   <div class="col-sm-3">
                       <div id="ember6176" class="profile-photo-edit ember-view">
                           <img src="static/images/{{vm.usuario.foto}}" border="4"  class="photoEditProfile maxSize" style="width: 220px;" />
                           <input type="file" name="file" id="file" accept="image/*" class="profile-photo-edit__file-upload-input"
                                   onchange="angular.element(this).scope().foto(this.files)" style="color: transparent; margin-top: 4%;margin-left: 25%;">
                       </div>
                   </div>
                </form>
    </div>
    <div class="row">
        <form role="form">
            <div class="form-group col-sm-12"><br><br>
                <div class="col-sm-2 text-color label-form" >Primer nombre:</div>
                <div class="col-sm-4 perfil-campos" >
                    <div ng-class="{mostrar: true == vm.validateFirstName}">
                        <span class="circulo" ng-class="{mostrar: true == vm.validateFirstName}" style="position: absolute; z-index: 10;top: -25px; left: 1px;">!</span>
                        <span class="tooltipstext" ng-class="{mostrar: true == vm.validateFirstName}">Escriba el primer nombre</span>
                        <div class="tooltips" ng-class="{mostrar: true == vm.validateFirstName}"></div>
                    </div>
                    <input type="text" id="firstName" ng-model="vm.usuario.firstName" class="form-control" ng-change="vm.validarCampo()"  maxlength="10"/>

                </div>
                <div class="col-sm-2 text-color label-form" >Segundo nombre:</div>
                <div class="col-sm-4 perfil-campos" >
                    <div ng-class="{mostrar: true == vm.validateSecondName}">
                        <span class="circulo" ng-class="{mostrar: true == vm.validateSecondName}" style="position: absolute; z-index: 10;top: -25px;left: 1px;">!</span>
                        <span class="tooltipstext" ng-class="{mostrar: true == vm.validateSecondName}">Escriba el segundo nombre</span>
                        <div class="tooltips" ng-class="{mostrar: true == vm.validateSecondName}"></div>
                    </div>
                    <input type="text" id="secondName" ng-model="vm.usuario.secondName" class="form-control" ng-change="vm.validarCampo()" />
                </div>
            </div>
            <div class="form-group col-sm-12">
                <div class="col-sm-2 text-color label-form" >Primer apellido:</div>
                <div class="col-sm-4 perfil-campos" >
                    <div ng-class="{mostrar: true == vm.validateLastName}">
                        <span class="circulo" ng-class="{mostrar: true == vm.validateLastName}" style="position: absolute; z-index: 10;top: -25px;left: 1px;">!</span>
                        <span class="tooltipstext" ng-class="{mostrar: true == vm.validateLastName}">Escriba el primer apellido</span>
                        <div class="tooltips" ng-class="{mostrar: true == vm.validateLastName}"></div>
                    </div>
                    <input type="text" id="firstLastName" ng-model="vm.usuario.lastName" class="form-control"  maxlength="14" ng-change="vm.validarCampo()" />
                </div>
                <div class="col-sm-2 text-color label-form" >Segundo apellido:</div>
                <div class="col-sm-4 perfil-campos" >
                    <div ng-class="{mostrar: true == vm.validateSecondLastName}">
                        <span class="circulo" ng-class="{mostrar: true == vm.validateSecondLastName}" style="position: absolute; z-index: 10;top: -25px;left: 1px;">!</span>
                        <span class="tooltipstext" ng-class="{mostrar: true == vm.validateSecondLastName}">Escriba el segundo apellido</span>
                        <div class="tooltips" ng-class="{mostrar: true == vm.validateSecondLastName}"></div>
                    </div>
                    <input type="text" id="secondLastName" ng-model="vm.usuario.secondLastName" class="form-control" ng-change="vm.validarCampo()" />
                </div>
            </div>
            <div class="form-group col-sm-12">
                <div class="col-sm-2 text-color label-form" >Fecha de nacimiento:</div>
                <div class="col-sm-4 perfil-campos" >
                    <div ng-class="{mostrar: true == vm.validateBirthDate}">
                        <span class="circulo" ng-class="{mostrar: true == vm.validateBirthDate}" style="position: absolute; z-index: 10;top: -25px;left: 1px;">!</span>
                        <span class="tooltipstext" ng-class="{mostrar: true == vm.validateBirthDate}">Selecciona una fecha</span>
                        <div class="tooltips" ng-class="{mostrar: true == vm.validateBirthDate}"></div>
                    </div>
                    <input type="date" id="birthday" ng-model="vm.usuario.birthdateOld" class="form-control" ng-change="vm.validarCampo()" ng-blur="vm.validarFechaDeNacimiento()"/>
                </div>
                <div class="col-sm-2 text-color label-form" >Sexo:</div>
                <div class="col-sm-4 perfil-campos" >
                    <div ng-class="{mostrar: true == vm.validateGender}">
                        <span class="circulo" ng-class="{mostrar: true == vm.validateGender}" style="position: absolute; z-index: 10;top: -25px;left: 1px;">!</span>
                        <span class="tooltipstext" ng-class="{mostrar: true == vm.validateGender}">Seleccione su género</span>
                        <div class="tooltips" ng-class="{mostrar: true == vm.validateGender}"></div>
                    </div>
                    <select ng-model="vm.usuario.gender" class="form-control text-color label-form" ng-change="vm.validarCampo()"  style="padding: 0px 18px;">
                        <option value=""> -- Seleccionar -- </option>
                        <option value="FEMALE"> FEMENINO </option>
                        <option value="MALE"> MASCULINO </option>
                    </select>
                </div>
            </div>
            <div class="col-sm-12">
              <button class="btn btn-default sckola-btn shadow-feed-element" ng-click="vm.update()" style="margin-left:69%">Guardar</button>
            </div>

            <div class="form-group col-sm-12">
                <div class="col-sm-12">
                    <br>
                    <label class="element-title text-color"><span class="glyphicon glyphicon-briefcase" style="padding-right:10px;">

                    </span>Nivel académico más reciente</label>

                    <br>
                    <br>
                </div>
                <div class="col-sm-12">
                    <div class="form-group col-sm-12" style="padding: 0px" >
                        <ul style="padding-left: 0px" class="list-group">
                            <div class="form-horizontal-login curriculum-view">
                            <div class="col-sm-2 text-color label-form" style="width: 17%; padding: 1px;">Año</div>
                            <div class="col-sm-5 text-color label-form" style="width: 42%; padding: 1px;">Título</div>
                            <div class="col-sm-5 text-color label-form" style="width: 41%; padding: 1px;">Instituto</div>
                            </div>
                            <li ng-repeat="curriculum in vm.usuario.curriculum" class="col-sm-12 list-group-item" style="padding: 0; background-color: transparent; border-color: transparent;">
                                <div class="form-group col-sm-12 curriculum-view-movil" style="padding: 0;">
                                    <div class="col-sm-2 text-color label-form" style="width: 16%; padding: 1px;">Año</div>
                                    <div class="col-sm-2" style="padding: 1px;">
                                        <div ng-class="{mostrar: true == vm.entro}">
                                            <span class="color-white circulo" style="position: absolute; z-index: 10;top: -25px;left: 1px;">!</span>
                                            <span class="tooltipstext" ng-class="{mostrar: true == vm.entro}">Escriba el año del título</span>
                                            <div class="tooltips" ng-class="{mostrar: true == vm.entro}"></div>
                                        </div>
                                        <input placeholder="Año" ng-model="curriculum.anio" class="form-control" ng-blur="vm.validationCargaAcademica(curriculum); justNumbers()" min="1" style="width: 100%;font-size: 12px;" id="anio2" type="number"/></div>
                                    <div class="col-sm-5 text-color label-form" style="width: 42%; padding: 1px;">Título</div>
                                    <div class="col-sm-5" style="padding: 1px;">
                                        <div ng-class="{mostrar: true == vm.entro}">
                                            <span class="color-white circulo" style="position: absolute; z-index: 10;top: -25px;left: 1px;">!</span>
                                            <span class="tooltipstext" ng-class="{mostrar: true == vm.entro}">Escriba el título</span>
                                            <div class="tooltips" ng-class="{mostrar: true == vm.entro}"></div>
                                        </div>
                                        <input placeholder="Título" ng-model="curriculum.title" class="form-control" ng-blur="vm.updateExperience(curriculum)" style="width: 100%;font-size: 12px;" id="titulo2"/></div>
                                    <div class="col-sm-5 text-color label-form" style="width: 42%; padding: 1px;">Instituto</div>
                                    <div class="col-sm-5" style="padding: 1px;">
                                        <div ng-class="{mostrar: true == vm.entro}">
                                            <span class="color-white circulo" style="position: absolute; z-index: 10;top: -25px;left: 1px;">!</span>
                                            <span class="tooltipstext" ng-class="{mostrar: true == vm.entro}">Escriba el instituto</span>
                                            <div class="tooltips" ng-class="{mostrar: true == vm.entro}"></div>
                                        </div>
                                        <input placeholder="Instituto" ng-model="curriculum.institute" class="form-control" ng-blur="vm.updateExperience(curriculum)" style="width: 100%;font-size: 12px;padding: 2px;" id="instituto2"/></div>
                                </div>
                                <div class="form-horizontal-login curriculum-view">
                                <div class="col-sm-2" style="width: 16%; padding: 1px;">
                                    <div ng-class="{mostrar: true == vm.validateAnio}">
                                        <span class="color-white circulo" ng-class="{mostrar: true == vm.validateAnio}" style="position: absolute; z-index: 10;top: -25px;left: -15px;">!</span>
                                        <span class="tooltipstext" ng-class="{mostrar: true == vm.validateAnio}">Escriba el año del título</span>
                                        <div class="tooltips" ng-class="{mostrar: true == vm.validateAnio}"></div>
                                    </div>
                                    <input placeholder="Año" ng-model="curriculum.anio" class="form-control" ng-blur="vm.validationCargaAcademica(curriculum); justNumbers(); vm.validarCurriculum();" min="1" style="width: 100%;font-size: 12px; padding: 0;" id="anio" type="number"/></div>
                                <div class="col-sm-5" style="width: 42%; padding: 1px;">
                                    <div ng-class="{mostrar: true == vm.validateTitle}">
                                        <span class="color-white circulo" ng-class="{mostrar: true == vm.validateTitle}" style="position: absolute; z-index: 10;top: -25px;left: -15px;">!</span>
                                        <span class="tooltipstext" ng-class="{mostrar: true == vm.validateTitle}">Escriba el título</span>
                                        <div class="tooltips" ng-class="{mostrar: true == vm.validateTitle}"></div>
                                    </div>
                                    <input placeholder="Título" ng-model="curriculum.title" class="form-control" ng-blur="vm.updateExperience(curriculum); vm.validarCurriculum()" style="width: 100%;font-size: 12px;" id="titulo"/></div>
                                <div class="col-sm-5" style="width: 42%; padding: 1px;">
                                    <div ng-class="{mostrar: true == vm.validateInstitute}">
                                        <span class="color-white circulo" ng-class="{mostrar: true == vm.validateInstitute}" style="position: absolute; z-index: 10;top: -25px;left: -15px;">!</span>
                                        <span class="tooltipstext" ng-class="{mostrar: true == vm.validateInstitute}">Escriba el instituto</span>
                                        <div class="tooltips" ng-class="{mostrar: true == vm.validateInstitute}"></div>
                                    </div>
                                    <input placeholder="Instituto" ng-model="curriculum.institute" class="form-control" ng-blur="vm.updateExperience(curriculum); vm.validarCurriculum()" style="width: 100%;font-size: 12px;padding: 2px;" id="instituto"/></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-1" style=""></div>
                </div>
            </div>
        </form>
    </div>
</div-->
