<div>
    <p class="element-title"><span class="glyphicon glyphicon-user"></span>Notas</p>
    <br>
</div>
<div class="container-fluid" set-screen-height>
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-success sckola-alert-success success animate-show-hide" role="alert"
                 ng-show="vm.showSuccessMessage">{{vm.successMessage}}
            </div>
            <div class="alert alert-info sckola-alert-info animate-show-hide" role="alert"  ng-show="vm.showHelp"
                 ng-click="vm.helpUser()">
                <p>{{vm.helpMessage}}</p>
            </div>
            <div class="alert alert-danger sckola-alert-error error animate-show-hide" role="alert"
                 ng-show="vm.showErrorMessage">{{vm.errorMessage}}
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div ng-show="vm.terminate">
            <form name="formUploadNotes">
                <div class="row">
                    <div class="col-md-12 form-group" ng-hide="vm.showMessageInitial">
                        <label for="subjectsection2" ng-hide="vm.hideStudents">Estudiante</label>
                        <select class="form-control" id="subjectsection2" ng-model="vm.selectStudent"
                                ng-options="student.firstName + ' ' + student.lastName for student in vm.students"
                                ng-change="vm.mattersCommunitysSection(2,vm.selectStudent.id)"
                                ng-hide="vm.hideStudents">
                            <option value="" disabled> -- Seleccione un estudiante -- </option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group" ng-hide="vm.showMessageInitialClass">
                        <label for="subjectsection" ng-hide="vm.showClaseUnic">Clase</label>
                        <p ng-show="vm.showClaseUnic"><strong>Clase: </strong>
                            <span>{{vm.claseUnic.name}}</span>
                        </p>
                        <select class="form-control" id="subjectsection" ng-model="vm.claseSelect"
                                ng-options="clase.name for clase in vm.clase" ng-change="vm.selectEstudianteNotes(vm.claseSelect)"
                                ng-hide="vm.showClaseUnic">
                            <option value="" disabled> -- Seleccione una clase -- </option>
                        </select>
                    </div>
                </div>
                <div class="animate-show-hide" ng-show="vm.show">
                    <div>
                        <ul class="list-group">
                            <div class="col-sm-12 border-child list-group-item list-group-section-item">
                                <div class="notes-student-view">
                                    <div class="col-sm-10 form-group">
                                        <p class="color-white font-large">Evaluación</p>
                                    </div>
                                    <div class="col-sm-2 form-group">
                                        <p class="text-right color-white font-large">Nota</p>
                                    </div>
                                </div>
                            </div>
                            <li class="col-sm-12 border-child list-group-item list-group-section-item"
                                ng-repeat="evaluation in vm.calificationStudent">
                                <div class="notes-student-view">
                                    <div class="col-sm-10 form-group">
                                        <p class="color-white font-large">{{ evaluation.nameEvaluation }}</p>
                                    </div>
                                    <div class="col-sm-2 form-group">
                                        <p class="text-right color-white font-large" ng-show="evaluation.qualification.value != null">{{ evaluation.qualification.value }}</p>
                                        <p class="text-right color-white font-large" ng-show="evaluation.qualification.value == null">0</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br>
    <div class="animate-show-hide loader-container" ng-show="!vm.terminate">
        <div class="text-center">
            <p class="text-color">
                <img src="static/images/cargando.gif">
                Cargando
            </p>
        </div>
    </div>
</div>
