<div>
    <p class="element-title"><span class="glyphicon glyphicon-user"></span>Notas</p>
    <br>
</div>
<div class="container-fluid" set-screen-height>
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-success sckola-alert-success success animate-show-hide" role="alert"
            ng-show="vm.showSuccessMessage">{{vm.successMessage}}
            </div>
            <div class="alert alert-info sckola-alert-info animate-show-hide" role="button"  ng-show="vm.showHelp"
            ng-click="vm.helpUser()">
                <p>{{vm.helpMessage}}</p>
            </div>
            <div class="alert alert-danger sckola-alert-error error animate-show-hide" role="alert" 
            ng-show="vm.showErrorMessage">{{vm.errorMessage}}
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div ng-show="vm.terminate">
            <form name="evaluateform">
                <div class="row">
                    <div class="col-md-12 form-group" ng-hide="vm.showMessageInitial">
                        <label for="subjectsection" ng-hide="vm.showClaseUnic">Clase</label>
                        <p ng-show="vm.showClaseUnic"><strong>Clase: </strong>
                            <span>{{vm.claseUnic.name}}</span>
                        </p>
                        <select class="form-control" id="subjectsection" ng-model="vm.claseUnic" 
                        ng-options="clase.name for clase in vm.clase" ng-change="vm.asignClase(vm.claseUnic)"
                        ng-hide="vm.showClaseUnic">
                            <option value="" disabled> -- Seleccione una clase -- </option>
                        </select>
                    </div>
                </div>    
                <div class="animate-show-hide" ng-show="vm.show">
                    <div class="col-md-12 row form-group">
                        <p><strong>Evaluación: </strong>
                            <span>{{ vm.evaluation.evaluationTool.name }}</span>
                        </p>
                    </div>
                    <div class="col-md-12 row form-group">
                        <p><strong>Fecha: </strong><span>{{ vm.evaluation.date }}</span></p>
                    </div>
                    <!--br><br-->
                    <div>
                        <ul class="list-group">
                            <li class="col-sm-12 border-child list-group-item list-group-section-item" 
                            ng-repeat="estudiante in vm.estudiantes | orderBy:'firstName'">
                                <div>
                                    <div class="col-sm-8 form-group">
                                        <p class="color-white font-large">
                                            {{ estudiante.firstName }} {{estudiante.lastName}} 
                                        </p>
                                    </div>
                                    <div class="col-sm-3 form-group"> 
                                        <select class="form-control" ng-model="estudiante.qualification" 
                                        name="scale" ng-options="scale.value for scale in vm.escala track by scale.value"
                                        ng-change="vm.cargarNota(estudiante); vm.validarNota(estudiante)" required>
                                        |<option value="" ng-hide="true"></option>
                                        </select>
                                    </div>
                                    <div class="col-sm-1 form-group text-right" role="button"> 
                                        <span class="glyphicon glyphicon-eye-open color-white font-large"
                                        ng-click="vm.selectEstudiante(estudiante)">
                                        </span>
                                    </div>
                                </div> 
                            </li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6 form-group list-group" ng-show="vm.terminate">
            <button class="btn btn-default sckola-btn" ng-click="vm.siguienteEvaluacion()" ng-show="vm.siguiente" 
            ng-disabled="vm.notas">
                Siguiente evaluación
            </button>
        </div>
    </div>
    <div class="animate-show-hide loader-container" ng-show="!vm.terminate">
        <div class="text-center">
            <p class="text-color">
                <img src="static/images/cargando.gif">
                Cargando
            </p>
        </div>
    </div>
</div>
<!--br/><br/>
<div class="container-fluid" set-screen-height>
    <label class="element-title text-color"><span class="glyphicon glyphicon-user" style="padding-right:10px; margin-bottom: 20%;"></span>Notas</label>
    <br>
    <div class="row">
        <div class="col-sm-11 partial-view-messages">
            <div class="alert alert-info sckola-alert-info
                        alert-notify animate-show-hide"
                ng-show="vm.showHelp"
                ng-click="vm.helpUser()"
                role="alert">
                <label >{{vm.helpMessage}}</label>
            </div>
            <div class="alert alert-success sckola-alert-success
                        alert-notify success animate-show-hide"
                ng-show="vm.showSuccessMessage"
                role="alert">
                {{vm.successMessage}}
            </div>
            <div class="alert alert-danger sckola-alert-error alert-notify error animate-show-hide"
                ng-show="vm.showErrorMessage" role="alert">
                {{vm.errorMessage}}
            </div>
        </div>

        <div class="animate-show-hide col-sm-12" ng-show="vm.terminate">
            <form role="form" name="formUploadNotes" class="form-horizontal">
                <div class="partial-view form-group form-horizontal-login" ng-hide="vm.showMessageInitial">
                    <label for="filtro" class="col-sm-3 text-color" ng-hide="vm.showClaseUnic">Clase: </label>
                    <label class="col-sm-3 text-color" ng-show="vm.showClaseUnic">Clase: {{vm.claseUnic.name}}</label>
                    <div ng-hide="vm.showClaseUnic">
                        <select ng-model="vm.claseUnic" id="filtro" name="filtro"
                                required
                                ng-options="clase.name for clase in vm.clase"
                                class="form-control center-block"
                                ng-change="vm.asignClase(vm.claseUnic)"
                                style="padding:0px 18px;">
                            <option value="" ng-hide="true"></option>
                        </select>
                    </div>
                </div>
                <br>
                <div class="animate-show-hide" ng-show="vm.show">
                    <div class="partial-view form-horizontal-login">
                        <div class="form-group">
                            <label class="text-color">Evaluaci&oacute;n: {{ vm.evaluation.evaluationTool.name }}</label>
                        </div>
                        <div class="col-sm-6 pull-right">
                            <label class="text-color">Fecha: {{ vm.evaluation.date}}</label>
                        </div>
                    </div>
                    <br>
                    <div class="partial-view">
                        <ul class="list-group">
                            <li ng-repeat="estudiante in vm.estudiantes | orderBy:'firstName'"
                                class="list-group-item list-group-section-item
                                    ember-view col-sm-12">
                                <div class="alignMiddler form-horizontal-login">
                                    <div class="col-sm-11"><p class="color-white" ng-click="vm.selectEstudiante(estudiante)">{{ estudiante.firstName }} {{estudiante.lastName}}</p></div>
                                    <div class="col-sm-2 form-horizontal-login upload-notes">
                                        <div ng-class="{mostrar: true == estudiante.validate}">
                                            <span class="circulo" ng-class="{mostrar: true == estudiante.validate}" style="position: absolute; z-index: 10;top: -25px; left: 1px;">!</span>
                                            <span class="tooltipstext" ng-class="{mostrar: true == estudiante.validate}">Seleccione una nota</span>
                                            <div class="tooltips" ng-class="{mostrar: true == estudiante.validate}"></div>
                                        </div>
                                        <select ng-model="estudiante.qualification"
                                                name="scale" required
                                                ng-options="scale.value for scale in vm.escala track by scale.value"
                                                style="padding: 5%; margin: 0" ng-change="vm.cargarNota(estudiante);vm.validarNota(estudiante)">
                                        </select>
                                        <span style="padding: 5%"
                                            ng-click="vm.selectEstudiante(estudiante)"
                                            class="glyphicon glyphicon-eye-open color-white font-large">
                                        </span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default sckola-btn shadow-feed-element" ng-click="vm.siguienteEvaluacion()" ng-show="vm.siguiente" ng-disabled="vm.notas">
                            Siguiente evaluaci&oacute;n
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="animate-show-hide" ng-show="!vm.terminate">
            <div style="margin-top: 20%; margin-left: 40%;">
                <label class="text-color" style="font-size: 20px;"><img src="static/images/cargando.gif" style="width: 25px"> Cargando</label>
            </div>
        </div>
    </div>
</div-->
