<div>
    <p class="element-title"><span class="glyphicon glyphicon-ok"></span>Asistencia</p>
    <br>
</div>
<div class="container-fluid" set-screen-height>
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-success sckola-alert-success success animate-show-hide" role="alert"
            ng-show="vm.showSuccessAssistance">{{vm.successMessage}}
            </div>
            <div class="alert alert-info sckola-alert-info animate-show-hide" role="button"  ng-show="vm.showHelp"
            ng-click="vm.helpUser()">
                <p>{{vm.helpMessage}}</p>
            </div>
            <div class="alert alert-danger sckola-alert-error error animate-show-hide" role="alert" 
            ng-show="vm.showError">{{vm.errorMessage}}
            </div>
            <div class="alert alert-warning sckola-alert-warning animate-show-hide" 
            ng-show="vm.showStudentsMessage" role="alert">
            {{vm.studentsMessage}}
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div ng-show="vm.terminate">
            <form name="assistanceform">
                <div class="col-md-12 row form-group" ng-show="vm.showClaseUnic">
                    <p><strong>Clase: </strong>
                        <span>{{vm.claseUnic.name}}</span>
                    </p>
                </div>
                <div class="col-md-12 row form-group" ng-show="vm.showClases && vm.showType">
                    <label class="form-group" for="typeclass">Tipo de clase</label>
                    <div class="custom-radio" ng-show="vm.typeIntegral">
                        <input type="radio" name="typeClass" ng-click="vm.typeClass(true)">
                        <label class="form-group">Integral</label>
                    </div>
                    <div class="custom-radio" ng-show="vm.typeNotIntegral">
                        <input type="radio" name="typeClass" ng-click="vm.typeClass(false)">
                        <label class="form-group">No integral</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group" ng-show="vm.seleccion">
                        <label for="subjectsection">Clase</label>
                        <select class="form-control" id="subjectsection" ng-model="vm.claseSelect" 
                        ng-options="clase.name for clase in vm.clase" ng-change="vm.asignClase(vm.claseSelect)"
                        ng-hide="vm.showClaseUnic">
                            <option value="" disabled> -- Seleccione una clase -- </option>
                        </select>
                    </div>
                    <div class="col-md-12 form-group" ng-show="vm.show">
                        <label for="date">Fecha</label>
                        <input class="form-control" type="date" id="date" placeholder="dd/mm/aaaa" ng-model="vm.date" 
                        ng-max="vm.dateActual" ng-change="vm.buscarAsistenciaPorFecha(vm.date)"/>
                    </div>
                </div>
                <!--br><br-->
                <div class="animate-show-hide" ng-show="vm.show">
                    <ul class="list-group">
                        <li class="col-sm-12 border-child list-group-item list-group-section-item" 
                        ng-repeat="estudiante in vm.estudiantes | orderBy:'firstName'">
                            <div>
                                <div class="col-xs-10 col-sm-11 form-group">
                                    <p class="color-white font-large">
                                        {{ estudiante.firstName }} {{estudiante.lastName}} 
                                    </p>
                                </div>
                                <div class="col-sm-1 form-group"> 
                                    <input type="checkbox" ng-model="estudiante.assistance" ng-hide="vm.edit"
                                    ng-checked="estudiante.assistance">
                                    <input type="checkbox" ng-model="estudiante.assistance" ng-show="vm.edit" 
                                    ng-click="vm.editarAsistencia(estudiante)" ng-checked="estudiante.assistance">
                                </div>
                            </div> 
                        </li>
                    </ul>
                </div>
            </form>
        </div> 
    </div>
    <br>
    <div ng-show="vm.terminate && vm.estudiantes.length > 0">
        <div class="row" ng-hide="vm.edit">
            <div class="col-md-6 form-group list-group">
                <button class="btn btn-default sckola-btn" ng-click="vm.guardarAsistencia()" 
                ng-hide="vm.edit || vm.estudiantes == null">
                    Guardar
                </button>
            </div>
        </div>
        <div class="row" ng-show="vm.edit">
            <div class="col-md-6 form-group list-group">
                <button class="btn btn-default sckola-btn" ng-click="vm.editarAsistencias()">
                    Editar
                </button>
            </div>
        </div>
    </div>
    <div class="animate-show-hide loader-container" ng-show="!vm.terminate">
        <div class="text-center">
            <p class="text-color">
                <img src="static/images/cargando.gif">
                Cargando
            </p>
        </div>
    </div>
</div>
<!--br/><br/>
<div class="container-fluid" set-screen-height>
    <label class="element-title text-color"><span class="glyphicon glyphicon-ok" style="padding-right:10px; margin-bottom: 20%;"></span>Asistencia</label>
    <br>
    <div class="row">
      <div class="col-sm-11 partial-view-messages">
        <div ng-show="vm.showSuccessAssistance"
             class="alert alert-success sckola-alert-success
                    alert-notify success animate-show-hide"
             role="alert">
             {{vm.successMessage}}
        </div>
        <div ng-show="vm.showError"
             class="alert alert-danger sckola-alert-error alert-notify success animate-show-hide"
             role="alert">
             {{vm.errorMessage}}
        </div>
        <div class="alert alert-info sckola-alert-info
                    alert-notify animate-show-hide"
             ng-show="vm.showHelp"
             ng-click="vm.helpUser()"
             role="alert">
            <label >{{vm.helpMessage}}</label>
        </div>
        <div ng-show="vm.showStudentsMessage" 
            class="alert alert-warning sckola-alert-warning
                alert-notify animate-show-hide"
            role="alert"
            style="position:initial">
            {{vm.studentsMessage}}
        </div>
      </div>
        <div class="animate-show-hide col-sm-12" ng-show="vm.terminate">
        <form role="form" name="formAssistance" class="form-horizontal">
            <div class="partial-view form-group" ng-show="vm.showClaseUnic">
                <label for="filtro" class="col-sm-9 text-color">Clase: {{vm.claseUnic.name}}</label>
            </div>
            <div class="partial-view form-group form-horizontal-login" ng-show="vm.showClases && vm.showType">
                <label for="filtro" class="col-sm-3 text-color">Tipo de clase:</label>
                    <div class="form-horizontal-login" ng-show="vm.typeIntegral">
                        <input type="radio" name="typeClass" ng-click="vm.typeClass(true)">
                        <label class="text-color">Integral</label>
                    </div>
                    <div class="form-horizontal-login" ng-show="vm.typeNotIntegral">
                        <input type="radio" name="typeClass" ng-click="vm.typeClass(false)">
                        <label class="text-color">No integral</label>
                    </div>
            </div>
            <br>
            <div class="partial-view form-group form-horizontal-login" ng-show="vm.seleccion">
                <label for="filtro" class="col-sm-3 text-color form-horizontal-login">Clase:</label>
                <div>
                    <select ng-model="vm.claseSelect" id="filtro" name="filtro"
                            required
                            ng-options="clase.name for clase in vm.clase"
                            class="form-control center-block"
                            ng-change="vm.asignClase(vm.claseSelect)"
                            style="padding:0px 18px;">
                        <option value="" ng-hide="true"></option>
                    </select>
                </div>
            </div>
            <br>
            <div class="partial-view form-group form-horizontal-login" ng-show="vm.show">
                <label for="date" class="col-sm-3 text-color">Fecha: </label>
                <div>
                    <input class="form-control" id="date"
                           placeholder="dd-mm"
                           ng-model="vm.date" type="date" ng-max="vm.dateActual"
                           ng-change="vm.buscarAsistenciaPorFecha(vm.date)"/>
                </div>
            </div>
            <br>
            <div class="partial-view animate-show-hide" ng-show="vm.show">
                <div>
                    <ul class="list-group">
                        <li ng-repeat="estudiante in vm.estudiantes | orderBy:'firstName'"
                            class="list-group-item list-group-section-item
                                   ember-view col-sm-12" ng-show="vm.estudiantes.length > 0">
                            <div class="alignMiddler form-horizontal-login" >
                                <div class="col-sm-11">
                                  <p class="block-with-text color-white list-context">
                                     {{ estudiante.firstName }} {{estudiante.lastName}}
                                   </p>
                                </div>
                                <div class="col-sm-1" style="width: 10%">
                                    <input type="checkbox" ng-model="estudiante.assistance"
                                           ng-hide="vm.edit"
                                           ng-checked="estudiante.assistance">
                                    <input type="checkbox" ng-model="estudiante.assistance"
                                           ng-show="vm.edit"
                                           ng-click="vm.editarAsistencia(estudiante)"
                                           ng-checked="estudiante.assistance">
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div ng-show="vm.estudiantes.length > 0">
                        <button type="button" class="btn btn-default sckola-btn
                                                    shadow-feed-element animate-show-hide"
                                ng-hide="vm.edit || vm.estudiantes == null"
                                ng-click="vm.guardarAsistencia()">
                            Guardar
                        </button>
                        <button type="button" class="btn btn-default sckola-btn
                                                    shadow-feed-element animate-show-hide"
                                ng-show="vm.edit && vm.estudiantes.length > 0" ng-click="vm.editarAsistencias()">
                            Editar
                        </button>
                    </div>
                </div>
            </div>
        </form>
        </div>
        <div class="animate-show-hide" ng-show="!vm.terminate">
            <div style="margin-top: 20%; margin-left: 40%;">
                <label class="text-color" style="font-size: 20px;"><img src="static/images/cargando.gif" style="width: 25px"> Cargando</label>
            </div>
        </div>
    </div>
</div-->
