


<div scroll-circular class="mdl-shadow--4dp" set-screen-height>
  <div class="container-fluid" id="section1">
    <div class="first-section-title">
      <h4 style="" class="section-title">Contenido</h4>
    </div>
    <label class="element-title text-color" class="col-sm-offset-1" > <span class="glyphicon glyphicon-envelope"></span> Notificaciones</label>
    <slick ng-if="vm.updateNotifications" class="shadow-feed-element notification-carousel animationIf" settings ="vm.slickSettings"           >
      <div  class="slick-item item-slide" ng-repeat="notification in vm.notifications" ng-click="vm.showNotificationInfo(notification)" >
        <!--<a href="#" ><img class="item-image pull-left" src="{{new.image}}"></a> -->
        <!--</div>-->
        <div>
          <label class="item-name pull-left" style="width:100%;height:40px; font-weight:700">{{notification.from }} <button ng-show="notification.active" class=" pull-right glyphicon glyphicon-envelope btn notification-carousel-image animate-show-hide button-notification" tabindex="0"></button> </label>
          <div style="background-color:red;"></div>
          <label class="item-name" ng-if="notification.type != 'INFO'"> {{notification.matter.name+" "+notification.section.name}}</label>
          <label class="item-name" ng-if="notification.type == 'INFO'"> {{notification.text}}</label>
          <!--<h4 class="item-reference pull-left" style="max-width:90%">{{notification.text}}</h4>-->
        </div>
      </div>
    </slick>
    <br/>
    <div id="messages" style="">
      <div class="alert alert-success sckola-alert-success alert-notify success animate-show-hide shadow-feed-element" ng-show="vm.showSuccessMessage" style="text-align:center;" role="alert">{{vm.successMessage}} <span class="glyphicon glyphicon-ok pull-right"></span></div>
      <div class="alert alert-danger sckola-alert-error alert-notify error animate-show-hide shadow-feed-element" ng-show="vm.showError" role="alert">{{vm.errorMessage}}</div>
    </div>
    <div id="assistance" class="animate-show-hide" ng-show="vm.showAssistance">
      <label class="element-title text-color" class="col-sm-offset-1">Asistencia</label>
      <ul id="style-1" class=" scrollbar horizontal-list-group shadow-feed-element">
        <li class="horizontal-list-group-item" ng-repeat="student in vm.students">
          <div style="width: 100%;">
          <div>
            <img class="list-image pull-left" src="static/images/usuario.png">
          </div>
          <div>
            <label class="item-name" style="font-size: 20px;">{{student.firstName}} <br> {{student.lastName}}</label>
          </div>
          <div>
            <input type="checkbox" ng-checked="student.assistance"/>
          </div>
          </div>
        </li>
      </ul>
      <br/>
      <button class="btn btn-default sckola-btn shadow-feed-element" ng-click="vm.saveAssistance()" style="margin-left:69%">Guardar</button>
    </div>
    <div id="scores" class="animate-show-hide" ng-show="vm.showScore" >
      <label class="element-title text-color" class="col-sm-offset-1">Puntaje de Evaluación</label>
      <ul id="style-1" class=" scrollbar horizontal-list-group shadow-feed-element">
        <li class="horizontal-list-group-item" ng-repeat="student in vm.scoreStudents track by $index">
          <div style="width: 100%;">
            <div>
              <img class="list-image pull-left" src="static/images/usuario.png">
            </div>
            <div>
              <label class="item-name" style="font-size: 20px;">{{student.firstName}} <br> {{student.lastName}}</label>
            </div>
            <div>
              <span class="pull-left" style="margin-left:10%;">Score: </span>
              <select ng-model="student.qualification" name="score"
                      ng-options="score.value for score in vm.scores"
                      class="form-control center-block pull-left" style="width:25%;margin-left:10%;padding: 0%; margin: 0;"
                      ng-change="vm.uploadNote(student)">
              </select>
            </div>
          </div>
      </li>
    </ul>
    <br/>
    <button class="btn btn-default sckola-btn shadow-feed-element" ng-click="vm.saveScore()" style="margin-left:69%">Guardar</button>
  </div>
  <!--<hr id="1" class="separator" set-separator-screen-position/> -->
  </div>
<!--<div id="section2" set-screen-height>
  <br/><br/>
  <div class="second-section-title">
    <h4 style="margin-top:25px"  class="section-title second-title"> Colegas </h4>
  </div>
  <h1 class="title-prox"> Proximamente </h1>
  &lt;!&ndash;<hr id="2" class="separator" set-separator-screen-position/>&ndash;&gt;
</div>
<div id="section3" set-screen-height>
  <br/><br/>
  <div class="third-section-title">
    <h4 style="margin-top:25px"  class="section-title"> Comunidad</h4>
  </div>
  <h1 class="title-prox"> Proximamente </h1>
  &lt;!&ndash; <hr id="3" class="separator" set-separator-screen-position/> &ndash;&gt;
</div>-->
</div>
