<div>
  <p class="element-title"><span class="glyphicon glyphicon-file"></span>Evaluaciones</p>
  <br>
</div>
<div class="container-fluid" set-screen-height>
  <div class="row">
      <div class="col-sm-12">
          <!--div role="alert" class="alert alert-success sckola-alert-success success animate-show-hide" 
          ng-show="vm.showSuccessMessage">{{vm.successMessage}}
          </div-->
          <div class="alert alert-info sckola-alert-info animate-show-hide" role="button" ng-show="vm.showHelp"
          ng-click="vm.helpUser()">
              <p>{{vm.helpMessage}}</p>
          </div>
          <!--div role="alert" class="alert alert-danger sckola-alert-error error animate-show-hide" 
          ng-show="vm.showError">{{vm.errorMessage}}
          </div-->
        </div>
  </div>
  <div class="row">
      <div ng-show="vm.terminate">
          <ul class="list-group">
              <li class="col-sm-12 list-group-item list-group-section-item" ng-repeat="evaluation in vm.evaluationPlan" 
              ng-hide="vm.showMessageInitial">
                  <div>
                      <div class="col-sm-2 text-center">
                          <a>
                              <img src="static/images/book.png" class="list-group-section-image">
                          </a>
                      </div>
                      <div class="subject-section-students">
                          <div class="col-sm-10 color-white">
                              <p class="list-group-section-text">
                                  {{evaluation.name}}
                              </p>
                          </div>
                          <div class="col-sm-2">
                            <p class="list-group-section-text">
                              <span class="glyphicon glyphicon-link color-white" aria-hidden="true" 
                              title="Asociar plan a clase" role="button" 
                              ng-hide="evaluation.matterCommunitySection != null"
                              ng-click="vm.associatePlanClase(evaluation)"></span>
                              <span class="glyphicon glyphicon-eye-open color-white" aria-hidden="true" 
                              title="Detalle del plan de evaluación" role="button" 
                              ng-click="vm.detailPlan(evaluation)"></span>
                            </p>
                          </div>
                      </div>
                  </div>
                  <!--div ng-show="class.matterCommunity.selected">
                      <ul list-group>
                          <li class="col-sm-12 border-child list-group-item list-group-section-item" 
                          ng-repeat="student in class.students| orderBy:'firstName'">
                              <div>
                                  <div class="col-sm-2 text-center">
                                      <a>
                                          <img src="static/images/ghostPerson.png" class="list-group-section-image" >
                                      </a>
                                  </div>
                                  <div class="col-sm-8 student-name-email">
                                      <p class="color-white font-large" >{{student.firstName}} {{student.secondName}}
                                      {{student.lastName}} {{student.secondLastName}} 
                                          <strong ng-show="vm.user.id == student.id"> (YO)</strong>
                                      </p>
                                      <p class="color-white font-large student-mail-list" style="word-break: break-word;">
                                          {{student.mail}}
                                      </p>
                                  </div>
                                  <div class="row text-right">
                                      <div class="col-sm-12" ng-hide="vm.role == 'STUDENT'">
                                          <button class="btn btn-default sckola-btn" 
                                          ng-click="vm.studentMatterDesasociar(student)">
                                              <span aria-hidden="true">Desasociar</span>
                                          </button>
                                      </div>
                                  </div>
                              </div> 
                          </li>
                      </ul>
                      <div class="row text-right">
                          <div class="col-sm-12" ng-hide="vm.role == 'STUDENT'">
                              <button class="btn btn-default sckola-btn" ng-click="vm.studentMatterInvitation(class)">
                                  <span aria-hidden="true">Añadir</span>
                              </button>
                          </div>
                      </div>
                  </div-->
              </li>
          </ul>
      </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6 form-group list-group" ng-show="vm.terminate">
        <button class="btn btn-default sckola-btn" ng-hide="vm.showMessageInitial" ng-click="vm.evaluationPlanNew()">
            Añadir
        </button>
    </div>
  </div>
  <div class="animate-show-hide loader-container" ng-show="!vm.terminate">
      <div class="text-center">
          <p class="text-color">
              <img src="static/images/cargando.gif">
              Cargando
          </p>
      </div>
  </div>
</div>
<!--div class="container-fluid mdl-shadow--2dp" set-screen-height>
    <br><br>
    <label class="element-title text-color"><span class="glyphicon glyphicon-file"
       style="padding-right:10px; margin-bottom: 20%;"></span>Plan de evaluación</label>
    <br/>
    <div class="row">
        <div class="animate-show-hide" ng-show="vm.terminate">
        <form role="form" name="formEvaluation" class="form-horizontal">
          <div class="alert alert-info sckola-alert-info
                      alert-notify animate-show-hide"
               ng-show="vm.showHelp"
               ng-click="vm.helpUser()"
               role="alert" style="margin-left: 24%; cursor: pointer;">
              <label style="cursor: pointer;">{{vm.helpMessage}}</label></div>
            <div class="col-sm-offset-1" style="width:95%;">
            <ul class="list-group list-group-section">
                <li class="list-group-item initial-message ember-view col-sm-12"
                  ng-show="vm.showMessageInitial">
                </li>
                <li  ng-repeat="evaluation in vm.evaluationPlan" ng-hide="vm.showMessageInitial"
                  class="list-group-item list-group-section-item ember-view
                    col-sm-12">
                    <div class="col-sm-12 alignMiddler div-container">
                        <div  class="col-sm-2" style="width: 20%">
                            <a class=" EntityPhoto-circle-3">
                                <img src="static/images/book.png"
                                  class="list-group-section-image">
                            </a>
                        </div>
                        <div class="form-horizontal-login div-list-content" style="width: 80%;">
                        <div class="col-sm-7 alignText color-white" style="width: 75%;">
                            <label class="wrap-text feed-s-pymk-list-item__profile-link ember-view list-group-section-text list-context">
                                {{evaluation.name}}
                            </label>
                        </div>
                        <div class="col-sm-4 alignText div-list">
                            <label class="feed-s-pymk-list-item__profile-link ember-view list-group-section-text list-context">
                            <span class="glyphicon glyphicon-link color-white"
                                  aria-hidden="true" title="Asociar plan a clase"
                                  style="cursor:pointer"
                                  ng-hide="evaluation.matterCommunitySection != null"
                                  ng-click="vm.associatePlanClase(evaluation)"></span>
                            <span class="glyphicon glyphicon-eye-open color-white"
                                  aria-hidden="true" title="Detalle del plan de evaluación"
                                  style="cursor:pointer"
                                  ng-click="vm.detailPlan(evaluation)"></span>
                            </label>
                        </div>
                        </div>
                    </div>
                </li>
            </ul>
                <br>
                <br>
                <button class="btn btn-default sckola-btn-courses shadow-feed-element pull-right btn-matter"
                  ng-hide="vm.showMessageInitial"
                  style="width: 20%;margin-right: 20%;margin-top:5%;margin-bottom: 2%;"
                  ng-click="vm.evaluationPlanNew()">
                    <span aria-hidden="true">Añadir
                      <span class="glyphicon glyphicon-plus"
                      style="margin-left: 2%;"></span>
                    </span>
                </button>
            </div>
        </form>
        </div>
        <div class="animate-show-hide" ng-show="!vm.terminate">
            <div style="margin-top: 20%; margin-left: 40%;">
                <label class="text-color" style="font-size: 20px;"><img src="static/images/cargando.gif" style="width: 25px"> Cargando</label>
            </div>
        </div>
    </div>
</div-->
