a {
    color: white;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
  }
  
  a:hover {
    color: #33cccc;
    text-decoration: none;
  }
  
  a:active {
    color: white;
    text-decoration: none;
  }
  
  a:focus {
    color: white;
    text-decoration: none;
  }