/*Styles for responsive design*/

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  background: #E9ECF4;
}

/*html, body {
  overflow-x: hidden;
} */

body {
  overflow-x: hidden;
}

html, body, .sckola-container, .loader {
  /*height: 100vh;*/
  height: auto;
}

/*Styles for areas, side-menu and progress bar*/

.sckola-container {
  display: grid;
  grid-gap: 1rem ;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-template-areas: "side-menu notifications notifications notifications notifications progressbar"
                       "side-menu content content content content progressbar"
                       "side-menu content content content content progressbar"
                       "side-menu content content content content progressbar"
                       "side-menu content content content content progressbar";
}

.sckola-container .notifications,
.sckola-container .content {
  background: #fff;
  padding: 1rem;
  border-radius: 0.25rem;
}

.sckola-container .notifications {
  grid-area: notifications;
  margin-top: 5rem;
}

.sckola-container .content {
  grid-area: content;
}

.sckola-container .side-menu {
  grid-area: side-menu;
  margin-top: 4rem;
  background: rgb(48, 63, 70);
  color: white;
  padding: 1rem;
}

.side-nav {
  position: fixed;
  height: 100vh;
  width: 15.8vw;
}

.side-menu p {
  color: white;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.profile-image-container {
  display: flex;
  justify-content: center;
}

.profile-image {  /*Definido por Aimee* Antes había otra regla con este nombre*/
	width: 10.5rem;
	height: 10.5rem;
	background-color: white;
  border-radius: 50%;
  border: 2px solid white;
  margin-bottom: 1rem;
}

.side-menu-options {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

div.side-menu-options > ul {
  list-style-type: none;
}

div.side-menu-options > ul > li {
  margin-bottom: 1rem;
}

div.side-menu-options > ul > li > a {
  /*color: #fff;*/
  color: #9d9d9d;
  text-decoration: none;
}

a.side-menu-item:hover {
  color: white;
  cursor: pointer;
}

div.side-menu-options > ul > li > a > span {
  margin-right: 0.75rem;
}

.sckola-container .progressbar {
  grid-area: progressbar;
  display: flex;
  justify-content: center;
  margin-top: 6rem;
}

.progressbar p {
  font-weight: bold;
  text-align: center;
  font-size: 1.5rem;
}

#circle {
  width: 10rem;
  height: 10rem;
  position: relative;
  border-radius: 700px;
  margin-top: 1rem;
}

.progressbar {
  padding-right: 1rem;
}

@media screen and (max-width: 960px) {
  .sckola-container .side-menu,
  .sckola-container .progressbar {
    display: none;
  }
}

@media screen and (max-width: 960px) {
  .sckola-container {
    grid-template-areas: "notifications notifications notifications notifications notifications notifications"
                         "content content content content content content"
                         "content content content content content content"
                         "content content content content content content"
                         "content content content content content content";
  }

 .sckola-container .notifications,
 .sckola-container .content {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}

/*Styles for Sckola loader*/

.sckola-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -250px; 
  margin-left: -250px; 
}

.loader {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 11000;
   background-color: #f5f5f5;
   background-position: center;
}

.loader-animated {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px; 
  margin-left: -210px; 
}

/*Styles for responsive design*/

/*Comentado por Aimee*/ 

.navbar {
  background-color: #263238;
}

/*.body{
  background-color: #f5f5f5;
}*/

.notification-carousel{
  border-radius: 10px;
}

.notification-carousel-image:hover{
  color:white;
}

.dropdown-menu > li > a{
  color:white;
}

.dropdown-menu > li > a:hover{
  color:black;
}

.font-large {
  font-size:large;
}

.list-group-item.initial-message {
  background-color: #ffffff;
  border-width: 0px;
}

.menu-hidden-item:hover{
  color:#75ABDD;
  border-radius:20px;
}

.notification-carousel-image{
  background-color: red;
  width: 27px;
  color: white;
  border-radius: 100px;
  margin-right: 20px;
  height: 29px;
  box-shadow: 1px 1px 1px 1px #252121;
}

.btn.notification-carousel-image{
  border-radius:100px;
  padding:5px;
}
.shadow-feed-element{
  box-shadow: 6px 5px 16px 0px #252121;
}

.nav-title{
    color:#f5f6f6;
    margin-left: 5px;
}

.nav-title:hover{
  background-color: none;
}

/*.navbar-inverse .navbar-nav>li>a{
  color:white;
}*/

.dropdown-menu>li>a{
  color:white;
}

.color-white{
  color:white;
}

.open > .dropdown-menu {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  opacity:1;
}

.dropdown-menu {
  opacity:.3;
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transform: scale(1, 0);
  display: none;
  background-color: #484b4e;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
}

.nav-menu{
  visibility: hidden;
}

.modal-header.sckola-modal-header {
  background-color: #484b4e;
}

.edit-button {
  background-color: #484b4e;
  border-color: #484b4e;
  border: none;
  padding: 2px;
}

.send-button {
  background-color: #484b4e;
  border-color: #ffffff;
  color: #ffffff;
  border-radius: 10px;
  font-weight: 450;
}

.list-group-item.modal-list-item{
  width: 100%;
  background-color: #484b4e;
  border-color: black;
  box-shadow: 6px 12px 12px 3px #252121;
}

.modal-list-image{
  border-radius: 40px;
  box-shadow: 2px 3px 2px 2px #403a3a;
}

.modal-list-btn{
    width: 100%;
    margin-top: 25%;
    box-shadow: 2px 3px 2px 2px #403a3a;
}

.modal-content{
    background-color: #484b4e;
}

.sckola-modal-title{
  font-size: 20px;
  margin-top: 1%;
}

.item-slide{
    background-color: white;
    border-color: #484b4e;
    border-style: solid;
    border-width: 2px;
    height:82px;
    display: block;
    float: left;
    margin-left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}

.list-group .list-group-item.child{
  width:100%;
}

.list-group .list-group-item.child:hover {
  background-color: #484b4e;
  color: #75ABDD;
}


.list-group .list-group-item.item-menu{
    width:100%;
    color: white;

}
.list-group.list-group-item:hover{
    box-shadow: 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12), 0 5px 5px -3px rgba(0,0,0,.2);
}

.list-group .list-group-item.item-menu.sizeCourses{
  width:100%;
}

.list-group .list-group-item.item-menu.sizeCourses:hover{
  color: #75ABDD;
}

.angular-notifications-icon.overlay{
  left:16px;
}

.list-group .list-group-item.item-menu:hover {
    background-color: #cccccc;

    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);

}

ul.horizontal-list-group {
  list-style-type:none;
  width:97%;
  margin:20px;
  border:solid;
  border-width: 2px;
  border-radius: 10px;
  white-space:nowrap;
  overflow-x:auto;
}

.horizontal-list-group-item {
  display: inline-flex;
  text-align: center;
  padding:2px;
  border:none;
  width: 30%;
  background: #e8f3d3;
  border-right: solid;
}


.item-name {
  font-weight: 400;
  padding: 5px;
  margin-left: 4%;
  margin-top: 1%;

  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;    
  -ms-hyphens: auto;          
  -moz-hyphens: auto;         
  -webkit-hyphens: auto;
  hyphens: auto;
}

.item-reference{
  margin-left: 4%;
  font-size:large;
}

.alert-info.sckola-alert-info{
  border-radius: 10px;
  position:initial;
  /*border:solid;* Comentado por Aimee*/
  border-color: #31708f; 
  text-align: center;
}

.alert-danger.sckola-alert-error{
  /*border: solid;* Comentado por Aimee*/
  border-color: #842e18;
  background-color: #ec9883;
  color: #842e18;
  border-radius: 10px;
  position: initial;
  text-align: center;
}

.alert-success.sckola-alert-success{
    background-color: #dff0d8 ;
    border-color: #3c763d;
    color: #3c763d;
    border-radius: 10px;
    position:initial;
    text-align: center;
}

.alert-warning.sckola-alert-warning{
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #faaf40;
  border-radius: 10px;
  border:solid;
  text-align: center;
}

.alert-warning:before{
  width: 0px;
  height: 0px;
}

.navbar-inverse{
}

.nav > li{
    margin-top: 0px;
}

.navbar-inverse .navbar-brand {
     color: white;
}
.navbar-brand{
    margin-top: 3px;
    margin-left: 10px;
}

.nav .navbar-brand .navbar-title {
  background-color: black;
}

.menu{
  position: relative;
  margin-top: 3em;
  width: 80%;
  margin-left: 3%;
}

.feed{
    background-color: #FFFFFF;
    margin-top: 5px;
    margin-bottom: 1%;
}
.sidemenu{
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 300px;
}

.first-section-title{
  background-color: #ccc;
}

.second-section-title{
  background-color: rgb(230, 114, 46);

  height: 5%;

}

.third-section-title{
  background-color: rgb(121, 6, 6);;

  height: 5%;

}

.first-title{
    margin-left: 1%;
    padding-top: 1%;
}

.side-menu-list{

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.role-name {
  position: relative;
  text-align: center;
  padding-top: 2em;
}

/*
.profile-image{
  border-color: white;
  width: 9.2em;
  height: auto;
  border-width: 2px;
  border-style: solid;
  box-shadow: 1px 4px 12px 3px #252121;
  border-radius: 50%;
  position: relative;
  margin-top: 5%;
  object-fit: cover;
}*/

.profile-name{
    position: relative;
    /*margin-left: 26%;*/
    font-size: 100%;
    text-align: center;
    margin-top: 0.5em;
    max-width: 50%;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;     
  -ms-hyphens: auto;          
  -moz-hyphens: auto;         
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mbr-buttons__btn.btn.btn-default.login-btn{
  color:white;
  border-color:white;
  background-color: #3C3C3C;
  border-width: 2px;
}
.mbr-buttons__btn.btn.btn-default.login-btn:hover{
  color:black;
  border-color:white;
  background-color: white;
}

.separator{
  border-color:white;
  margin-left: 5px;
  margin-right: 5px;
  width:93%
}

.carousel .row .span3 {
  background-color: #e8f3d3;
  border-color: #484b4e;
  border-style: solid;
  border-width:2px;
  display: block;
  float: left;
  width: 33%;
  margin-left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;

  box-sizing: border-box;

  border-radius:10px;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
  background-color: white;
  color:white;
}

#accordion-container {
  overflow: hidden;
}

/*.carousel{
  overflow: hidden;
}*/

/*.carousel-inner{
  overflow:initial;
}*/

.item-image {
  height:80px;
  width:30%;
  margin-left:2%;
  margin-top:2%;
  margin-right:2%;
}

.list-image{
  height: 80px;
  width: 30%;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 100px;
  box-shadow: 2px 2px 6px 1px #252121;
}

.scrollbar
{
	background: #F5F5F5;
	overflow-x: scroll;
	margin-bottom: 25px;
}

#style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.page-title{padding:5px;}
.element-title{    /*padding: 5px;*/
    margin-top: 1%;
    font-size: x-large;}
.section-title{
  margin-left: 1%;
  padding-top: 1%;
  font-size:18px;
}


.carousel-control     		 { width:  4%; }
.carousel-control.left,.carousel-control.right {margin-left:15px;background-image:none;}

@media only screen and (max-width:330px){
  .item-image{
    width:30%;
    height: 30%;
  }
  .item-reference {
    font-size: 12px;
    padding:5px;
   }
  .item-name {
     font-size: 12px;
     padding: 5px;
    }
}

@media only screen and (max-width: 450px) and (min-width:330px) {

  .list-image{
    width:60%;
    height: 60%;
  }
   .item-reference {
     font-size: 12px;
     padding:5px;
    }
   .item-name {
      font-size: 12px;
      padding: 5px;
     }
     .item-image{
       width:30%;
       height: 30%;
     }
}

@media only screen and (max-width: 555px) and (min-width:450px){

  .list-image{
    width:60%;
    height: 60%;
  }
  .item-reference {
    font-size: 12px;
    padding:5px;
   }
  .item-name {
     font-size: 12px;
     padding: 5px;
    }
    .item-image{
      width:30%;
      height: 30%;
    }
}

@media only screen and (max-width: 750px) and (min-width:555px) {

  .list-image{
    width:60%;
    height: 60%;
  }
   .item-reference {
     font-size: 16px;
     padding:5px;
    }
   .item-name {
      font-size: 14px;
      padding: 5px;
     }
     .item-image{
       width:30%;
       height: 30%;
     }
}

@media only screen and (max-width: 1000px) and (min-width:750px) {

  .list-image{
    width:80%;
    height: 80%;
  }
  .item-image{
    width:30%;
    height: 30%;
  }

}

@media only screen and (max-width:990px){
  .nav-menu{
    visibility: visible;
  }
}

@media only screen and (max-width:1000px) and(min-width:770px){
  .button-notification{
    margin-left: 70px;
  }
}
@media only screen and (max-width:770px){
  .notification-image{
    padding-left: 15px;

  }

  .button-notification{
    margin: 10px;
  }
}

.glyphicon.glyphicon-chevron-up{
  color:#333;
}

.list-group-item.colorHyperLink{
  width:100%;
  border: 0.5px solid;
  border-color: black;
  background-color: #484b4e;
  color: white;
  font-weight: 700;
}

.dropdown-menu > li > a .color-white{
  color:white;
}
.dropdown-menu.nav-list{
      background-color: #484b4e;
}

.nav-list-item{
      background-color: #484b4e;
      border-radius: 20px;
      text-align: center;
}

.backgroundList{
  background-color: #484b4e;
  list-style-type: none;
  border-radius:5px;
  margin-top:5%;
}


.colorHyperLink:hover{
  background-color:white;
  color: black;
}

.center-block.community-combo{
  margin-left: 5%;

}

.btn.btn-default.sckola-btn {
  /*width: auto;*/
  background: #484b4e;
  border-width: 2px;
  border-color: white;
  font-weight: 700;
  color:white;
  border-radius:5px;
}

.sckola-btn:hover{
  color:white;
  background: #484b4e;
  border-color:white;
}

/* Comentado por Aimee
.alert-notify {
  width: 55%;
  margin-left: 28%;
}*/

.success{
  border-width: 1px;
  border-color: #3c763d;
}

.error{
    border-width: 1px;
    border-color:#a94442;
}

.animationIf.ng-enter,
.animationIf.ng-leave {
  -webkit-transition: opacity ease-in-out 1s;
  -moz-transition: opacity ease-in-out 1s;
  -ms-transition: opacity ease-in-out 1s;
  -o-transition: opacity ease-in-out 1s;
  transition: opacity ease-in-out 1s;
}
.animationIf.ng-enter,
.animationIf.ng-leave.ng-leave-active {
  opacity: 0;
}
.animationIf.ng-leave,
.animationIf.ng-enter.ng-enter-active {
  opacity: 1;
}

.animate-show-hide.ng-hide {
  opacity: 0;
}

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
  transition: all linear 0.05s;
}


.coursesCreateColor{
  color:white;
  font-size: x-large;
}


/*span.circle-blue {
  background: #5178D0;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 15px;
  text-align: center;
  width: 1.6em;
} Comentado por Aimee*/

span.blue-circle {
	background: #5178D0;
	width: 40px;
	height: 40px;
	/* background-color: white; */
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-weight: bold;
}

.btn.btn-default.sckola-btn-courses{
  width: 40%;
  background: #484b4e;
  border-width: 2px;
  border-color: white;
  font-weight: 700;
  color:white;
  margin-top: 20px;
  border-radius:5px;
}

.sckola-btn-courses:hover{
  color:white;
  background: #484b4e;
  border-color:white;
}

.list-group-section{
  width:80%;
}

.list-group-item.list-group-section-item { /*es aquí*/
  background-color: #484b4e;
  /*border-color: black; Comentado por Aimee*/
  /*box-shadow: 6px 12px 12px 3px #252121; Comentado por Aimee*/
}

.list-group-section-image{
  border-radius: 60px;
  box-shadow: antiquewhite;
  box-shadow: 3px 5px 7px 3px #252121;
}

.list-group-section-text{
  margin-top: 30px;
  font-size: 20px;
}

span.circle-blue.list-group-section-circle{
  margin-top: 30px;
  width: 90%;
  height: 45px;
  font-size: 30px;
}

.label-form{
  font-size:20px;
}

.form-section{
  margin-bottom: 2%;
}
.styleNavBar{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.styleNavBar:hover{
  color: #75ABDD;
  background: #484b4e;
  border-color:white;
}

.selected-community{
  background-color: white;
  color:black;
}

.open > .dropdown-menu {
  opacity: 1;
  visibility: visible;
}

.dropdown-menu.dropdown-menu-community {
  display: block;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 500ms ease, visibility 500ms ease;
  -moz-transition: opacity 500ms ease, visibility 500ms ease;
  -o-transition: opacity 500ms ease, visibility 500ms ease;
  transition: opacity 500ms ease, visibility 500ms ease;
}

.btn.btn-default.comunity-btn-list{
  margin-bottom: 10px;
  border-radius: 10px;
  margin-left: 3px;
  border-color: white;
  background-color: #484b4e;
  color: white;
  margin-right: 10px;
  margin-top: 7px;
}

.maxSize
{
  max-width: 170%;
  max-height: 170%;
}


@media only screen and (max-width: 1380px) and (min-width: 1290px){
  .list-background{
    font-size: 85%;
    padding: 10px 10px !important;
    font-weight: 700;
  }
  /*.profile-image{
    height: 150px;
  }*/
}

@media only screen and (max-width: 1290px) and (min-width: 1200px){
  .list-background{
    font-size: 85%;
    padding: 10px 10px !important;
    font-weight: 700;
  }
  .list-item-menu{
    font-size: 110% !important;
    font-weight: 500;
  }
  /*.profile-image{
    height: 140px;
  }*/
}

@media only screen and (max-width: 1200px) and (min-width: 1120px){
  .list-background{
    font-size: 70%;
    padding: 10px 10px !important;
    font-weight: 700;
  }
  .list-item-menu{
    font-size: 110% !important;
    font-weight: 700;
  }
  /*.profile-image{
    height: 130px;
  }*/
}

@media only screen and (max-width: 1120px) and (min-width: 1030px){
  .list-background{
    font-size: 75%;
    padding: 10px 10px !important;
    font-weight: 700;
  }
  .list-item-menu{
    font-size: 90% !important;
    font-weight: 500;
  }
  /*.profile-image{
    height: 120px;
  }*/
  .menu{
    margin-top: 2em;
  }
}

@media only screen and (max-width: 1030px) and (min-width: 990px){
  .list-background{
    font-size: 80%;
    padding: 10px 10px !important;
    font-weight: 700;
  }
  .list-item-menu{
    font-size: 80% !important;
    font-weight: 500;
  }
  /*.profile-image{
    height: 110px;
  }*/
  .menu{
    margin-top: 2.5em;
  }
}

.list-menu-navbar{
  left: -220%;
  float:left;
  position: absolute;
  right: 0;
}

.item-navbar-hidden{
  display: none !important;
}

.list-context{
  margin-left: 20%;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;     
  -ms-hyphens: auto;         
  -moz-hyphens: auto;         
  -webkit-hyphens: auto;
}


.span-glyphicon-list{
  cursor:pointer;
  font-size: 30px;
  margin-top: 70%;
}

.modal-new-evaluation{
  width: 115%;
}

.upload-notes{
  width: 20% !important;
}

@media only screen and (max-width: 991px){
  .menu-login{
    left: -200px !important;
    position: absolute !important;
    border-radius:15px;
    background-color: white;
    color:black;
    width: 250px !important;
  }
  .item-navbar-hidden{
    display: block !important;
  }
  .span-glyphicon-list{
    margin-top: 30%;
  }
}

@media only screen and (max-width: 1024px){
  .list-context {
    font-size: 130%;
    margin-left: 20%;
  }
}

.alert-warning:before{
  position: initial;
}


@media only screen and (max-width:1148px ) and (min-width:996px){
span.circle-blue.list-group-section-circle {
    margin-top: 30px;
    width: 90%;
    height: 25px;
    font-size: 17px;
    margin-left: 2%;
}
}
@media only screen and (max-width:1378px ) and (min-width:1148px){
span.circle-blue.list-group-section-circle {
    margin-top: 30px;
    width: 70%;
    height: 34px;
    font-size: 20px;
    margin-left: 2%;
}
}
@media only screen and (max-width:1378px ) and (min-width:1024px){
  .list-context {
    font-size: 130%;
    margin-left: 20%;
  }
}

@media only screen and (max-width: 767px){
  .list-menu-navbar{
    position: static !important;
    left: 0 !important;
    float:none !important;
    right: 0 !important;
    margin-top: 0;
  }
  .div-list{
    width: 25%;
  }

  .div-container{
    display: flex;
  }

  .div-container-sub{
    display: flow-root;
  }
  .list-group-section-circle{
    width: 90%;
  }
  .list-group-section{
    width: 100%;
  }
  .span-glyphicon-list{
    margin-top: 30%;
  }
  .modal-new-evaluation{
    width: 100%;
  }
}

.form-horizontal-login{
  display: flex;
}

.div-student-name{
  width:60% !important;
}
.div-student-buttom{
  width:40% !important;
}

.btn-matter{
  width: 20% !important;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 2%;
}

.btn-matter-modal{
  margin-right: 0 !important;
}

.flex-child > p {
  /*white-space: nowrap;*/
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
}

.homework-heading {
  padding-top: 22px;
  padding-bottom: 22px;
}

.homework-container {
  position: relative;
  width: 100%;
  height: auto;
  display: table;
}

.container-title {
  font-weight: bold;
}

.modal-span{
  display: none;
}

.title-prox{
  font-size: 70px;
  margin-top: 35%;
  margin-left: 5%;
  color: white;
}

@media only screen and (max-width: 575px) {

  .title-prox{
    font-size: 60px;
  }
}

@media only screen and (max-width: 520px){
  .div-list-content{
    margin-left: 25px;
  }
  .btn-matter{
    width: 30% !important;
  }
  .upload-notes{
    width: 30% !important;
  }
  .title-prox{
    font-size: 50px;
  }
}

@media only screen and (max-width: 465px){
  .div-student-name{
    width:50% !important;
    margin-left: 10px;
  }
  .div-student-buttom{
    width:50% !important;
  }
  .title-prox{
    font-size: 40px;
  }
}

@media only screen and (max-width: 400px){
  .btn-matter-modal{
    width: 40% !important;
    margin-left: 0;
  }
  .modal-title-evaluation{
    display: none;
  }
  .modal-span{
    display: block;
  }
  .upload-notes{
    width: 35% !important;
  }
  .title-prox{
    font-size: 30px;
  }
  .button-notification{
    margin: 3px !important;
  }
}


@media only screen and (max-height: 790px) and (min-height: 740px){
    .logo{
        margin-top: -14%;
    }
}

@media only screen and (max-height: 739px) and (min-height: 600px){
    .logo{
        margin-top: -10%;
    }
}

@media only screen and (max-height: 599px) and (min-height: 470px){
    .logo{
        margin-top: -7%;
    }
}
@media only screen and (max-height: 469px){
    .logo{
        margin-top: -5%;
    }
}

@media only screen and (max-width: 1600px) and (min-width: 1450px){
    .logo{
        margin-left: -15%;
        width: 360px;
        height: 270px;
    }
    .text-header{
        margin-left: -10% !important;;
    }
}
@media only screen and (max-width: 1450px) and (min-width: 1300px){
    .logo{
        margin-left: -8%;
        width: 300px;
        height: 210px;
    }
    .text-header{
        margin-left: -3% !important;;
    }
}
@media only screen and (max-width: 1300px) and (min-width: 1200px){
    .logo{
        margin-left: -7%;
        width: 300px;
        height: 210px;
    }
    .text-header{
        margin-left: -2% !important;;
    }
}
@media only screen and (max-width: 1200px) and (min-width: 1050px){
    .logo{
        margin-top: -13% !important;
        margin-left: -11%;
        width: 300px;
        height: 210px;
    }
    .text-header{
        margin-left: -6% !important;;
    }
}
@media only screen and (max-width: 1050px) and (min-width: 991px){
    .logo{
        margin-left: -8%;
        width: 300px;
        height: 210px;
    }
    .text-header{
        margin-left: -3% !important;;
    }
}
@media only screen and (max-width: 991px) and (min-width: 850px){
    .logo{
        margin-top: -15% !important;
        margin-left: -15%;
        width: 360px;
        height: 270px;
    }
    .text-header{
        margin-left: -10% !important;;
    }
}
@media only screen and (max-width: 850px) and (min-width: 750px){
    .logo{
        margin-left: -8%;
        width: 360px;
        height: 270px;
    }
}
@media only screen and (max-width: 850px) and (min-width: 768px){
    .logo{
        margin-top: -15% !important;
    }
}
@media only screen and (max-width: 768px) and (min-width: 710px){
    .logo{
    }
    .title-home{
        margin-top: 20px;
    }
}
@media only screen and (max-width: 709px){
    .logo{
        margin-top: 5% !important;
    }
    .title-home{
        margin-top: 20px;
    }
    .title-text{
        padding-bottom: 20px;
    }
}
@media only screen and (max-width: 750px){
    .logo{
        margin-top: 20px;
        margin-left: -5%;
        width: 360px;
        height: 270px;
    }

}

@font-face {
    font-family: Mahalo;
    src: url(fonts/Mahalo,%20brother!.otf);
}

.text-mahalo{
    font-family: Mahalo !important;
}

h1, a, h2, h3, h4, h5, h6 {
    font-family: Mahalo !important;
}

@media only screen and (max-width: 991px){
    .news{
        display: none;
    }
    .sidemenu{
        display:none;
    }
}

@media only screen and (max-width: 767px) and (min-width: 560px){
    .photoEditProfile{
        margin-left: 20%;
    }
    .profile-photo-edit{
        margin-left: 20%;
    }
}
@media only screen and (max-width: 560px) and (min-width: 375px){
    .photoEditProfile{
        margin-left: 13%;
    }
    .profile-photo-edit{
        margin-left: 10%;
    }
}
@media only screen and (max-width: 374px){
    .photoEditProfile{
        margin-left: 13%;
    }

    .curriculum-view-movil{
        display: block !important;
    }

    .curriculum-view{
        display: none;
    }
}

.curriculum-view-movil{
    display: none;
}

@media only screen and (max-width: 400px){
    .image-student{
        margin-left: -20px;
    }
    .button-modal{
        width: 40% !important;
    }
}

@media only screen and (max-width: 360px){
    .button-des{
        width: 120% !important;
    }
}

@media only screen and(max-width: 1200px){
    .student-mail-list{
        width: 110%;
    }
}

.photoEditProfile{
    border-radius: 50%;
}

.text-color{
    color:black;
}

[data-tip] {
    position:relative;

}
.tooltips, .tooltip-communities {
    content:'';
    display:none;
    border-width: 5px;
    border-style: solid;
    border-color: #27aae0 transparent transparent transparent;
    position:absolute;
    top:-5px;
    z-index:8;
    font-size:0;
    line-height:0;
    width:0;
    height:0;
}

.tooltips {
  left:35px;
}

.tooltip-communities {
  left:45px;
}

.tooltipstext {
    display:none;
    content:"escriba en el nombre";
    position:absolute;
    top:-23px;
    padding:5px 8px;
    background: #27aae0;
    color:#fff;
    z-index:9;
    font-size: 0.75em;
    height:18px;
    line-height:9px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    white-space:nowrap;
    word-wrap:normal;
}
.mostrar {
    display:block !important;
}

.circulo{
    display: none;
    background: #27aae0;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #ffffff;
    font-weight: bold;
    line-height: 1.6em;
    margin-right: 15px;
    text-align: center;
    width: 1.6em;
}

@media only screen and (max-width: 1200px){
    .tooltips-modal{
        left: 20px;
    }
    .tooltips-modalText{
        left:20px;
    }
    .tooltipsCirculo-modal{
        left:20px;
    }
}
@media only screen and (max-width: 770px) and (min-width: 700px) {
    .tooltipsModalEvaluationNew {
        left: -75px;
    }

    .tooltipsModalEvaluationNewCircule {
        left: -90px !important;
    }
}

@media only screen and (max-width: 699px) and (min-width: 550px) {
    .tooltipsModalEvaluationNew {
        left: -90px;
    }

    .tooltipsModalEvaluationNewCircule {
        left: -105px !important;
    }
}

@media only screen and (max-width: 549px) and (min-width: 425px) {
    .tooltipsModalEvaluationNew {
        left: -105px;
    }

    .tooltipsModalEvaluationNewCircule {
        left: -120px !important;
    }
}

@media only screen and (max-width: 770px){
    .navbar-min{

    }
    .progress-bar{
        width: 120px !important;
    }
    .progress-barDiv{
        width: 130px;
    }
    .progressbar-text{
        font-size: 20px !important;
    }
}
@media only screen and (min-width: 768px){
.navbar-min{
    height: 58px;
}
}
@media only screen and (max-width: 768px){
    .navbar-icon{
        text-align: center;
    }
}
@media only screen and (max-width: 767px){
    .progress-bar{
        width: 90% !important;
        margin-left: 5px;
    }
    .progress-barDiv{
        width: 100% !important;
    }
    .div-dropdown{
        float: right;
        width: 190px;
        top:-13px;
        right: 20px;
    }
    .navbar-li{
        text-align: center !important;
        margin-right: 15px;
    }
    .navbar-li-text{
        margin-left: 1px !important;
    }
    .navbar-ul{
        margin-top: 32% !important;
    }
}
@media only screen and (max-width: 425px){
    .tooltipsModalEvaluationNew{
        left: -120px;
    }
    .tooltipsModalEvaluationNewCircule{
        left:-135px !important;
    }
    .navbar{
        background-color: #263238;
        margin-top: 0;
    }
    .icons{
        text-align: initial ;
    }
}

@media only screen and (max-width: 900px){
    .tooltips-modal{
        left: 20px;
    }
    .tooltips-modalText{
        left:20px;
    }
    .tooltipsCirculo-modal{
        left:20px;
    }
}

@media only screen and (max-width: 600px){
    .tooltips-modal{
        left: 20px;
    }
    .tooltips-modalText{
        left:20px;
    }
    .tooltipsCirculo-modal{
        left:20px;
    }
}

@media only screen and (max-width:350px){
    .tooltiptext-modal-matter{
        left:-40px !important;
    }
    .tooltipsCirculo-modal-matter{
        left:-55px !important;
    }
}

@media only screen and (max-width: 400px){
    .tooltips-modal{
        left: 20px;
    }
    .tooltips-modalText{
        left:20px;
    }
    .tooltipsCirculo-modal{
        left:20px;
    }
}
.nav > li > a:after{
    border-bottom: none !important;
}

.mostrar2{
    display: none !important;
}

.mostrar3{
    display: none !important;
}

@media only screen and (max-width: 990px) and (min-width: 768px){
    .mostrar2{
        display: block !important;
    }
}

@media only screen and (max-width: 767px){
    .mostrar3{
        display: block !important;
    }
}

.carousel-caption {
    padding-bottom: 0;
}
.carousel-control.left,
.carousel-control.right {
    background-image: none !important;
    color: white;
}

.carousel-control.left:hover,
.carousel-control.right:hover {
  color: rgba(128, 128, 128, 0.51);
}

.carousel-indicators {
    display: none;
}
.carousel-inner {
    padding-left: 18px;
    overflow: visible;
}
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
    /*font-size: 100px;
    margin-top: -60px;*/
    font-style: normal;
    font-weight: 100;
}
.carousel-control .glyphicon-chevron-left {
    margin-left: -100px;
}
.carousel-control .glyphicon-chevron-right {
    margin-right: -40px;
}

@media only screen and (min-width: 1600px) {
    .col-sm-2 {
        width: 18%;
    }
}
@media only screen and (min-width: 1200px) {
    .col-sm-3 {
        width: 22%;
    }
    .carousel-control .glyphicon-chevron-left {
        margin-left: -8px;
    }
    .carousel-control .glyphicon-chevron-right {
        margin-right: 13px;
    }
}
@media only screen and (max-width: 1200px) {
    .col-sm-4 {
        width: 29%;
    }
    .carousel-control .glyphicon-chevron-left {
        margin-left: -8px;
    }
    .carousel-control .glyphicon-chevron-right {
        margin-right: 13px;
    }
}
@media only screen and (max-width: 800px) {
    .col-sm-10 {
        width: 90%;
    }
}

.active{
   background-color: transparent !important;
}

@media only screen and (max-width: 767px){
    .perfil-campos{
        width: 80% !important;
    }
}

.notification-2{
    width:48%;
    height: 110px !important;
}
.notification-3{
    width: 31%;
    height: 110px !important;
}
.notification-4{
    width: 23%;
}
.notification-5{
    width: 18%;
}

@media only screen and (max-width: 1160px){
.profile-name{
    margin-left: 21%;
}
}

.forgotPassword:hover {
  text-decoration: underline white;
  cursor: pointer;
}

/*.notifications:hover {
  cursor: pointer;
  color: #b3d4fc;
}*/

.btn-facebook {
    background: #3B5998;
    border-radius: 0;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #263961;
    border-radius: 10px !important;
    font-size: 18px !important;
}

.btn-facebook:link, .btn-facebook:visited {
    color: #fff;
}

.btn-facebook:active, .btn-facebook:hover {
    background: #263961;
    color: #fff;
}

.link-inside-li {
  display: block;
  width: 100%;
  /*padding: 2px 2px !important;*/
  background-color: inherit;
  text-decoration:none;
  color:#fff;
  font-size: inherit;
  font-weight: inherit !important;
  font-family: inherit !important;
}

.link-inside-li:hover {
  background-color: #484b4e;
  color: #75ABDD;
}

ul > li > a.link-inside-li {
  padding: 2px 2px;
}

ul > li > .link-inside-li:hover {
  background-color: white;
  color: black;
}

.modal-md{
    width:700px !important;
}

.center-video {
    margin-top: 3.5%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
}

.colorHyperLinkPG:hover{
  color: white;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  /*width: 100%;*/
}

.container-element {
    background-color: white; 
    padding: 15px;
    font-family: "Roboto", "Helvetica", sans-serif !important;
    min-height: auto;
    max-height: auto;
}

.sckola-breadcrumb {
  margin-bottom: 20px;
  list-style: none;
  border-radius: 4px;
}

.sckola-breadcrumb > li {
  display: inline-block;
}

.sckola-breadcrumb > li + li:before {
  content: "/";
}

.sckola-breadcrumb > .active {
  color: white;
}

.mbr-buttons__btn.btn.btn-default.hamburger-menu-button {
color: #ffffff;
border-color: #ffffff;
background-color: #3C3C3C;
border-width: 2px;
width: 94%;
}

.mbr-buttons__btn.btn.btn-default.hamburger-menu-button:hover {
background-color: #ffffff;
color: #000000;
border-color: #ffffff;
}

@media only screen and (max-width: 771px){
  .bulletin-board-text {
      font-size: 12px;
      line-height: 1.5em;
  }
}

@media (min-width: 767px) and (max-width: 789px) {
  .hide-progress-bar {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .sckola-navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
  }
  .sckola-navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .sckola-navbar-collapse.in {
    overflow-y: visible;
  }
  .sckola-navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 768px) {
  .hidden-option {
    display: none !important;
  }
}

@media only screen and (max-width: 767px) {
  #sckola-div-dropdown {
    overflow-y: scroll;
    height: 60vh;
  }
}

#sckola-progress-bar {
  height: 10%;
}

.sckola-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -250px; 
  margin-left: -250px; 
}

.loader {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 11000;
   background-color: #f5f5f5;
   background-position: center;
}

.loader-animated {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px; 
  margin-left: -210px; 
}

.wrap-text {
  white-space: pre-wrap;
}

.partial-view {
  font-size: 1.4em;
  padding: 0 1em;
}

.partial-view label {
  float: left;
  clear: none;
  display: block;
  padding: 0 1em 0 0.5em;
}

.partial-view input[type=radio] {
  float: left;
  clear: none;
  margin: 0.3em 0 0 0.3em;
}
 
.partial-view input[type=date] {
  float: left;
  clear: none;
  margin: 0 0 0 0.3em;
  min-height: 2.85em;
}

.partial-view select {
  margin: 0 0.3em 0.3em;
  float: left;
  min-height: 2.85em;
}

@media (min-width: 500px) {
  .partial-view select {
    width: 20em;
  }
  .partial-view input[type=date] {
    width: 20em;
  }
}

@media (max-width: 500px) {
  .partial-view select {
    width: 15em;
  }
  .partial-view input[type=date] {
    width: 15em;
  }
}

.partial-view .btn {
  margin: 2.5em 0 0 0;
  float: right;
  width: auto !important;
  min-width: 17em;
}

.partial-view p {
  font-size: 1.2em;
  margin: auto;
}

.partial-view-messages {
  height: 6.35em;
  margin: auto;
}

.partial-view.form-group .btn {
  margin: 0 0 0 2em;
  float: right;
  width: auto !important;
  min-width: 17em;
}

@media (max-width: 993px) {
  div.col-md-3.partial-view > label,
  div.col-md-6 > select {
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 900px) {
  div.col-md-6 span.circulo,
  div.col-md-6 span.tooltipstext,
  div.tooltip-communities {
    display: none !important;
  }
}

/*Styles for partials view*/

div.col-md-6.form-group > button.btn.btn-default.sckola-btn  {
  border-left: 0px;
}

/* Styles for view edit profile*/

p.element-title > span.glyphicon {
  padding-right: 10px;
  font-weight: bold;
}

p.element-title {
  font-weight: bold;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
}

.upload-file-button {
  border: 2px solid white;
  color: white;
  background-color: gray;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

div.form-group > .btn {
  width: 50%;
}

div.form-group > .btn:hover {
  background: #000;
}

div > form.form-horizontal.ng-pristine.ng-invalid.ng-invalid-required > div.form-group > label {
  font-size: 14px;
}

div.form-group > label {
  font-size: 1.4rem;
}

/*Styles for list students view*/

div.col-sm-6.color-white > p.list-group-section-text {
  margin-top: 2rem;
  font-size: 20px;
  margin-bottom: 2rem;
}

.subject-section-students {
  display: flex;
  justify-content: center;
}

div.col-sm-2.text-center {
  margin-bottom: 0.5rem;
}

div.row.text-right button.btn.btn-default.sckola-btn {
  width: 25%;
}

@media screen and (max-width: 545px) {
  div.row.text-right button.btn.btn-default.sckola-btn {
    width: 100%;
  }
}

.border-child {
  border: 1px solid #ccc; 
}

div.subject-section-students {
  margin-bottom: 1rem;
}

/*div.row.form-group > button.btn.btn-default.sckola-btn {
  width: 25%;
}*/

@media screen and (max-width: 767px) {
  .student-name-email {
    text-align: center;
  }

  /*div.row.form-group > button.btn.btn-default.sckola-btn {
    width: 100%;
  }*/
  button.btn.btn-default.sckola-btn {
    width: 100%;
  }
}

@media screen and (max-width: 520px) {
  div.col-sm-8.student-name-email > p {
    font-size: 1rem;
  }
}

button.btn.btn-default.sckola-btn:hover {
  background: #000;
}

div.form-group.list-group {
  padding-right: 0
}

/*Styles for loader in partial views*/

.loader-container {
  height: 50vh;
  display:flex;
  align-items: center;
  justify-content: center;
}

div.loader-container p {
  font-size: 1.5rem;
}

div.loader-container img {
  width: 1.7rem;
}

/*styles for qualifications view*/

div.form-group > p {
  font-size: 1.4rem;
}

/*Styles for homework modal*/
.modal-view-element-content {
  padding: 0;
}

/*Styles for delete tasks*/

ul li.comment[disabled]{
    opacity: .4;
    cursor: default !important;
    pointer-events: none;
}

ul div li:last-child div ul.comment-fin{
 top: -165% !important;
}

/*Styles for assistance view*/

.custom-radio label.form-group {
  font-size: 1.4rem;
  font-weight: 400;
}

.custom-margin-bottom {
  margin-bottom: 31px;
}

.notes-student{
    padding: 0;
}

.notes-student-view{
    display: flex;
}

/*Styles for subjects view*/

.icon-separation {
  margin-right: 0.75rem;
}

@media screen and (max-width: 767px) {
  .homework-data {
    display: none;
  }
}

@media screen and (min-width: 767px) {
  .homework-data-mobile {
    display: none;
  }
}