<div class="modal-header">
    <h4 class="modal-title" id="myModalLabel9">Crear Materia</h4>
</div>

<div class="modal-body ">
    <div class="row">
        <wizard on-finish="finishedWizard()" >

            <wz-step wz-title="Selecciona tú comunidad" >
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" name="formComunidad" class="form-horizontal">
                                <div >
                                    <h4 class="modal-title" >Selecciona tu comunidad</h4>
                                </div>
                                <div class="col-sm-18" > 
                                    <select class="form-control center-block"> 
                                        <option value=""> -- Seleccionar -- </option> 
                                        <option value=""> Comunidad Ucevista</option> 
                                        <option value=""> Comunidad Humboldtiana </option> 
                                        <option value=""> Comunidad Uteista </option> 
                                    </select>
                                 </div>
                                 <!--div-- class="col-sm-1" style="padding-left: 0px">     <span class="glyphicon glyphicon-plus-sign" ng-click="vm.newCommunity()"></span> </div-->
                            </form>
                        </div>
                    </div>
                </div>
                <input type="submit" class="btn btn-default center-block" wz-next value="Siguiente" />
            </wz-step>

            <wz-step wz-title="Ingresa tus Datos">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" name="formTeacher" class="form-horizontal">
                                <div style="margin-bottom: 10px">
                                    <h4 class="modal-title">Ingresa tus Datos</h4>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-3" >Nombre:</div>
                                    <div class="col-sm-9" >
                                        <input type="text" id="name" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-3" >Apellido:</div>
                                    <div class="col-sm-9" >
                                        <input type="text" id="lastName" class="form-control"  />
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-3" >Fecha de nacimiento:</div>
                                    <div class="col-sm-9" >
                                        <input type="date" id="birthday" class="form-control"  />
                                    </div>
                                </div>

                                <hr/>
                                <h4>
                                    Nivel académico
                                    <!--span class="glyphicon glyphicon-plus-sign" data-toggle="modal" data-target="#myModal1"></span-->
                                </h4>
                                <div class="form-group col-sm-12" style="padding-left: 0px" >
                                    <ul style="padding-left: 0px" class="list-group">
                                        <li class="col-sm-12 list-group-item" style="padding-left: 0px">
                                            <div class="col-sm-2">Año</div>
                                            <div class="col-sm-5">Título</div>
                                            <div class="col-sm-5">Instituto</div>
                                        </li>
                                        <li class="col-sm-12 list-group-item" style="padding: 0px">
                                            <div class="col-sm-2" style="padding: 1px;"><input class="form-control" style="width: 100%;font-size: 12px;" id="anio"/></div>
                                            <div class="col-sm-5" style="padding: 1px;"><input class="form-control" style="width: 100%;font-size: 12px;" id="titulo"/></div>
                                            <div class="col-sm-5" style="padding: 1px;"><input class="form-control" style="width: 100%;font-size: 12px;padding: 2px;" id="instituto"/></div>
                                        </li>
                                    </ul>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <input type="submit" class="btn btn-default center-block" wz-next value="Siguiente" />
            </wz-step>

            <wz-step wz-title="Ingresa Materia">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" name="formMateria" class="form-horizontal">
                                <div>
                                    <h4>Ingresar Materia</h4>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-3" >Nombre:</div>
                                    <div class="col-sm-9" >
                                        <input type="text" id="nombreMateria" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-3" >Descripción:</div>
                                    <div class="col-sm-9" >
                                        <input type="text" id="descripcion" class="form-control"  />
                                    </div>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-3" >Plantilla:</div>
                                    <div class="col-sm-8" >
                                        <select class="form-control">
                                            <option value=""> -- Seleccionar -- </option>
                                            <option value=""> Matemática I </option>
                                            <option value=""> Matemática II </option>
                                            <option value=""> Matemática IV </option>
                                        </select>
                                    </div>
                                    <div class="col-sm-1" style="padding-left: 0px; text-align: center ">
                                        <span class="glyphicon glyphicon-eye-open" style="vertical-align: middle" data-toggle="modal" data-target="#myModalPlantilla"></span>
                                    </div>
                                    <!--div-- class="col-sm-1" style="padding-left: 0px">
                                        <span class="glyphicon glyphicon-plus-sign" data-toggle="modal" data-target="#myModalPlantilla"></span>
                                    </div-->
                                </div>

                                <div>
                                    <h4>Plan de Evaluación</h4>
                                </div>
                                <div class="form-group col-sm-12" style="padding-left: 0px" >
                                    <ul style="padding-left: 0px" class="list-group">
                                        <li class="col-sm-12 list-group-item" style="padding-left: 0px">
                                            <div class="col-sm-3">Objetivo</div>
                                            <div class="col-sm-3">Evaluación</div>
                                            <div class="col-sm-3">Escala</div>
                                            <div class="col-sm-2">Fecha</div>
                                            <div class="col-sm-1">%</div>
                                        </li>
                                        <li class="col-sm-12 list-group-item" style="padding: 0px">
                                            <div class="col-sm-3" style="padding: 1px;"><input class="form-control" style="width: 100%;font-size: 12px;" id="objetivo0"/></div>
                                            <div class="col-sm-3" style="padding: 1px;"><input class="form-control" style="width: 100%;font-size: 12px;" id="tipoEvaluacion0"/></div>
                                            <div class="col-sm-3" style="padding: 1px;">
                                                <select style="width: 100%; font-size: 12px;padding: 2px;"  class="form-control"  id="escala0">
                                                    <option value=""> -- Seleccionar -- </option>
                                                    <option value=""> De 0 a 20 </option>
                                                    <option value=""> De A a F </option>
                                                    <option value=""> De 0 a 100 </option>
                                                </select>
                                            </div>
                                            <div class="col-sm-2" style="padding: 1px;"><input class="form-control" style="width: 100%;font-size: 12px;padding: 2px;" id="fecha0" type="date"/></div>
                                            <div class="col-sm-1" style="padding: 1px;"><input maxlength="3" class="form-control" style="width: 100%;font-size: 12px;padding: 2px;" id="porcentaje0"/></div>
                                        </li>
                                    </ul>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <input type="submit" class="btn btn-default center-block" wz-next value="Siguiente" />
            </wz-step>

            <!--wz-step wz-title="Crear Plantilla">

                <div class="row">
                    <div class="col-md-12">
                        <form role="form" name="formMateria" class="form-horizontal">
                            <div>
                                <h4 >Ingresar Plantilla</h4>
                            </div>
                            <div class="form-group col-sm-12">
                                <div class="col-sm-3" >Nombre:</div>
                                <div class="col-sm-9" >
                                    <input type="text" id="nombrePlantilla" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <div class="col-sm-3" >Descripción:</div>
                                <div class="col-sm-9" >
                                    <input type="text" id="descripcionPlantilla" class="form-control"  />
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-3" >
                                        Objetivos:
                                    </div>
                                    <!--div class="col-sm-4" style="padding-right: 0px"><p>¿Nuevo objetivo?</p></div>
                                    <div-- class="col-sm-5" style="padding-left: 0px">
                                        <span class="glyphicon glyphicon-plus-sign" data-toggle="modal" data-target="#myModalObjetivos"></span>
                                    </div-   ->
                                </div>
                                <div class="col-sm-6 divList" style="padding-right: 8px;">
                                    <div style="text-align:center">
                                        <label>Objetivos Registrados</label>
                                    </div>

                                    <ul class="list-group baseColor ulList">
                                        <li class="list-group-item liList" style="">
                                            <div class="alignMiddler">
                                                <div class="alignText" ><p class="block-with-text-2line">Objetivo 1</p></div>
                                                <div class="alignIcons">
                                                    <span class="glyphicon glyphicon-plus glyphicon-small"
                                                          aria-hidden="true"
                                                          style="cursor:pointer"></span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item liList" style="">
                                            <div class="alignMiddler">
                                                <div class="alignText" ><p class="block-with-text-2line">Objetivo 2</p></div>
                                                <div class="alignIcons">
                                                    <span class="glyphicon glyphicon-plus glyphicon-small"
                                                          aria-hidden="true"
                                                          style="cursor:pointer"></span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item liList" style="">
                                            <div class="alignMiddler">
                                                <div class="alignText" ><p class="block-with-text-2line">Objetivo 3</p></div>
                                                <div class="alignIcons">
                                                    <span class="glyphicon glyphicon-plus glyphicon-small"
                                                          aria-hidden="true"
                                                          style="cursor:pointer"></span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item liList" style="">
                                            <div class="alignMiddler">
                                                <div class="alignText" ><p class="block-with-text-2line">Objetivo 4</p></div>
                                                <div class="alignIcons">
                                                    <span class="glyphicon glyphicon-plus glyphicon-small"
                                                          aria-hidden="true"
                                                          style="cursor:pointer"></span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-6 divList" style="padding-left: 8px;">
                                    <div style="text-align:center">
                                        <label>Objetivos Asociados</label>
                                    </div>

                                    <ul class="list-group ulList">
                                        <li class="list-group-item liList" style="" >
                                            <div class="alignMiddler">
                                                <div class="alignText" ><p class="block-with-text-2line">Objetivo 5</p></div>
                                                <div class="alignIcons">
                                                    <span class="glyphicon glyphicon-minus glyphicon-small"
                                                          aria-hidden="true"
                                                          style="cursor:pointer"
                                                          name="selectedStudents"></span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item liList" style="" >
                                            <div class="alignMiddler">
                                                <div class="alignText" ><p class="block-with-text-2line">Objetivo 6</p></div>
                                                <div class="alignIcons">
                                                    <span class="glyphicon glyphicon-minus glyphicon-small"
                                                          aria-hidden="true"
                                                          style="cursor:pointer"
                                                          name="selectedStudents"></span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="form-group col-sm-12">
                                <div class="col-sm-3" >Plan de Evaluación:</div>
                                <div class="col-sm-8" >
                                    <select class="form-control">
                                        <option value=""> -- Seleccionar -- </option>
                                        <option value=""> Plan - Matemáticas I </option>
                                        <option value=""> Plan - Matemática II </option>
                                        <option value=""> Plan - Matemática IV </option>
                                    </select>
                                </div>
                                <div class="col-sm-1" style="padding-left: 0px">
                                    <span class="glyphicon glyphicon-plus-sign" data-toggle="modal" data-target="#myModalPlanEvaluacion"></span>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>

                <input type="submit" class="btn btn-default center-block"  wz-next value="Siguiente" />
            </wz-step-->

            <wz-step wz-title="Plan de Evaluación">
                <div class="row">
                    <div class="col-md-12">
                        <form role="form" name="formMateria" class="form-horizontal">
                            <div class="modal-header">
                                <h4>Ingresar Plan de Evaluación</h4>
                            </div>
                            <div class="form-group col-sm-12">
                                <div class="col-sm-3" >Nombre:</div>
                                <div class="col-sm-9" >
                                    <input type="text" id="nombrePlan" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <div class="col-sm-3" >Descripción:</div>
                                <div class="col-sm-9" >
                                    <input type="text" id="descripcionPlan" class="form-control"  />
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <div class="col-sm-3" >Evaluación:</div>
                                <div class="col-sm-9" >
                                    <input type="text" id="evaluacion" class="form-control"  />
                                </div>
                            </div>
                            <div class="col-sm-6 divList" style="padding-right: 8px;">
                                <div style="text-align:center">
                                    <label>Objetivos Disponibles</label>
                                </div>

                                <ul class="list-group baseColor ulList">
                                    <li class="list-group-item liList" style="background-color: rgba(101, 159, 225, 0.79);color: white;">
                                        <div class="alignMiddler">
                                            <div class="alignText" ><p class="block-with-text-2line">Objetivo 1</p></div>
                                            <div class="alignIcons">
                                                    <span class="glyphicon glyphicon-plus glyphicon-small"
                                                          aria-hidden="true"
                                                          style="cursor:pointer"></span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item liList" style="background-color: rgba(101, 159, 225, 0.79);color: white;">
                                        <div class="alignMiddler">
                                            <div class="alignText" ><p class="block-with-text-2line">Objetivo 2</p></div>
                                            <div class="alignIcons">
                                                    <span class="glyphicon glyphicon-plus glyphicon-small"
                                                          aria-hidden="true"
                                                          style="cursor:pointer"></span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item liList" style="background-color: rgba(101, 159, 225, 0.79);color: white;">
                                        <div class="alignMiddler">
                                            <div class="alignText" ><p class="block-with-text-2line">Objetivo 3</p></div>
                                            <div class="alignIcons">
                                                    <span class="glyphicon glyphicon-plus glyphicon-small"
                                                          aria-hidden="true"
                                                          style="cursor:pointer"></span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item liList" style="background-color: rgba(101, 159, 225, 0.79);color: white;">
                                        <div class="alignMiddler">
                                            <div class="alignText" ><p class="block-with-text-2line">Objetivo 4</p></div>
                                            <div class="alignIcons">
                                                    <span class="glyphicon glyphicon-plus glyphicon-small"
                                                          aria-hidden="true"
                                                          style="cursor:pointer"></span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-6 divList" style="padding-left: 8px;">
                                <div style="text-align:center">
                                    <label>Objetivos a evaluar</label>
                                </div>

                                <ul class="list-group ulList">
                                    <li class="list-group-item liList" style="background-color: rgba(101, 159, 225, 0.79);color: white;" >
                                        <div class="alignMiddler">
                                            <div class="alignText" ><p class="block-with-text-2line">Objetivo 5</p></div>
                                            <div class="alignIcons">
                                                    <span class="glyphicon glyphicon-minus glyphicon-small"
                                                          aria-hidden="true"
                                                          style="cursor:pointer"
                                                          name="selectedStudents"></span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item liList" style="background-color: rgba(101, 159, 225, 0.79);color: white;" >
                                        <div class="alignMiddler">
                                            <div class="alignText" ><p class="block-with-text-2line">Objetivo 6</p></div>
                                            <div class="alignIcons">
                                                    <span class="glyphicon glyphicon-minus glyphicon-small"
                                                          aria-hidden="true"
                                                          style="cursor:pointer"
                                                          name="selectedStudents"></span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="form-group col-sm-12">
                                <div class="col-sm-3" >Escala de Evaluación:</div>
                                <div class="col-sm-8" >
                                    <select class="form-control">
                                        <option value=""> -- Seleccionar -- </option>
                                        <option value=""> De 0 a 20 </option>
                                        <option value=""> De A a F </option>
                                        <option value=""> De 0 a 100 </option>
                                    </select>
                                </div>
                                <div class="col-sm-1" style="padding-left: 0px">
                                    <span class="glyphicon glyphicon-plus-sign" data-toggle="modal" data-target="#myModalEscalaEvaluacion"></span>
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <div class="col-sm-3" >Fecha de Evaluación:</div>
                                <div class="col-sm-9" >
                                    <input type="date" class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <div class="col-sm-3" >Porcentaje de Evaluación:</div>
                                <div class="col-sm-9" >
                                    <input type="number" class="form-control"/>
                                </div>
                            </div>
                            <br>
                            <div class="col-sm-12 divList" style="padding-right: 8px;">
                                <div style="text-align:center">
                                    <label>Evaluaciones Planificadas</label>
                                </div>

                                <ul class="list-group baseColor ulList">
                                    <li class="list-group-item liList" style="background-color: rgba(101, 159, 225, 0.79);color: white;">
                                        <div class="alignMiddler">
                                            <div class="alignText" ><p class="block-with-text-2line">Evaluación 1</p></div>
                                            <div class="alignText" ><p class="block-with-text-2line">Fecha 1</p></div>
                                            <div class="alignText" ><p class="block-with-text-2line">Porcentaje 1</p></div>
                                            <div class="alignIcons">
                                                    <span class="glyphicon glyphicon-minus glyphicon-small"
                                                          aria-hidden="true"
                                                          style="cursor:pointer"></span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item liList" style="background-color: rgba(101, 159, 225, 0.79);color: white;">
                                        <div class="alignMiddler">
                                            <div class="alignText" ><p class="block-with-text-2line">Evaluación 2</p></div>
                                            <div class="alignText" ><p class="block-with-text-2line">Fecha 2</p></div>
                                            <div class="alignText" ><p class="block-with-text-2line">Porcentaje 2</p></div>
                                            <div class="alignIcons">
                                                    <span class="glyphicon glyphicon-minus glyphicon-small"
                                                          aria-hidden="true"
                                                          style="cursor:pointer"></span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </form>
                    </div>
                </div>
                <input type="submit" class="btn btn-default center-block"  wz-next value="Finalizar" />
            </wz-step>
        </wizard>
    </div>
</div>
<!--div-- class="modal-footer">
    Descripción del paso
</div-->

