<div>
  <p class="element-title"><span class="glyphicon glyphicon-book"></span>Clases</p>
  <br>
</div>
<div class="container-fluid" set-screen-height>
  <div class="row">
      <div class="col-sm-12">
          <div class="alert alert-success sckola-alert-success success animate-show-hide" 
          ng-show="vm.showSuccessMessage" role="alert">{{vm.successMessage}}
          </div>
          <div class="alert alert-info sckola-alert-info animate-show-hide" ng-show="vm.showHelp" role="alert">
              <p>{{vm.helpMessage}}</p>
          </div>
          <div class="alert alert-danger sckola-alert-error error animate-show-hide" ng-show="vm.showError"
          role="alert">{{vm.errorMessage}}
          </div>
      </div>
  </div>
  <br>
  <div class="row">
    <div ng-show="vm.terminate">
      <form name="classform">
        <div class="row" ng-hide="vm.hideStudents">
            <div class="col-md-12 form-group">
                <label for="students">Estudiante</label>
                <select class="form-control" id="students" ng-model="vm.student" 
                ng-options="student.firstName + ' ' + student.lastName for student in vm.students"
                ng-change="vm.mattersCommunitysSectionStudent()">
                    <option value="" disabled> -- Seleccione un estudiante -- </option>
                </select>
            </div>
        </div>
        <div>
          <ul class="list-group">
              <li class="col-sm-12 list-group-item list-group-section-item" 
              ng-repeat="class in vm.communityMatters| orderBy:'matterCommunity.name'" 
              ng-hide="vm.showMessageInitial">
                  <div>
                    <div class="col-sm-2 text-center" ng-click="vm.selectClass(class)">
                        <a>
                            <img src="static/images/book.png" class="list-group-section-image">
                        </a>
                    </div>
                    <div class="subject-section-students">
                        <div class="col-sm-10 color-white" ng-click="vm.selectClass(class)">
                            <p class="list-group-section-text" role="button">
                              {{class.matterCommunity.name}}
                                <span class="list-group-section-text" role="button">
                                  {{class.section.name}}
                                </span>
                            </p>
                        </div>
                        <div class="col-sm-2">
                          <p class="list-group-section-text">
                            <span class="glyphicon glyphicon-eye-open color-white" aria-hidden="true" 
                            title="Plan de evaluaciones" role="button" 
                            ng-click="vm.planEvaluation(class)"></span>
                          </p>
                        </div>
                    </div>
                  </div>
                  <div ng-show="class.matterCommunity.selected">
                    <div class="col-sm-12"></div>
                    <div class="col-sm-3 color-white container-title homework-heading font-large">
                      <span class="glyphicon glyphicon-tasks icon-separation"></span>Tareas
                    </div>
                    <div class="col-sm-12 alert alert-info sckola-alert-info alert-notify animate-show-hide"
                    ng-show="class.task.length === 0" role="alert">
                      <p >No existen tareas en esta clase</p>
                    </div>
                    <div class="col-sm-12" ng-hide="class.task.length === 0">
                      <ul class="list-group">
                        <div class="homework-data">
                          <div class="col-sm-12">
                            <div class="col-sm-3">
                              <p class="color-white font-large container-title">Titulo </p>
                            </div>
                            <div class="col-sm-5">
                              <p class="color-white font-large container-title">Descripción </p>
                            </div>
                            <div class="col-sm-3">
                              <p class="color-white font-large container-title">Entrega</p>
                            </div>
                            <div class="col-sm-1">
                            </div>
                          </div>
                        </div>
                        <li ng-repeat="task in class.task| orderBy:'name'" class="col-sm-12 list-group-item 
                        list-group-section-item">
                          <div>
                            <div>
                              <div class="col-sm-3">
                                <p class="homework-data-mobile color-white font-large container-title">Titulo </p>
                                <p title="{{task.name}}" class="color-white font-large">{{task.name}}</p>
                              </div>
                              <div class="col-sm-5">
                                <p class="homework-data-mobile color-white font-large container-title">Descripción </p>
                                <p title="{{task.description}}" class="color-white font-large">{{task.description}}</p>
                              </div>
                              <div class="col-sm-3">
                                <p class="homework-data-mobile color-white font-large container-title">Entrega </p>
                                <p title="{{task.completionDate}}" class="color-white font-large" >{{task.completionDate}}</p>
                              </div>
                              <div class="col-sm-1 text-right form-group">
                                <button class="glyphicon glyphicon-pencil color-white edit-button" ng-click="vm.taskStudent(task)"></button>
                              </div>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
              </li>
          </ul>
        </div>
      </form>
    </div>
  </div>
  <br>
  <div class="animate-show-hide loader-container" ng-show="!vm.terminate">
    <div class="text-center">
        <p class="text-color">
            <img src="static/images/cargando.gif">
            Cargando
        </p>
    </div>
  </div>
</div>
<!--br/><br/>
<div class="container-fluid" set-screen-height>
    <label class="element-title text-color"><span class="glyphicon glyphicon-user" style="padding-right:10px; margin-bottom: 20%;"></span>Clases</label>
    <br>
    <div class="col-sm-12" style="height: 90px;">
        <div class="alert alert-success sckola-alert-success alert-notify success animate-show-hide" ng-show="vm.showSuccessMessage" style="margin-left: 24%;" role="alert">{{vm.successMessage}}</div>
        <div class="alert alert-info sckola-alert-info
                    alert-notify animate-show-hide"
             ng-show="vm.showHelp"
             role="alert" style="cursor: pointer;">
            <label style="cursor: pointer;">{{vm.helpMessage}}</label>
        </div>
        <div class="alert alert-danger sckola-alert-error alert-notify error animate-show-hide"
             ng-show="vm.showError" role="alert">
            {{vm.errorMessage}}
        </div>
    </div>
    <div class="row">
        <div class="animate-show-hide col-sm-12" ng-show="vm.terminate">
            <form role="form" name="formStudents" class="form-horizontal">

              <div class="partial-view form-group form-horizontal-login" ng-hide="vm.hideStudents">
                <label for="filtro" class="col-sm-3 text-color">Estudiante: </label>
                <div class="col-sm-3 text-color">
                    <select ng-model="vm.student" name="students" required
                            required
                            ng-options="student.firstName + ' ' + student.lastName for student in vm.students"
                            class="form-control center-block"
                            ng-change="vm.mattersCommunitysSectionStudent()"
                            style="padding:0px 18px;">
                        <option value="" ng-hide="true"></option>
                    </select>
                </div>
              </div>

                <div class="col-sm-offset-1" style="width:95%">

                    <ul class="list-group list-group-section">
                        <li class="list-group-item initial-message ember-view col-sm-12" ng-show="vm.showMessageInitial">
                        </li>
                        <li ng-repeat="class in vm.communityMatters| orderBy:'matterCommunity.name'" ng-hide="vm.showMessageInitial" class="list-group-item list-group-section-item ember-view col-sm-12">
                            <div class="col-sm-12 alignMiddler div-container" role="button" ng-click="vm.selectClass(class)" style="margin-bottom:2%">
                                <div  class="col-sm-2" style="width: 20%">
                                    <a class=" EntityPhoto-circle-3">
                                        <img src="static/images/book.png" class="list-group-section-image">
                                    </a>
                                </div>
                                <div class="form-horizontal-login div-list-content" style="width: 80%;">
                                    <div class="col-sm-6 alignText color-white" style="width: 50%">
                                        <label class="feed-s-pymk-list-item__profile-link ember-view list-group-section-text list-context" role="button">
                                            {{class.matterCommunity.name}}
                                        </label>
                                    </div>
                                    <div class="col-sm-3 alignText color-white div-list">
                                        <label class="feed-s-pymk-list-item__profile-link ember-view list-group-section-text list-context" role="button">
                                            {{class.section.name}}
                                        </label>
                                    </div>
                                    <div style="margin-top: 49px;" class="col-sm-3 alignText color-white div-list">
                                        <button style=" width:201px !important;" ng-click="vm.planEvaluation(class)" class="btn btn-default sckola-btn-courses shadow-feed-element pull-right btn-matter">
                                            Plan de evaluación
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="class.matterCommunity.selected" class="homework-container">
                                <ul class="list-group">
                                  <div class="color-white container-title homework-heading font-large" style="padding-left: 30px;"><span class="glyphicon
                                    glyphicon-tasks" style="padding-right:10px;"></span>Tareas</div>
                                  <div class="alignMiddler div-container">
                                    <div class="col-sm-12 alignText">
                                      <div class="col-sm-3 feed-s-pymk-list-item__profile-link ember-view">
                                        <p class="color-white font-large">Titulo </p>
                                      </div>
                                      <div class="col-sm-5 feed-s-pymk-list-item__profile-link ember-view">
                                        <p class="color-white font-large">Descripción </p>
                                      </div>
                                      <div class="col-sm-3 feed-s-pymk-list-item__profile-link ember-view">
                                        <p class="color-white font-large" >Entrega</p>
                                      </div>
                                      <div class="col-sm-1 feed-s-pymk-list-item__profile-link ember-view">
                                      </div>
                                    </div>
                                  </div>
                                  <li ng-repeat="task in class.task| orderBy:'name'" class="list-group-item list-group-section-item
                                  ember-view col-sm-12">
                                    <div class="alignMiddler div-container mbr-section--fixed-size" style="height: auto;">
                                      <div>
                                        <div class="col-sm-3 feed-s-pymk-list-item__profile-link ember-view
                                        flex-child">
                                          <p title="{{task.name}}" class="color-white font-large">{{task.name}}</p>
                                        </div>
                                        <div class="col-sm-5 feed-s-pymk-list-item__profile-link ember-view
                                        flex-child">
                                          <p title="{{task.description}}" class="color-white font-large">{{task.description}}</p>
                                        </div>
                                        <div class="col-sm-3 feed-s-pymk-list-item__profile-link ember-view
                                        flex-child">
                                          <p title="{{task.completionDate}}" class="color-white font-large" >{{task.completionDate}}</p>
                                        </div>
                                          <div class="col-sm-1 feed-s-pymk-list-item__profile-link ember-view
                                            flex-child">
                                              <button class="glyphicon glyphicon-pencil color-white edit-button" ng-click="vm.taskStudent(task)"></button>
                                          </div>
                                      </div>
                                    </div>
                                  </li>
                                </ul>
                                <div class="alert alert-info sckola-alert-info alert-notify animate-show-hide"
                                ng-show="class.task.length === 0" role="alert" style="display:flex;">
                                  <label >No existen tareas en esta Clase</label>
                                </div>
                              </div>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <div class="animate-show-hide" ng-show="!vm.terminate">
            <div style="margin-top: 20%; margin-left: 40%;">
                <label class="text-color" style="font-size: 20px;"><img src="static/images/cargando.gif" style="width: 25px"> Cargando</label>
            </div>
        </div>
    </div>
</div-->