<div>
  <p class="element-title"><span class="glyphicon glyphicon-book"></span>Materias</p>
  <br>
</div>
<div class="container-fluid" set-screen-height>
  <div class="row">
      <div class="col-sm-12">
          <div class="alert alert-success sckola-alert-success success animate-show-hide" 
          ng-show="vm.showSuccessMessage" role="alert">{{vm.successMessage}}
          </div>
          <div class="alert alert-info sckola-alert-info animate-show-hide" ng-show="vm.showHelp" 
          ng-click="vm.helpUser()" role="button">
              <p>{{vm.helpMessage}}</p>
          </div>
          <div class="alert alert-danger sckola-alert-error error animate-show-hide" ng-show="vm.showError"
          role="alert">{{vm.errorMessage}}
          </div>
      </div>
  </div>
  <div class="row">
    <div ng-show="vm.terminate">
        <ul class="list-group">
            <li class="col-sm-12 list-group-item list-group-section-item" 
            ng-repeat="item in vm.communityMatters|orderBy:'matterCommunity.name'" 
            ng-hide="vm.showMessageInitial">
                <div>
                    <div class="col-sm-2 text-center" ng-click="vm.selectClass(item)">
                        <a>
                            <img src="static/images/book.png" class="list-group-section-image">
                        </a>
                    </div>
                    <div class="subject-section-students">
                        <div class="col-sm-10 color-white" ng-click="vm.selectClass(item)">
                            <p class="list-group-section-text" role="button">
                              {{item.matterCommunity.name}}
                                <span class="list-group-section-text" role="button">
                                  {{item.section.name}}
                                </span>
                            </p>
                        </div>
                        <div class="col-sm-2">
                          <span class="list-group-section-text 
                          glyphicon glyphicon-remove color-white" title="Desasociar materia" role="button" 
                          ng-click="vm.warnEliminationOfMatter(item)"></span>
                        </div>
                    </div>
                </div>
                <div ng-show="item.matterCommunity.selected">
                  <div class="col-sm-12"></div>
                  <div class="col-sm-3 color-white container-title homework-heading font-large">
                    <span class="glyphicon glyphicon-tasks icon-separation"></span>Tareas
                  </div>
                  <div class="col-sm-12 alert alert-info sckola-alert-info alert-notify animate-show-hide"
                  ng-show="item.task.length === 0" role="alert">
                    <p >No existen tareas en esta clase</p>
                  </div>
                  <div class="col-sm-12" ng-hide="item.task.length === 0">
                    <ul class="list-group">
                      <div class="homework-data">
                        <div class="col-sm-12">
                          <div class="col-sm-3">
                            <p class="color-white font-large container-title">Titulo </p>
                          </div>
                          <div class="col-sm-5">
                            <p class="color-white font-large container-title">Descripción </p>
                          </div>
                          <div class="col-sm-3">
                            <p class="color-white font-large container-title">Entrega</p>
                          </div>
                          <div class="col-sm-1">
                          </div>
                        </div>
                      </div>
                      <li ng-repeat="task in item.task| orderBy:'name'" class="col-sm-12 list-group-item 
                      list-group-section-item">
                        <div>
                          <div>
                            <div class="col-sm-3">
                              <p class="homework-data-mobile color-white font-large container-title">Titulo </p>
                              <p title="{{task.name}}" class="color-white font-large">{{task.name}}</p>
                            </div>
                            <div class="col-sm-5">
                              <p class="homework-data-mobile color-white font-large container-title">Descripción </p>
                              <p title="{{task.description}}" class="color-white font-large">{{task.description}}</p>
                            </div>
                            <div class="col-sm-3">
                              <p class="homework-data-mobile color-white font-large container-title">Entrega </p>
                              <p title="{{task.completionDate}}" class="color-white font-large" >{{task.completionDate}}</p>
                            </div>
                            <div class="col-sm-1 text-right form-group">
                              <button class="glyphicon glyphicon-pencil color-white edit-button" ng-click="vm.editTask(task)"></button>
                            </div>
                          </div>
                          <div class="row text-right">
                            <div class="col-sm-12">
                                <button class="btn btn-default sckola-btn" ng-click="vm.createTask(item)">
                                    <span aria-hidden="true">Crear tarea</span>
                                </button>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
            </li>
        </ul>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6 form-group list-group" ng-show="vm.terminate">
        <button class="btn btn-default sckola-btn" ng-hide="vm.showMessageInitial" ng-click="vm.matterNew()">
            Añadir
        </button>
    </div>
  </div>
  <div class="animate-show-hide loader-container" ng-show="!vm.terminate">
    <div class="text-center">
        <p class="text-color">
            <img src="static/images/cargando.gif">
            Cargando
        </p>
    </div>
  </div>
</div>
<!--br/><br/>
<div class="container-fluid" set-screen-height>

  <label class="element-title text-color"><span class="glyphicon glyphicon-book" style="padding-right:10px;
    margin-bottom: 20%"></span>Materias</label>
  <br/>

  <div class="col-sm-12" style="height: 90px;">
    <div class="alert alert-success sckola-alert-success alert-notify success animate-show-hide"
    ng-show="vm.showSuccessMessage" style="margin-left: 24%;" role="alert">{{vm.successMessage}}</div>
    <div class="alert alert-info sckola-alert-info
          alert-notify animate-show-hide"
          ng-show="vm.showHelp"
          ng-click="vm.helpUser()"
          role="alert">
      <label >{{vm.helpMessage}}</label>
    </div>
    <div class="alert alert-danger sckola-alert-error alert-notify error animate-show-hide"
         ng-show="vm.showError" role="alert">
         {{vm.errorMessage}}
    </div>
  </div>
<div class="row">
  <div class="animate-show-hide" ng-show="vm.terminate">
      <div class="col-sm-offset-1" style="width: 95%;">
        <ul class="list-group list-group-section" style="margin-top: 12%">
          <li class="list-group-item initial-message col-sm-12" ng-show="vm.showMessageInitial">
            <div  class="col-sm-12">
          </div>
        </li>
        <li  ng-repeat="item in vm.communityMatters|orderBy:'matterCommunity.name'" class="list-group-item
        list-group-section-item  sizeCourses ember-view col-sm-12" ng-hide="vm.showMessageInitial">
          <div class="alignMiddler div-container" role="button" ng-click="vm.selectClass(item)">
            <div  class="col-sm-2" style="width: 20%">
              <a class=" EntityPhoto-circle-3">
                <img src="static/images/book.png" class="list-group-section-image">
              </a>
            </div>
            <div class="form-horizontal-login div-list-content container-title" style="width: 80%;">
              <div class="col-sm-6 alignText color-white" style="width: 50%">
                <div class="feed-s-pymk-list-item__profile-link ember-view list-group-section-text list-context" role="button">
                  {{item.matterCommunity.name}}
                </div>
              </div>
              <div class="col-sm-3 alignText color-white div-list">
                <div class="feed-s-pymk-list-item__profile-link ember-view list-group-section-text list-context" role="button">
                  {{item.section.name}}
                </div>
              </div>
              <div class="alignIcons col-sm-2 color-white div-list">
                <span class="glyphicon glyphicon-remove span-glyphicon-list"
                aria-hidden="true" title="Desasociar materia"
                ng-click="vm.warnEliminationOfMatter(item)"></span>
              </div>
            </div>
          </div>
          <div ng-show="item.matterCommunity.selected" class="homework-container">
            <ul class="list-group">
              <div class="color-white container-title homework-heading font-large" style="padding-left: 30px;"><span class="glyphicon
                glyphicon-tasks" style="padding-right:10px;"></span>Tareas</div>
              <div class="alignMiddler div-container">
                <div class="col-sm-12 alignText">
                  <div class="col-sm-3 feed-s-pymk-list-item__profile-link ember-view">
                    <p class="color-white font-large">Titulo </p>
                  </div>
                  <div class="col-sm-5 feed-s-pymk-list-item__profile-link ember-view">
                    <p class="color-white font-large">Descripción </p>
                  </div>
                  <div class="col-sm-3 feed-s-pymk-list-item__profile-link ember-view">
                    <p class="color-white font-large" >Entrega</p>
                  </div>
                  <div class="col-sm-1 feed-s-pymk-list-item__profile-link ember-view">
                  </div>
                </div>
              </div>
              <li ng-repeat="task in item.task| orderBy:'name'" class="list-group-item list-group-section-item
              ember-view col-sm-12">
                <div class="alignMiddler div-container mbr-section--fixed-size" style="height: auto;">
                  <div>
                    <div class="col-sm-3 feed-s-pymk-list-item__profile-link ember-view
                    flex-child">
                      <p title="{{task.name}}" class="color-white font-large">{{task.name}}</p>
                    </div>
                    <div class="col-sm-5 feed-s-pymk-list-item__profile-link ember-view
                    flex-child">
                      <p title="{{task.description}}" class="color-white font-large">{{task.description}}</p>
                    </div>
                    <div class="col-sm-3 feed-s-pymk-list-item__profile-link ember-view
                    flex-child">
                      <p title="{{task.completionDate}}" class="color-white font-large" >{{task.completionDate}}</p>
                    </div>
                    <div class="col-sm-1 feed-s-pymk-list-item__profile-link ember-view
                    flex-child">
                      <button class="glyphicon glyphicon-pencil color-white edit-button" ng-click="vm.editTask(task)"></button>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
            <div class="alert alert-info sckola-alert-info alert-notify animate-show-hide"
            ng-show="item.task.length === 0" role="alert" style="display:flex;">
              <label >No existen tareas en esta Clase</label>
            </div>
            <div class="col-sm-12">
              <button class="btn btn-default sckola-btn pull-right shadow-feed-element"
              style="margin-top: 2%;"  ng-click="vm.createTask(item)">
                <span aria-hidden="true">Crear Tarea</span>
              </button>
            </div>
          </div>
        </li>
      </ul>
      <button style="margin-top: 50px;" ng-click="vm.matterNew()" ng-hide="vm.showMessageInitial"
      class="btn btn-default sckola-btn-courses shadow-feed-element pull-right btn-matter">
        Añadir <span class="glyphicon glyphicon-plus"></span>
      </button>
    </div>
</div>
<div class="animate-show-hide" ng-show="!vm.terminate">
  <div style="margin-top: 20%; margin-left: 40%;">
    <label class="text-color" style="font-size: 20px;"><img src="static/images/cargando.gif" style="width: 25px">
      Cargando</label>
  </div>
</div>
</div>
</div-->
