<div class="modal-content" style="background-color: #484b4e;border-color: black;">
<div class="modal-header sckola-modal-header">
    <label class="color-white sckola-modal-title">
    Asociar plan de evaluación: {{vm.evaluationPlanAssociate.name}}
    </label>
    <div style="float: right" class="color-white font-large">
        Completo: {{vm.cuentaValor}}%
    </div>
</div>
<div class="row modal-body sckola-moda-body">
    <div class="col-sm-8 form-horizontal-login">
        <div class="col-sm-2" style="width: 20%;"><label class="color-white font-large">Clase</label>
        </div>
        <div class="col-sm-10" style="width: 80%;">
            <div ng-class="{mostrar: true == vm.matterExist}">
                <span class="circulo" ng-class="{mostrar: true == vm.matterExist}" style="position: absolute; z-index: 10;top: -25px; left: 1px;">!</span>
                <span class="tooltipstext" ng-class="{mostrar: true == vm.matterExist}">Seleccione la clase</span>
                <div class="tooltips" ng-class="{mostrar: true == vm.matterExist}"></div>
            </div>
            <select ng-model="vm.class" name="scale" required ng-show="vm.matterExist"
                    ng-options="class.matterCommunity.name +' '+ class.section.name for class in vm.communityMatters"
                    class="form-control center-block"
                    ng-change="vm.associatePlanEvaluationClase(vm.class)"
                    style="padding: 0px 18px;">
                <option value="">-- Seleccionar clase --</option>
            </select>
            <div class="col-sm-12" ng-hide="vm.matterExist">
                <p class="color-white font-large" style="font-size: 80%;font-style: italic">
                  {{vm.messageMatterLoad}}
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-12 center-block color-white font-large" style="margin-top:10px; margin-bottom: 10px;">
      Plan de evaluación a asociar
    </div>
    <div class="col-sm-12">
        <ul  class="list-group">
            <li class="list-group-item modal-list-item col-sm-12" >
                <div class="form-horizontal-login">
                    <div class="col-sm-3 color-white font-large list-context modal-title-evaluation" style="width: 22.5%; margin-left: 0; font-size: large;">Objetivo</div>

                    <div class="col-sm-3 color-white font-large list-context modal-span" style="width: 22.5%; margin-left: 0;"><span class="glyphicon glyphicon-check"></span></div>

                    <div class="col-sm-3 color-white font-large list-context modal-title-evaluation" style="width: 22.5%; margin-left: 0; font-size: large;">Evaluación</div>

                    <div class="col-sm-3 color-white font-large list-context modal-span" style="width: 22.5%; margin-left: 0; font-size: large;"><span class="glyphicon glyphicon-list-alt"></span></div>

                    <div class="col-sm-2 color-white font-large list-context modal-title-evaluation" style="width: 22.5%; margin-left: 0; font-size: large;">Escala</div>

                    <div class="col-sm-2 color-white font-large list-context modal-span" style="width: 22.5%; margin-left: 5%; font-size: large;"><span class="glyphicon glyphicon-stats"></span></div>

                    <div class="col-sm-2 color-white font-large list-context modal-title-evaluation" style="width: 22.5%; margin-left: 0; font-size: large;">Fecha</div>

                    <div class="col-sm-2 color-white font-large list-context modal-span" style="width: 22.5%; margin-left: 0;"><span class="glyphicon glyphicon-calendar"></span></div>

                    <div class="col-sm-1 color-white font-large list-context" style="width: 10%; margin-left: 0;">%</div>
                </div>
            </li>
            <li ng-repeat="evaluation in vm.evaluations"
                class="list-group-item modal-list-item col-sm-12" >
                <div class="form-horizontal-login">
                <div class="col-sm-3 color-white font-large list-context" style="padding: 1px; width:22.5%; margin-left: 0;">
                  {{evaluation.objective}}
                </div>
                <div class="col-sm-3 color-white font-large list-context" style="padding: 1px; width:22.5%; margin-left: 0;">
                  {{evaluation.evaluationTool.name}}
                </div>
                <div class="col-sm-3 color-white font-large list-context" style="padding: 1px; width:22.5%; margin-left: 0;">
                  {{evaluation.evaluationScale.name}}
                </div>
                <div class="col-sm-2 color-white font-large list-context" style="padding: 1px; width:22.5%; margin-left: 0;">
                  {{evaluation.date}}
                </div>
                <div class="col-sm-1 color-white font-large list-context" style="width: 10%; margin-left: 0; padding-right: 0;">
                  {{evaluation.weight}}
                </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default sckola-btn shadow-feed-element" style="float: left" ng-click="vm.cancel()">Cerrar</button>
</div>
</div>
