<div class="modal-content" style="background-color: #484b4e;border-color: black;">
    <div class="modal-header sckola-modal-header">
        <label class="color-white sckola-modal-title">
            Plan de evaluación: {{vm.namePlan}}
        </label>
    </div>
    <div class="row modal-body sckola-moda-body">
        <div class="col-sm-12">
            <ul  class="list-group">
                <li class="list-group-item modal-list-item col-sm-12" >
                    <div class="form-horizontal-login">
                        <div class="col-sm-3 color-white font-large list-context modal-title-evaluation" style="width: 20%; margin-left: 0; font-size: large;">Objetivo</div>

                        <div class="col-sm-3 color-white font-large list-context modal-span" style="width: 20%; margin-left: 0;"><span class="glyphicon glyphicon-check"></span></div>

                        <div class="col-sm-3 color-white font-large list-context modal-title-evaluation" style="width: 20%; margin-left: 0; font-size: large;">Evaluación</div>

                        <div class="col-sm-3 color-white font-large list-context modal-span" style="width: 20%; margin-left: 0; font-size: large;"><span class="glyphicon glyphicon-list-alt"></span></div>

                        <div class="col-sm-2 color-white font-large list-context modal-title-evaluation" style="width: 20%; margin-left: 0; font-size: large;">Escala</div>

                        <div class="col-sm-2 color-white font-large list-context modal-span" style="width: 20%; margin-left: 0; font-size: large;"><span class="glyphicon glyphicon-stats"></span></div>

                        <div class="col-sm-2 color-white font-large list-context modal-title-evaluation" style="width: 20%; margin-left: 0; font-size: large;">Fecha</div>

                        <div class="col-sm-2 color-white font-large list-context modal-span" style=" margin-left: 0;"><span class="glyphicon glyphicon-calendar"></span></div>

                        <div class="col-sm-2 color-white font-large list-context" style="width: 10%; margin-left: 0; font-size: large;">%</div>
                    </div>
                </li>
                <li ng-repeat="evaluation in vm.evaluations | orderBy:'date'"
                    class="list-group-item modal-list-item col-sm-12 " >
                    <div class="col-sm-12 form-horizontal-login" ng-hide="evaluation.editar">
                        <div class="col-sm-3 color-white font-large list-context" style="padding: 1px; width: 20%; margin-left: 0; font-size: large;">
                            {{evaluation.objective}}
                        </div>
                        <div class="col-sm-3 color-white font-large list-context" style="padding: 1px; width: 20%; margin-left: 0; font-size: large;">
                            {{evaluation.evaluationTool.name}}
                        </div>
                        <div class="col-sm-2 color-white font-large list-context" style="padding: 1px; width: 20%; margin-left: 0; font-size: large;">
                            {{evaluation.evaluationScale.name}}
                        </div>
                        <div class="col-sm-2 color-white font-large list-context" style="padding: 1px; width: 20%; margin-left: 0; font-size: large;">
                            {{evaluation.date}}
                        </div>
                        <div class="col-sm-2 color-white font-large list-context"  style="width: 10%; margin-left: 0; font-size: large;">
                            {{evaluation.weight}}
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default sckola-btn shadow-feed-element"
                style="float: left"
                ng-click="vm.cancel()">Cerrar</button>
    </div>
</div>
