<div class="modal-content" style="background-color: #484b4e;border-color: black;">
<div class="modal-header sckola-modal-header">
    <label class="color-white sckola-modal-title">
    Detalle del plan de evaluación: {{vm.namePlan}}
    </label>
    <div style="float: right" class="color-white font-large">
        Completo: {{vm.cuentaValor}}%
    </div>
</div>
<div class="row modal-body sckola-moda-body">
    <div class="col-sm-12">
        <div ng-show="vm.showMessage">
        <!--<div class="alert alert-success sckola-alert-success alert-notify success animate-show-hide" ng-show="vm.showmessageEdit" style="margin-left: 24%;" role="alert">{{vm.messageEditSuccess}}</div>
        <div class="alert alert-danger sckola-alert-warning alert-notify error animate-show-hide"
             ng-show="vm.messageEdit"
             role="alert">
            <label >{{vm.messageEditError}}</label>
        </div>-->
        </div>
        <ul  class="list-group">
            <li class="list-group-item modal-list-item col-sm-12" >
                <div class="form-horizontal-login">
                <div class="col-sm-3 color-white font-large list-context modal-title-evaluation" style="width: 20%; margin-left: 0; font-size: large;">Objetivo</div>

                <div class="col-sm-3 color-white font-large list-context modal-span" style="width: 20%; margin-left: 0;"><span class="glyphicon glyphicon-check"></span></div>

                <div class="col-sm-3 color-white font-large list-context modal-title-evaluation" style="width: 20%; margin-left: 0; font-size: large;">Evaluación</div>

                <div class="col-sm-3 color-white font-large list-context modal-span" style="width: 20%; margin-left: 0; font-size: large;"><span class="glyphicon glyphicon-list-alt"></span></div>

                <div class="col-sm-2 color-white font-large list-context modal-title-evaluation" style="width: 20%; margin-left: 0; font-size: large;">Escala</div>

                <div class="col-sm-2 color-white font-large list-context modal-span" style="width: 20%; margin-left: 0; font-size: large;"><span class="glyphicon glyphicon-stats"></span></div>

                <div class="col-sm-2 color-white font-large list-context modal-title-evaluation" style="width: 20%; margin-left: 0; font-size: large;">Fecha</div>

                <div class="col-sm-2 color-white font-large list-context modal-span" style=" margin-left: 0;"><span class="glyphicon glyphicon-calendar"></span></div>

                <div class="col-sm-1 color-white font-large list-context" style="width: 10%; margin-left: 0; font-size: large;">%</div>
                <div class="col-sm-1" style="width: 10%;">
                    <div ng-class="{mostrar: true == vm.validarAnadir}">
                        <span class="circulo" ng-class="{mostrar: true == vm.validarAnadir}" style="position: absolute; z-index: 10;top: -25px; left: -65px;">!</span>
                        <span class="tooltipstext" ng-class="{mostrar: true == vm.validarAnadir}" style="left: 50px;">Añadir una evaluación</span>
                        <div class="tooltips" ng-class="{mostrar: true == vm.validarAnadir}" style="left: 19px;"></div>
                    </div>
                    <span class="glyphicon glyphicon-plus-sign
                  color-white font-large" title="Nueva evaluación"
                  ng-click="vm.addEvaluationInEdit()"></span>
                </div>
                </div>
            </li>
            <li ng-repeat="evaluation in vm.evaluations | orderBy: vm.sortDates"
            class="list-group-item modal-list-item col-sm-12 " >
                <div class="col-sm-12 form-horizontal-login" ng-hide="evaluation.editar">
                    <div class="col-sm-3 color-white font-large list-context" style="padding: 1px; width: 20%; margin-left: 0; font-size: large;">
                      {{evaluation.objective}}
                    </div>
                    <div class="col-sm-3 color-white font-large list-context" style="padding: 1px; width: 20%; margin-left: 0; font-size: large;">
                      {{evaluation.evaluationTool.name}}
                    </div>
                    <div class="col-sm-2 color-white font-large list-context" style="padding: 1px; width: 20%; margin-left: 0; font-size: large;">
                      {{evaluation.evaluationScale.name}}
                    </div>
                    <div class="col-sm-2 color-white font-large list-context" style="padding: 1px; width: 20%; margin-left: 0; font-size: large;">
                      {{evaluation.date}}
                    </div>
                    <div class="col-sm-1 color-white font-large list-context"  style="width: 10%; margin-left: 0; font-size: large;">
                      {{evaluation.weight}}
                    </div>
                    <div class="col-sm-1 color-white font-large" style="width: 10%;">
                      <span class="glyphicon glyphicon-pencil"
                        ng-hide="evaluation.status != 'PENDING'" title="Editar"
                        ng-click="evaluation.editar = true"></span>
                    </div>
                </div>
                <div class="col-sm-12 form-horizontal-login" ng-show="evaluation.editar" style="padding-left: 0;">
                    <div class="col-sm-3" style="padding: 1px; width: 20%;">
                        <div ng-class="{mostrar: true == evaluation.validateObjetive}">
                            <span class="circulo" ng-class="{mostrar: true == evaluation.validateObjetive}" style="position: absolute; z-index: 10;top: -25px; left: -15px;">!</span>
                            <span class="tooltipstext" ng-class="{mostrar: true == evaluation.validateObjetive}">Escriba el objetivo de la evaluación</span>
                            <div class="tooltips" ng-class="{mostrar: true == evaluation.validateObjetive}"></div>
                        </div>
                      <input class="form-control" type="text" style="width: 100%;font-size: 12px; padding: 0;"
                             ng-model="evaluation.objective" ng-change="vm.validarCamposNewEvaluations(evaluation)">
                    </div>
                    <div class="col-sm-3" style="padding: 1px; width: 20%;">
                        <div ng-class="{mostrar: true == evaluation.validationEvaluation}">
                            <span class="circulo" ng-class="{mostrar: true == evaluation.validationEvaluation}" style="position: absolute; z-index: 10;top: -25px; left: -15px;">!</span>
                            <span class="tooltipstext" ng-class="{mostrar: true == evaluation.validationEvaluation}">Seleccione el tipo de la evaluación</span>
                            <div class="tooltips" ng-class="{mostrar: true == evaluation.validationEvaluation}"></div>
                        </div>
                      <select ng-model="evaluation.evaluationTool" ng-change="vm.validarCamposNewEvaluations(evaluation)"
                              ng-options="tools as tools.name for tools in vm.evaluationTools track by tools.name"
                              class="form-control center-block" style="padding: 0;">
                          <option value="">-- Seleccione --</option>
                      </select>
                    </div>
                    <div class="col-sm-2" style="padding: 1px; width: 20%;">
                        <div ng-class="{mostrar: true == evaluation.validateScale}">
                            <span class="circulo" ng-class="{mostrar: true == evaluation.validateScale}" style="position: absolute; z-index: 10;top: -25px; left: -15px;">!</span>
                            <span class="tooltipstext" ng-class="{mostrar: true == evaluation.validateScale}">Seleccione la escala de la evaluación</span>
                            <div class="tooltips" ng-class="{mostrar: true == evaluation.validateScale}"></div>
                        </div>
                      <select ng-model="evaluation.evaluationScale" name="scale"
                              required ng-change="vm.validarCamposNewEvaluations(evaluation)"
                              ng-options="scale as scale.name for scale in vm.scales track by scale.name"
                              class="form-control center-block" style="padding: 0;">
                          <option value="">-- Seleccione --</option>

                      </select>
                    </div>
                    <div class="col-sm-2" style="padding: 1px; width: 20%;">
                        <div ng-class="{mostrar: true == evaluation.validateDate}">
                            <span class="circulo" ng-class="{mostrar: true == evaluation.validateDate}" style="position: absolute; z-index: 10;top: -25px; left: -15px;">!</span>
                            <span class="tooltipstext" ng-class="{mostrar: true == evaluation.validateDate}">Seleccione la fecha de la evaluación</span>
                            <div class="tooltips" ng-class="{mostrar: true == evaluation.validateDate}"></div>
                        </div>
                      <input class="form-control" type="date"
                             style="width: 100%;font-size: 12px;padding: 0;"
                             ng-model="evaluation.dateNew" ng-change="vm.validarFecha(evaluation);vm.validarCamposNewEvaluations(evaluation)" >

                    </div>
                    <div class="col-sm-1" style="width: 10%; padding: 1px;" >
                        <div ng-class="{mostrar: true == evaluation.validateWeight}">
                            <span class="circulo" ng-class="{mostrar: true == evaluation.validateWeight}" style="position: absolute; z-index: 10;top: -25px; left: -15px;">!</span>
                            <span class="tooltipstext" ng-class="{mostrar: true == evaluation.validateWeight}">Escriba el peso de la evaluación</span>
                            <div class="tooltips" ng-class="{mostrar: true == evaluation.validateWeight}"></div>
                        </div>
                        <input class="form-control" ng-change="vm.validarCamposNewEvaluations(evaluation)"
                                                  type="text"
                                                  maxlength="3"
                                                  style="width: 100%;font-size: 12px;padding: 0;"
                                                  ng-model="evaluation.weight">
                    </div>
                    <div class="col-sm-1" style="width: 10%;" ><span class="glyphicon glyphicon-minus-sign color-white"
                                                 title="Eliminar evaluación"
                                                 ng-click="vm.eliminarEvaluation(evaluation)">
                                           </span>
                                            <span class="glyphicon glyphicon-floppy-disk color-white"
                                                title="Guardar"
                                                ng-click="vm.editEvaluation(evaluation)"></span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default sckola-btn shadow-feed-element"
            style="float: left"
            ng-click="vm.cancel()">Cerrar</button>
</div>
</div>
