<div class="modal-content modal-new-evaluation" style="background-color: #484b4e;border-color: black;">
<div class="modal-header sckola-modal-header">
    <label class="color-white sckola-modal-title"> Plan de evaluación</label>
</div>
<div class="modal-body sckola-moda-body">
    <div class="row">
        <form role="form" name="formPlantilla" >
            <div class="form-group col-sm-12">
                <div class="form-group col-sm-12" style="padding-left: 0;">
                    <div class="col-sm-2 color-white font-large" >Nombre:</div>
                    <div class="col-sm-5 col-sm-offset-1" >
                        <div ng-class="{mostrar: true == vm.validationName}">
                        <span class="circulo" ng-class="{mostrar: true == vm.validationName}" style="position: absolute; z-index: 10;top: -25px; left: 1px;">!</span>
                        <span class="tooltipstext" ng-class="{mostrar: true == vm.validationName}">Escriba el nombre de la evaluación</span>
                        <div class="tooltips" ng-class="{mostrar: true == vm.validationName}"></div>
                    </div>
                        <input class="form-control" ng-model="vm.evaluationName" ng-change="vm.validarCamposNewEvaluation()">
                    </div>
                    <div class="col-sm-4 color-white font-large" style="float: right" >
                        Completo: {{vm.cuentaValor}}%
                    </div>
                </div>

                <div class="form-group col-sm-12" style="padding-left: 0;">
                    <div class="col-sm-2 color-white font-large" >Plantilla preexistente:</div>
                    <div class="col-sm-9 col-sm-offset-1" >
                        <select ng-model="vm.plantillaPreexistente" name="scale" required
                                ng-options="template.name for template in vm.evaluationTemplate"
                                class="form-control center-block" ng-change="vm.viewTemplate()"
                                style="padding: 0px 18px;">
                            <option value="">-- Seleccionar plantilla --</option>
                        </select>
                    </div>
                </div>
                <div class="form-horizontal-login" style="width: 100%">
                <div class="col-sm-11" style="width: 90%; padding-right: 0;">
                    <ul style="padding-left: 0px" class="list-group">
                        <li class="list-group-item modal-list-item col-sm-12" style="padding-left: 0px">
                            <div class="form-horizontal-login">
                            <div class="col-sm-3 color-white font-large list-context modal-title-evaluation" style="width: 22.5%; margin-left: 0; font-size: large;">Objetivo</div>

                            <div class="col-sm-3 color-white font-large list-context modal-span" style="width: 22.5%; margin-left: 0;"><span class="glyphicon glyphicon-check"></span></div>

                            <div class="col-sm-3 color-white font-large list-context modal-title-evaluation" style="width: 22.5%; margin-left: 0; font-size: large;">Evaluación</div>

                            <div class="col-sm-3 color-white font-large list-context modal-span" style="width: 22.5%; margin-left: 0; font-size: large;"><span class="glyphicon glyphicon-list-alt"></span></div>

                            <div class="col-sm-2 color-white font-large list-context modal-title-evaluation" style="width: 22.5%; margin-left: 0; font-size: large;">Escala</div>

                            <div class="col-sm-2 color-white font-large list-context modal-span" style="width: 22.5%; margin-left: 0; font-size: large;"><span class="glyphicon glyphicon-stats"></span></div>

                            <div class="col-sm-2 color-white font-large list-context modal-title-evaluation" style="width: 22.5%; margin-left: 0; font-size: large;">Fecha</div>

                            <div class="col-sm-2 color-white font-large list-context modal-span" style="width: 20%; padding-right: 0; margin-left: 0;"><span class="glyphicon glyphicon-calendar"></span></div>

                            <div class="col-sm-1 color-white font-large list-context" style="width: 10%; margin-left: 0;">%</div>
                            </div>
                        </li>
                        <li ng-repeat="evaluacion in vm.planEvaluacion" class="list-group-item modal-list-item col-sm-12" style="padding: 0px; margin-bottom: 20px;" >
                            <div class="form-horizontal-login">
                            <div class="col-sm-3" style="width:20%; padding: 1px;">
                                <div ng-class="{mostrar: true == evaluacion.validateObjetive}">
                                    <span class="circulo" ng-class="{mostrar: true == evaluacion.validateObjetive}" style="position: absolute; z-index: 10;top: -25px; left: -15px;">!</span>
                                    <span class="tooltipstext" ng-class="{mostrar: true == evaluacion.validateObjetive}">Escriba el objetivo</span>
                                    <div class="tooltips" ng-class="{mostrar: true == evaluacion.validateObjetive}"></div>
                                </div>
                                <input ng-model="evaluacion.objective" ng-change="vm.validarCamposNewEvaluations(evaluacion)" class="form-control" style="width: 100%;font-size: 12px; padding: 15px 0;" id="objetivo0"/></div>
                            <div class="col-sm-3" style="width:20%; padding: 1px;">
                                <div ng-class="{mostrar: true == evaluacion.validationEvaluation}">
                                    <span class="circulo" ng-class="{mostrar: true == evaluacion.validationEvaluation}" style="position: absolute; z-index: 10;top: -25px; left: -15px;">!</span>
                                    <span class="tooltipstext" ng-class="{mostrar: true == evaluacion.validationEvaluation}">Escriba el tipo de evaluación</span>
                                    <div class="tooltips" ng-class="{mostrar: true == evaluacion.validationEvaluation}"></div>
                                </div>
                                <select ng-model="evaluacion.evaluationTool" name="scale" required ng-change="vm.validarCamposNewEvaluations(evaluacion)"
                                                                                ng-options="tools as tools.name for tools in vm.evaluationTools track by tools.name"
                                                                                class="form-control center-block" style="color:black; padding: 0;">
                                    <option value="">-- Seleccione --</option>
                            </select></div>
                            <div class="col-sm-3" style="width:20%; padding: 1px;">
                                <div ng-class="{mostrar: true == evaluacion.validateScale}">
                                    <span class="circulo" ng-class="{mostrar: true == evaluacion.validateScale}" style="position: absolute; z-index: 10;top: -25px; left: -15px;">!</span>
                                    <span class="tooltipstext" ng-class="{mostrar: true == evaluacion.validateScale}">Escriba la escala de la evaluación</span>
                                    <div class="tooltips" ng-class="{mostrar: true == evaluacion.validateScale}"></div>
                                </div>
                                <select ng-model="evaluacion.evaluationScale" name="scale" required ng-change="vm.validarCamposNewEvaluations(evaluacion)"
                                        ng-options="scale as scale.name for scale in vm.scales track by scale.name"
                                        class="form-control center-block"
                                        style="padding: 0;">
                                    <option value="">-- Seleccione --</option>
                                </select>
                            </div>
                            <div class="col-sm-2" style="width:20%; padding: 1px;">
                                <div ng-class="{mostrar: true == evaluacion.validateDate}">
                                    <span class="circulo" ng-class="{mostrar: true == evaluacion.validateDate}" style="position: absolute; z-index: 10;top: -25px; left: -15px;">!</span>
                                    <span class="tooltipstext" ng-class="{mostrar: true == evaluacion.validateDate}">Escriba la fecha de la evaluación</span>
                                    <div class="tooltips" ng-class="{mostrar: true == evaluacion.validateDate}"></div>
                                </div>
                                <input ng-model="evaluacion.dateNew" class="form-control" style="width: 100%;font-size: 12px;padding: 0;" id="fecha0" ng-change="vm.validarFecha(evaluacion);vm.validarCamposNewEvaluations(evaluacion)" type="date"/></div>
                            <div class="col-sm-1" style="width:20%; padding: 1px;">
                                <div ng-class="{mostrar: true == evaluacion.validateWeight}">
                                    <span class="circulo" ng-class="{mostrar: true == evaluacion.validateWeight}" style="position: absolute; z-index: 10;top: -25px; left: -15px;">!</span>
                                    <span class="tooltipstext" ng-class="{mostrar: true == evaluacion.validateWeight}">Escriba el peso de la evaluación</span>
                                    <div class="tooltips" ng-class="{mostrar: true == evaluacion.validateWeight}"></div>
                                </div>
                                <input ng-model="evaluacion.weight" maxlength="3" class="form-control" style="width: 100%;font-size: 12px;padding: 0;" ng-change="vm.completeValor();vm.validarCamposNewEvaluations(evaluacion)" id="porcentaje0"/></div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-1" style="padding-left: 15px; text-align: center; width: 10%;">
                    <table>
                        <tr class="alignMiddler">
                            <td class="list-group-item modal-list-item" style="border-color: transparent; padding-left: 0; padding-right: 0;">
                                <div ng-class="{mostrar: true == vm.validarAnadir}">
                                    <span class="circulo tooltipsModalEvaluationNewCircule" ng-class="{mostrar: true == vm.validarAnadir}" style="position: absolute; z-index: 10;top: -25px; left: -15px;">!</span>
                                    <span class="tooltipstext tooltipsModalEvaluationNew" ng-class="{mostrar: true == vm.validarAnadir}">Añadir una evaluación</span>
                                    <div class="tooltips" ng-class="{mostrar: true == vm.validarAnadir}" style="left: 2px;"></div>
                                </div>
                                <span class="glyphicon glyphicon-plus-sign color-white font-large" style="vertical-align: middle" ng-click="vm.addEvaluation()"></span>
                            </td>
                        </tr>
                        <tr ng-repeat="evaluacion in vm.planEvaluacion">
                            <td class="list-group-item modal-list-item" style="border-color: transparent;  padding-left: 0; padding-right: 0; margin-bottom: 10px;">
                                <span class="glyphicon glyphicon-minus-sign color-white font-large" style="vertical-align: middle" ng-click="vm.quitarEvaluation(evaluacion)"></span>
                            </td>
                        </tr>
                    </table>
                </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default sckola-btn btn-matter-modal" style="float: left" ng-click="vm.cancel()">Cerrar <span class="glyphicon glyphicon-remove"></span></button>
    <button class="btn btn-default sckola-btn btn-matter-modal" ng-click="vm.saveEvaluationPlan()" ng-disabled="vm.evaluationName == null || vm.evaluationName == '' || vm.evaluationName == undefined">Guardar <span class="glyphicon glyphicon-ok"></span></button>
</div>
</div>
